- form_for @invite do |form|
  = form.error_messages

  %h2 Invite a Friend

  %p
    = form.label :to, "Friend's name"
    = form.text_field :to

  %p
    = form.label :email, "Friend's email"
    = form.text_field :email

  = form.submit "Invite friend"

.centered_content
  %p
    When you invite a friend they will receive an email similar to the sample
    below:

  %pre
    = render(:partial => "notifier/invitation", :locals => {:to => "[Friend's Name]", :from => current_user.display_name, :url => root_url})

:javascript
  $(function() {
    $('#invite_submit').click(function() {
      _gaq.push(['_trackEvent', 'action_button', 'invite friend']);
    });
  });

%style
  :sass
    .centered_content
      margin-left: auto
      margin-right: auto
      margin-top: 2em
      width: 475px
