= stylesheet_link_tag "branded"

%style
  :sass
    .centered_content
      margin-left: auto
      margin-right: auto
      margin-top: 2em
      width: 475px

- form_for @invite, :html => { :class => "module", :style => "width: 475px;" } do |form|
  = form.error_messages

  %h2 Invite a Friend

  %label
    %h3 Friend's name
    = form.text_field :to

  %label
    %h3 Friend's email
    = form.text_field :email

  = form.submit "Invite friend"

.centered_content
  %h3
    When you invite a friend they will receive an email similar to the sample
    below:

  %pre
    = render(:partial => "notifier/invitation", :locals => {:to => "[Friend's Name]", :from => current_user.display_name, :url => root_url})

:javascript
  $(function() {
    $('#invite_submit').click(function() {
      _gaq.push(['_trackEvent', 'action_button', 'invite friend']);
    });
  });
