= form_for @invite, html: { class: "primary" } do |form|
  = form.error_messages

  %h1 Invite a Friend

  %label
    %h3 Friend's name
    = form.text_field :to

  %label
    %h3 Friend's email
    = form.text_field :email

  %button.cta(eventLabel="Invite Submit") Invite friend

%section.invite-sample
  %h2
    When you invite a friend they will receive an email similar to the sample
    below:

  = render(:partial => "notifier/invitation", :locals => {:to => "[Friend's Name]", :from => current_user.display_name, :token => "test"})
