- if sprite = activity.trackable
  - creator = activity.owner
  %created-sprite
    %header
      = render sprite
      = avatar_link creator
    %section
      %header
        = link_to creator.display_name, creator, rel: "author"
        created a new sprite
        = link_to "#{time_ago_in_words(activity.created_at)} ago", sprite, class: "time"
