= stylesheet_link_tag "branded"

= form_for @user, :html => { :class => "module" }, :url => password_reset_path, :method => :put do |f|
  = f.error_messages

  %h1 Change My Password

  %p
    = f.label :password, "New Password"
    = f.password_field :password

  = f.submit "Update my password and log me in"
