%comment{ 'data-commentable_id' => "#{comment.commentable_id}" }><
  %header><
    = avatar_link comment.commenter
  %section
    = markdown(comment.body)
    %footer
      = link_to comment.commenter.display_name, comment.commenter, rel: "author"
      &nbsp;
      = link_to "#{time_ago_in_words(comment.created_at)} ago", comment.commentable, class: "time"
