:plain
  Hello #{to.display_name},

  #{from.display_name} thinks that your Pixie #{type} is really interesting. They said:

    #{body}

  Check it out here #{user_url(to)}

  Creatively Yours,
  Pixie

  Change your email notification settings: #{edit_user_url(to)}
