:ruby
  newsletter_header = "This week in Pixie: #{delivery_date}"

  tutorial_1 = Project.find 176
  tutorial_2 = Project.find 218
  tutorial_3 = Project.find 227
  tutorial_4 = Project.find 265
  sur5n = Project.find 596

  paragraphs = ["We’ve added cool new email features to keep you up to date with the ever growing Pixie community. Now you receive emails when people remix your sprites or reply to a forum thread you are interested in. These emails are enabled by default but you can always change your settings by clicking #{link_to 'edit profile', edit_user_url(@user)} on your home page.", "The tutorial for this week is a four parter. It teaches you, step by step, how to move an object around and make it jump like in a Mario game. #{project_ide_link(tutorial_1)}, #{project_ide_link(tutorial_2)}, #{project_ide_link(tutorial_3)}, and #{project_ide_link(tutorial_4)}.", #{project_preview_link(tutorial_1)} #{project_preview_link(tutorial_2)} #{project_preview_link(tutorial_3)} #{project_preview_link(tutorial_4)}", "Drop by the #{link_to('forums', forem_url(nil, @link_tracking))}, ask the tough questions, and learn how to make the game of your dreams. Make sure to introduce yourself to our newest forum members:", "#{project_preview_left(sur5n)} In other news, Ludum Dare 21 happened this past weekend. Ludum Dare is a 48 hour themed game competition. Our own #{link_to @daniel.display_name, user_url(@daniel)} built his entry using Pixie. Check out his FBI surf escape simulator, #{link_to sur5n.display_name, fullscreen_project_url(sur5n, @link_tracking)}.", "That’s all for now. Now get out there and make those games!"]

  pixie_blue = "#1084CE"
  content_bg = "#FFFFFF"
  text_color = "#555555"

render :partial => "newsletter"