:ruby
  delivery_date = Time.now.strftime("%b %d %Y")
  link_tracking = { :utm_source => 'newsletter', :utm_medium => 'email', :utm_campaign => delivery_date }

  newsletter_header = "This week in Pixie: #{delivery_date}"

  tutorial_1 = Project.find 176
  tutorial_2 = Project.find 218
  tutorial_3 = Project.find 227
  tutorial_4 = Project.find 265
  sur5n = Project.find 596

  paragraphs = ["We’ve added cool new email features to keep you up to date with the ever growing Pixie community. Now you receive emails when people remix your sprites or reply to a forum thread you are interested in. These emails are enabled by default but you can always change your settings by clicking #{link_to 'edit profile', user_url(@user, link_tracking)} on your home page.", "The tutorial for this week is a four parter. It teaches you, step by step, how to move an object around and make it jump like in a Mario game. #{link_to('part one', ide_project_url(tutorial_1, link_tracking))}, #{link_to('part two', ide_project_url(tutorial_2, link_tracking))}, #{link_to('part three', ide_project_url(tutorial_3, link_tracking))}, and #{link_to('part four', ide_project_url(tutorial_4, link_tracking))}", "#{link_to image_tag(tutorial_1.image.url(:thumb), :alt => tutorial_1.display_name, :style => "display:inline-block;margin-left:1em;margin-right:1em;width:96px;height:96px;"), fullscreen_project_url(tutorial_1, link_tracking)} #{link_to image_tag(tutorial_2.image.url(:thumb), :alt => tutorial_2.display_name, :style => "display:inline-block;margin-left:1em;margin-right:1em;width:96px;height:96px;"), fullscreen_project_url(tutorial_2, link_tracking)} #{link_to image_tag(tutorial_3.image.url(:thumb), :alt => tutorial_3.display_name, :style => "display:inline-block;margin-left:1em;margin-right:1em;width:96px;height:96px;"), fullscreen_project_url(tutorial_3, link_tracking)} #{link_to image_tag(tutorial_4.image.url(:thumb), :alt => tutorial_4.display_name, :style => "display:inline-block;margin-left:1em;margin-right:1em;width:96px;height:96px;"), fullscreen_project_url(tutorial_4, link_tracking)}", "Drop by the #{link_to('forums', forem_url(nil, link_tracking))}, ask the tough questions, and learn how to make the game of your dreams. Make sure to introduce yourself to our newest forum members:", "#{link_to image_tag(sur5n.image.url(:thumb), :alt => sur5n.display_name, :style => "float:left;margin-right:1em;width:96px;height:96px;"), fullscreen_project_url(sur5n, link_tracking)} In other news, Ludum Dare 21 happened this past weekend. Ludum Dare is a 48 hour themed game competition. Our own #{link_to @daniel.display_name, user_url(@daniel, link_tracking)} built his entry using Pixie. Check out his FBI surf escape simulator, #{link_to sur5n.display_name, fullscreen_project_url(sur5n, link_tracking)}.", "That’s all for now. Now get out there and make those games!"]

  pixie_blue = "#1084CE"
  content_bg = "#FFFFFF"
  text_color = "#555555"

%html
  %body(bgcolor=pixie_blue leftmargin="0" marginheight="0" marginwidth="0" offset="0" topmargin="0")
    %table(bgcolor=pixie_blue cellpadding="10" cellspacing="0" width="100%")
      %tr
        %td(align="center" valign="top")
          %table(cellpadding="0" cellspacing="0" width="550")
            %tr
              %td(style="background-color:#{content_bg};border-top:0px solid #333333;border-bottom:10px solid #{content_bg};")
                %center
                  = link_to(image_tag("#{root_url}assets/pixie_banner.png", :alt => "Pixie", :title => "Pixie", :border => "0", :align => "center"), root_url, link_tracking)
          %table(bgcolor=content_bg cellpadding="20" cellspacing="0" width="550")
            %tr
              %td(bgcolor=content_bg style="font-size:12px;color:#000000;line-height:150%;font-family:trebuchet ms;" valign="top")
                %h1(style="color:#{text_color};margin-top:0;")=newsletter_header
                - paragraphs.each do |paragraph|
                  %div(style="font-size:11px;font-weight:normal;color:#{text_color};font-style:italic;font-family:arial;margin-bottom:1em;overflow:auto;width:100%;")
                    = paragraph.html_safe
                    - if paragraph ==  paragraphs[3]
                      - @featured_users.each do |user|
                        = link_to image_tag(user.avatar.url(:thumb), :alt => user.display_name, :class => :avatar), user_url(user, link_tracking)
                        = link_to user, user_url(user, link_tracking)
                        - if user == @featured_users.last
                          = "."
                        - elsif user == @featured_users[-2]
                          , and
                        - else
                          ,
            %tr
              %td(style="background-color:content_bg;border-top:10px solid content_bg;padding-top:0;" valign="top")
                %span(style="font-size:10px;color:#{text_color};line-height:100%;font-family:verdana;")
                  %center(style="margin-bottom:2px;")
                    = link_to "Unsubscribe", { :controller => "/users", :action => "unsubscribe", :token => @user.perishable_token, :only_path => false }, link_tracking
                    %br
                    %br
                    Copyright (C) #{Time.now.year} STRd6 All rights reserved.