:plain

  <table cellpadding="0" cellspacing="0" width="100%" style="padding: 0 0 18px 0;">
    <tr>
      <td>
        Greetings #{@user.display_name}!
      </td>
    </tr>
  </table>


  <table cellpadding="0" cellspacing="0" width="100%" style="padding: 0 0 18px 0;">
    <tr>
      <td>
        Thank you so much for signing up on PixieEngine! We're a fun, supportive, and welcoming community. We hope you'll spend time here making friends and making art :)
      </td>
      <td width="67px" align="right" valign="top">
        <a href="https://pixieengine.com/sprites/151378"><img src="https://2.pixiecdn.com/sprites/151378/original.png" width=47 height=48 alt="L Lawliet by msannewalker"></a>
      </td>
    </tr>
  </table>
    <table cellpadding="0" cellspacing="0" width="100%" style="padding: 0 0 18px 0;">
    <tr>
      <td>
        Here you can create and share amazing pixel art, comment on work you enjoy, collect favorites, make friends, and follow other talented artists.
      </td>
    </tr>
  </table>
  <table cellpadding="0" cellspacing="0" width="100%" style="padding: 0 0 18px 0;">
    <tr>
      <td>
        As our humble community grows we seek to provide everyone creative with means to produce amazing digital creations. We grow and learn from everyone's wonderful contributions.
      </td>
    </tr>
  </table>
  <table cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td>
        So, what are you waiting for? Jump right in and start creating! Or, if you're looking for inspiration, check out our amazing gallery with over 150,000 works of art!
      </td>
    </tr>
  </table>
  <table cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td align="center" style="padding: 48px 0 48px 0;">
        <a href="#{sprites_url}" style="#{cta_style}">Visit the Gallery</a>
      </td>
      <td align="center" style="padding: 48px 0 48px 0;">
        <a href="#{new_sprite_url}" style="#{cta_style}">Create a Sprite</a>
      </td>
    </tr>
  </table>
  <table cellpadding="0" cellspacing="0" width="100%" style="padding: 0 0 28px 0;">
    <tr>
      <td width=100>
        <img alt="Daniel X Moore, Creator of PixieEngine" src="https://0.pixiecdn.com/cm/danielx.jpg?1" style="border-radius: 50%" width=80 height=80>
      </td><td>
        Veritably Yours,
        <br>
        Daniel X
        <br>
        Creator of PixieEngine
      </td>
    </tr>
  </table>
  <table cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td align="center">
        <a href="https://pixieengine.com/sprites/77290"><img alt="Potion case by TyaHunter" src="https://2.pixiecdn.com/sprites/77290/original.png" width=223 height=60></a>
      </td>
    </tr>
  </table>
