:plain
  Greetings #{@user.display_name}, and welcome to Pixie!

  On Pixie you'll create amazing games from anywhere with an internet connection and be able to instantly share them with the world.

  How about giving it a try right now? Follow along with the tooltips, they'll help point you in the right direction: #{ide_project_url("demo", @link_tracking)}. If you want to learn more, we have an entire section of tutorials: #{projects_url(@link_tracking.merge({:filter => 'tutorial'}))}. There's even a showcase of complete games you can play, explore, and learn from: #{projects_url(@link_tracking.merge({:filter => 'featured'}))}.

  You can also dig in to our vast gallery of pixel art: #{sprites_url(@link_tracking)}, as well as create your own: #{new_sprite_url(@link_tracking)}.

  As the community grows our aim is to provide everyone the creative means to produce games: ideas, tools, and data. The more that we offer, the more that's returned to the community by way of new ideas and new creations.

  Be sure to introduce yourself in the forums and see what everyone is up to. Please don't hesitate to ask or post in the forums if you have any questions, we'll help you out as soon as we can: #{"http://pixieengine.com/community/forums/1/topics/1?utm_source=#{@link_tracking[:utm_source]}&utm_medium=#{@link_tracking[:utm_medium]}&utm_campaign=#{@link_tracking[:utm_campaign]}"}.

  Veritably Yours,
  Pixie

