- @title = "Animation Gallery"

.filters
  = button_link "Create Animation", "film_add", new_animation_path
  - if current_user
    = filter_link "My Animations", :own
  = filter_link "All", :none

%section
  .gallery
    = will_paginate
    = render :partial => animations
    = will_paginate

%style
  :sass
    @import partials/base
    @import util

    .title_container
      height: 35px
      white-space: nowrap

    h2
      display: inline-block

    .author
      color: #888

    .gallery .animation
      height: 170px

      .sprite_container
        +border-radius
        +bounds(64px)
        +contents-centered
        +inline-block

        background-color: #fff
        margin-right: 3px
        margin-bottom: 6px

        img
          max-height: 60px
          max-width: 60px

        .name
          text-align: center
          top: -17px
          white-space: nowrap
