%style
  :sass
    html.light
      background-image: url(/assets/editor_textured_background.png)

    #fullscreen
      padding: 3.5em 0 0

    body > .content
      border: none
      padding: 0

.editor.backbone_lebenmeister

= form_tag download_animations_path, :class => "download_json" do
  = hidden_field_tag :export_json_data

= form_tag download_animations_path, :class => "download_csv" do
  = hidden_field_tag :export_csv_data

- content_for :javascript do
  = javascript_include_tag "views/animations/editor"

  :coffeescript
    $ ->
      new Pixie.Views.Animations.Editor

      $('body').attr('id', 'fullscreen')
      lebenmeister = Pixie.Editor.Animation.create()

      $('#feedback').hide()

      lebenmeister.find('.export_json').mousedown ->
        $('#export_json_data').val(exportAnimationJSON())
        $('form.download_json').submit()

      lebenmeister.find('.export_csv').mousedown ->
        $('#export_csv_data').val(exportAnimationCSV())
        $('form.download_csv').submit()

      #window.currentComponent = lebenmeister
      #$('#lebenmeister').replaceWith(lebenmeister)
