= stylesheet_link_tag "branded"

- @title = "Sprite Gallery"

- tags = Sprite.with_ids(sprites).tag_counts
- @meta_desc = tags.join(' ') + sprites.map(&:title).compact.join(' ')

.sprites

  .tags
    - tags.each do |tag|
      = tag_link tag

- content_for :javascript do
  = javascript_include_tag "views/sprites/gallery"

  :coffeescript
    $ ->
      #{ActiveRecord::Base.include_root_in_json = false}
      sprite_gallery = new window.Pixie.Views.Sprites.Gallery
      sprite_gallery.collection.reset(sprite_gallery.collection.parse(#{@sprites_data.to_json}))

      $(".sprite_gallery img").live 'dragstart', (event) ->
        $this = $(this)
        name = $this.data('name')
        fileURL = $this.attr('src').replace("/thumb.png?", "/original.png?")
        event.dataTransfer.setData('DownloadURL', "image/png:\#{name}.png:\#{fileURL}")

%style
  :sass
    @import util
    @import partials/base

    .reset
      display: none
      margin-bottom: 19px
      margin-left: 1em

    .sprites
      position: relative

    .header
      h2
        display: inline-block
        margin: 0
        margin-top: 0.5em

    .spinner
      margin-left: 1em

    .tags
      bottom: -30px
      position: absolute

      .tag
        margin-left: 0.25em
        margin-right: 0.25em

    .pagination
      padding: 1em 0
      position: absolute
      top: 5px
      right: 13px

    .sprite_container
      +border-radius
      +bounds(48px)
      +pop-shadow

      background-color: white
      cursor: pointer
      display: inline-block
      margin-right: 8px
      margin-bottom: 3px

      &:hover
        background-color: $hover

      a
        +bounds(100%)
        +contents-centered

        display: block
