= stylesheet_link_tag "branded"

- @title = "Sprite Gallery"

- tags = Sprite.with_ids(sprites).tag_counts
- @meta_desc = tags.join(' ') + sprites.map(&:title).compact.join(' ')

= will_paginate sprites
.sprite_gallery
  .sprites
    = render :partial => "index_sprite", :collection => sprites
.tags
  - tags.each do |tag|
    = tag_link tag

:coffeescript
  $ ->
    $(".sprite_gallery img").live 'dragstart', (event) ->
      $this = $(this)
      name = $this.data('name')
      fileURL = $this.attr('src').replace("/thumb.png?", "/original.png?")
      event.dataTransfer.setData('DownloadURL', "image/png:\#{name}.png:\#{fileURL}")

%style
  :sass
    @import util
    @import partials/base

    .tags
      height: 29px
      padding-top: 0.5em

    .pagination
      padding: 1em 0

    .sprite_container
      +border-radius
      +bounds(48px)
      +pop-shadow

      background-color: white
      cursor: pointer
      display: inline-block
      margin-right: 7px
      margin-bottom: 3px

      &:hover
        background-color: $hover

      a
        +bounds(100%)
        +contents-centered

        display: block
