= stylesheet_link_tag "branded"

- @title = "Sprite Gallery"

- tags = Sprite.with_ids(sprites).tag_counts
- @meta_desc = tags.join(' ') + sprites.map(&:title).compact.join(' ')

.gallery.sprites_gallery
  .sprites
  .tags

- content_for :javascript do
  = javascript_include_tag "views/sprites/gallery"

  :coffeescript
    $ ->
      #{ActiveRecord::Base.include_root_in_json = false}
      sprite_gallery = new Pixie.Views.Sprites.Gallery
      sprite_gallery.collection.reset(sprite_gallery.collection.parse(#{@sprites_data.to_json}))

      $(document).on 'dragstart', "img", (event) ->
        $this = $(this)
        name = $this.data('name')
        fileURL = $this.attr('src').replace("/thumb.png?", "/original.png?")
        event.dataTransfer.setData('DownloadURL', "image/png:\#{name}.png:\#{fileURL}")

