- @title = "Sprite Gallery"

.sprite_gallery
  %nav.left
    .info_component
      %h3.name
      %span.author
      .sprite_container
        =image_tag("")
      %p.description
      %a.button#load_sprite{ :target => "_blank" }
        %img{ :src => "/images/icons/picture_edit.png" }
        Edit image
      -if current_user
        %a.button#set_avatar
          %img{ :src => "/images/icons/status_online.png"}
          Set as avatar
      =link_to "#{image_tag "icons/cross.png"} Delete".html_safe, "#", :method => :delete, :class => "button delete"
    .edit_component
      %h3 Edit
      - form_for sprites[0] do |form|
        = form.error_messages

        = form.label :title
        = form.text_field :title

        = form.label :description
        = form.text_area :description

        = form.submit

  %nav.right
    .comment_component
      %h3 Comments
      = render :partial => "shared/comment_form", :locals => {:commentable => sprites[0]}
      - sprites.each do |sprite|
        = render :partial => "comments/comment", :collection => sprite.comments

  %nav.bottom
    .tag_component
      %h3 Tags
      .tags
        - sprites.each do |sprite|
          - sprite.tag_list.each do |tag|
            = sprite_tag_link(sprite, tag)

          - sprite.source_list.each do |source|
            = sprite_tag_link(sprite, source)

          - sprite.dimension_list.each do |dimension|
            = sprite_tag_link(sprite, dimension)

        - form_tag "/sprites/#{sprites[0].id}/add_tag" do
          = text_field_tag :tag
          = submit_tag "Add"

  %section
    .sprites
      = will_paginate sprites

      = render :partial => "index_sprite", :collection => sprites

      .tags
        - tags = Sprite.with_ids(sprites).tag_counts
        - tags.each do |tag|
          = tag_link tag

      - @meta_desc = tags.join(' ') + sprites.map(&:title).compact.join(' ')

#comment.template
  .comment{ 'data-commentable_id' => "${commentable_id}" }
    %p ${body}
    %p.attribution
      %span.name ${name}
      %span.time ${time}

:coffeescript
  $( ->

    $(".tag .remove").die("click")

    $(".tag .remove").live "click", ->
      $this = $(this)
      spriteId = $this.parent().attr("data-sprite_id")
      tag = $this.prev().text()
      $this.parent().fadeOut 150, ->
        $this.parent().remove()

      $.post "/sprites/" + spriteId + "/remove_tag",
        tag: tag

    $('img').bind 'click mousedown mousemove', (event) ->
      event.preventDefault()

    select_sprite = (el) ->
      $('section .sprite_container').removeClass('selected')

      el.addClass('selected')

    collect_sprite_data = (sprite_el) ->
      sprite =
        id: $(sprite_el).attr('data-id')
        name: $(sprite_el).attr('data-name')
        description: $(sprite_el).attr('data-description')
        img: $(sprite_el).attr('data-original_url')

    collect_author_data = (sprite_el) ->
      author =
        id: sprite_el.attr('data-author_id')
        name: sprite_el.attr('data-author')

    $('section .sprite_container').mousedown ->
      el = $(this)

      select_sprite(el)

      sprite = collect_sprite_data(el)
      author = collect_author_data(el)

      update_info_component(sprite, author)
      update_tag_component(sprite)
      update_comment_component(sprite)
      update_edit_component(sprite)

    $('.comment_component form').ajaxForm
      dataType: 'json'
      resetForm: true
      beforeSerialize: ->
        notify("Saving...")
      success: (data) ->
        notify("Complete!")
        $('#new_comment textarea').val("")
        $('#comment').tmpl(
          body: data.body
          name: data.name
          commentable_id: data.commentable_id
          time: data.time
        ).insertBefore('.comment_component .comment:first')

        update_comment_component(collect_sprite_data($('section .sprite_container.selected')))

    $('.edit_component form').ajaxForm
      dataType: 'json'
      beforeSerialize: -> notify("Saving...")
      success: (data) ->
        notify("Complete!")

        sprite =
          id: data.id
          name: data.title
          description: data.description
          img: data.img

        author =
          id: data.author_id
          name: data.author

        update_sprite_info(sprite)
        update_info_component(sprite, author)

    update_tag_component = (sprite) ->
      $('.tag_component form').attr
        'action': '/sprites/' + sprite.id + '/add_tag'
        'data-sprite_id': sprite.id
      $('.tag_component .tag').hide()
      $('.tag_component .tag[data-sprite_id="' + sprite.id + '"]').css('display', 'inline-block')

    update_comment_component = (sprite) ->
      $('#comment_commentable_id').val(sprite.id)
      $('.comment_component .comment').hide()
      $('.comment_component .comment[data-commentable_id="' + sprite.id + '"]').show()

    update_info_component = (sprite, author) ->
      $('.info_component .name').text(sprite.name)
      if author.id
        $('.info_component .author').text("by ").append('<a href= "users/' + author.id + '"> ' + author.name + '</a>')
      else
        $('.info_component .author a').remove()
        $('.info_component .author').text("by " + author.name)

      $('.info_component .sprite_container img').attr('src', sprite.img)
      $('.info_component p.description').text(sprite.description)
      $('.info_component a.delete').attr('href', '/sprites/' + sprite.id)
      $('#load_sprite').attr('href', '/sprites/' + sprite.id + '/load')

    update_edit_component = (sprite) ->
      $('.edit_component form').attr
        action: 'sprites/' + sprite.id
        id: 'edit_sprite_' + sprite.id

      $('.edit_component #sprite_title').val(sprite.name)
      $('.edit_component #sprite_description').val(sprite.description)

    update_sprite_info = (sprite) ->
      $('section .sprite_container[data-id="' + sprite.id + '"]').attr
        'data-name': $('.edit_component #sprite_title').val()
        'data-description': $('.edit_component #sprite_description').val()

    $("#set_avatar").click ->
      notify("Saving...")

      data =
        sprite_id: $('section .sprite_container.selected').data('id')

      $.post("/users/#{current_user.id}/set_avatar", data, -> notify("Avatar successfully changed."))

    $('section .sprite_container').first().mousedown()
  )

%style
  :sass
    @import util
    @import blueprint/buttons
    @import partials/base

    $nav_left: 280px
    $nav_right: 200px
    $nav_bottom: 150px

    #fullscreen
      a
        color: #000

      .author, .pagination
        a
          color: #fff

      .comment
        display: none

      .comment
        margin-bottom: 1.5em

        p.attribution
          font-size: 0.8em
          margin: 0

          .time
            color: #999

      .edit_component textarea
        +bounds($nav_left - 40px, 50px)

      .tag_component form
        display: block
        margin-top: 15px

        input[type="submit"]
          display: inline-block

    form
      input[type="text"]
        +box-sizing(content-box)

        color: #000
        background-color: #fff

      input[type="submit"]
        margin: 0

      label
        display: block
        text-align: left

      textarea
        +bounds(150px, 50px)

        margin: 0

    section
      padding-left: $nav_left + 40px
      padding-right: $nav_right + 20px
      padding-bottom: $nav_bottom + 20px

      .sprites
        +border-radius(8px)
        +box-sizing(border-box)

        border: 1px solid $pixie_primary
        padding: 15px

      .sprite_container
        cursor: pointer

        &:hover
          background-color: $hover

        &.selected
          background-color: $pixie_primary

    .info_component
      .sprite_container
        +border-radius(8px)
        +bounds(96px)
        +contents-centered

        background-color: #fff
        display: block
        margin-bottom: 7px

    h3.name
      display: inline-block
      margin-right: 10px
      margin-bottom: 0

    .sprite_gallery
      +box-sizing(border-box)
      +user-select(none)

      height: 100%
      position: relative

      nav.left, nav.right, nav.bottom
        +border-radius

        background-color: $dark_highlight
        padding: 15px

      nav.left
        width: $nav_left

      nav.right
        width: $nav_right

      nav.bottom
        +box-sizing(border-box)

        height: $nav_bottom

    button, a.button
      +button-button
      +button-colors
      +button-hover-colors
      +button-active-colors
      +border-radius(4px)

      margin: 0
      padding-left: 2px
      padding-right: 2px

      &[disabled]
        color: #AAA
        cursor: default

        &:hover
          color: #AAA

    .pagination
      color: $pixie_primary
      margin-bottom: 5px

    body
      .sprite_container
        +border-radius(8px)
        +bounds(48px)
        +contents-centered

        background-color: white
        display: inline-block
        margin-right: 7px
        margin-bottom: 3px
