- @title = "Sprites"

.sprites_gallery
  .sidebar
    .info_component
      %h3.name= sprites[0].display_name
      %span.author by #{link_to sprites[0].user, sprites[0].user}
      .sprite_container
        =image_tag(sprites[0].image.url)
      %p.description
      %a.button#load_sprite{ :target => "_blank" }
        %img{ :src => "/images/icons/picture_edit.png" }
        Edit image
      %a.button#set_avatar
        %img{ :src => "/images/icons/status_online.png"}
        Set as avatar
      =link_to "#{image_tag "icons/cross.png"} Delete".html_safe, sprite_path(sprites[0]), :method => :delete, :class => "button delete"
    .tag_component
      %h3 Tags
      .tags
        - sprites[0].tag_list.each do |tag|
          = sprite_tag_link(sprites[0], tag)

        - sprites[0].source_list.each do |source|
          = sprite_tag_link(sprites[0], source)

        - sprites[0].dimension_list.each do |dimension|
          = sprite_tag_link(sprites[0], dimension)
        - form_tag "/sprites/#{sprites[0].id}/add_tag" do
          = text_field_tag :tag
          = submit_tag "Add"
    .comment_component
      = display_comments sprites[0]
    .edit_component
      %h3 Edit
      - form_for sprites[0] do |form|
        = form.error_messages

        %p
          = form.label :title
          = form.text_field :title

        %p
          = form.label :description
          = form.text_area :description

        = form.submit

  .main
    .sprites
      = will_paginate sprites

      = render :partial => "index_sprite", :collection => sprites

      .tags
        - tags = Sprite.with_ids(sprites).tag_counts
        - tags.each do |tag|
          = tag_link tag

      - @meta_desc = tags.join(' ') + sprites.map(&:title).compact.join(' ')

#new_tag.template
  .tag{ 'data-sprite_id' => "${sprite_id}" }
    %a{ :href => "/sprites?tagged=${name}" } ${name}
    .remove X

:coffeescript
  select_sprite = ->
    el = $(this)

    if !el.hasClass('selected')
      el.removeClass('selected')

    el.addClass('selected')

  $('.main .sprite_container').mousedown ->
    select_sprite()

    sprite =
      id: $(this).data('id')
      name: $(this).data('name') || "Sprite " + $(this).data('id')
      description: $(this).data('description') || ""
      img: $(this).data('original_url')

    author =
      id: $(this).data('author_id')
      name: $(this).data('author')

    tags = $(this).data('tags')
    comments = $(this).find('.comments_area').children().clone()

    author_path = (author_id) ->
      "users/" + author_id

    edit_form_selector = (sprite_id) ->
      '.main #edit_sprite_' + sprite_id

    update_info_component = ->
      $('.info_component .name').text(sprite.name)
      if author.id
        $('.info_component .author a').text(author.name).attr('href', author_path(author.id))
      else
        $('.info_component .author a').text(author.name).removeAttr('href')

      $('.info_component .sprite_container img').attr('src', sprite.img)

      $('.info_component p.description').text(sprite.description)

      $('.info_component a.delete').attr('href', '/sprites/' + sprite.id)
      $('#load_sprite').attr('href', '/sprites/' + sprite.id + '/load')

    clear_tags = ->
      $('.tag_component .tag').remove()

    update_tag_component = ->
      clear_tags()

      $.each tags.split(" "), (i, tag) ->
        $('#new_tag').tmpl(
          sprite_id: sprite.id
          name: tag
        ).insertBefore('.tag_component form')

      $('.tag_component form').attr('action', '/sprites/' + sprite.id + '/add_tag')

    clear_comments = ->
      $('.comment_component .comment').remove()

    update_comment_component = ->
      clear_comments()

      comments.appendTo('.comment_component')

      $('.comment_component form').ajaxForm
        beforeSerialize: ->
          notify("Saving...")
        success: (data) ->
          notify("Complete")

    update_sprite_info = ->
      title = $('.edit_component #sprite_title').val()
      description = $('.edit_component #sprite_description').val()

      $('.main .sprite_container[data-id="' + sprite.id + '"]').data
        name: title
        description: description

      sprite.name = title
      sprite.description = description

    update_edit_component = ->
      $('.edit_component form').attr('action', 'sprites/' + sprite.id).attr('id', 'edit_sprite_' + sprite.id)
      $('.edit_component #sprite_title').val(sprite.name)
      $('.edit_component #sprite_description').val(sprite.description)

      $('.edit_component form').ajaxForm(
        beforeSerialize: ->
          notify("Saving...")
        success: (data) ->
          notify("Complete!")

          update_sprite_info()
          update_info_component()
      )

    update_info_component()
    update_tag_component()
    update_comment_component()
    update_edit_component()

  $("#set_avatar").live "click", ->
    notify("Saving...")

    data =
      sprite_id: $(this).prev().find('img').data('id')

    $.post("/users/#{current_user.id}/set_avatar", data, -> notify("Avatar successfully changed."))

%style
  :sass
    @import util
    @import blueprint/buttons

    $dark_bg: #000002
    $dark_highlight: lighten(#000d16, 5)
    $pixie_blue: #1084ce
    $light_highlight: #b2e2ff
    $light_bg: #d2eeff

    form
      input[type="text"]
        +box-sizing(content-box)

        color: black
        background-color: #fff

      label
        text-align: left

    .info_component, .tag_component, .comment_component, .edit_component
      +border-radius(8px)
      +box-sizing(border-box)

      background-color: $dark_highlight
      margin-bottom: 10px
      padding: 15px

    .main
      padding-left: 350px

      .sprites
        +border-radius(8px)
        +box-sizing(border-box)

        border: 1px solid $pixie_blue
        padding: 15px

      .sprite_container
        &:hover
          background-color: #FFF6BF

        &.selected
          background-color: $pixie_blue

    .info_component
      .sprite_container
        +border-radius(8px)
        +bounds(96px)
        +contents-centered

        background-color: #fff
        display: block
        margin-bottom: 7px

    .comment_component, .edit_component
      input[type="submit"]
        margin: 0

    .actions
      position: absolute
      bottom: 0

    h3.name
      display: inline-block
      margin-right: 10px
      margin-bottom: 0

    .sprites_gallery
      +box-sizing(border-box)
      +user-select(none)

      color: #fff
      height: 100%
      position: relative

      .sidebar
        left: 0
        position: absolute
        top: 0
        width: 320px

        .sprite_container
          img
            display: block

        textarea
          margin: 0

    a
      color: darken(#BFE2FF, 25)

    form textarea
      +bounds(150px, 50px)

    button, a.button
      +button-button
      +button-colors
      +button-hover-colors
      +button-active-colors
      +border-radius(4px)

      margin: 0
      padding-left: 3px
      padding-right: 3px

      &[disabled]
        color: #AAA
        cursor: default

        &:hover
          color: #AAA

    img.primary
      display: block

    img.selected
      background-color: #fff

    body
      background-color: black
      margin: 3em

    .pagination
      color: $pixie_blue
      margin-bottom: 5px

      a
        color: #fff

    body .sprite_container
      +border-radius(8px)
      +bounds(48px)
      +contents-centered

      background-color: white
      cursor: pointer
      display: inline-block
      margin-right: 7px
      margin-bottom: 3px

      color: black
      font-size: 10px
      text-align: center

      form
        display: none

      a
        +bounds(32px)
