- @title = "Sprites"

= will_paginate sprites

.tags
  - tags = Sprite.with_ids(sprites).tag_counts
  - tags.each do |tag|
    = tag_link tag

- sprites.each do |sprite|
  = render :partial => sprite
.clear

- @meta_desc = tags.join(' ') + sprites.map(&:title).compact.join(' ')

- if current_user
  :javascript
    $(function() {
      $('.favorites').click(function() {
        var spriteId = $(this).attr('data-id');
        if ($(this).hasClass('star')) {
          $(this).removeClass('star').addClass('no-star');
          $.get('/users/remove_favorite/' + spriteId);
        } else {
          $(this).removeClass('no-star').addClass('star');
          $.post('/users/#{current_user.id}/add_to_collection', {
            'format': 'js',
            'collectable_type': "Sprite",
            'collectable_id': spriteId,
            'collection_name': "favorites"
          }, "script");
        }
      });
    });

= will_paginate sprites
