
= render partial: "shared/navigation", locals: {collection: @sprites}

%tags
  - @tag_counts.each do |tag|
    = tag_link tag.name

%sprites
  - if @sprites.size > 0
    = render @sprites, variation: "grid"
  - else
    %h2 No results
    %a(href="#{sprites_path}") Back to Gallery

= render partial: "shared/navigation", locals: {collection: @sprites}

- content_for :javascript do
  :coffeescript
    $(window).load ->
      $("sprites").isotope
        itemSelector : 'card'
        layoutMode : 'masonry'
        containerStyle:
          overflow: 'visible'
          position: 'relative'
