- @title = "Pixel Editor"
- @fullscreen = true

- width = @width || 64
- height = @height || 64

%iframe#editor(src="https://danielx.net/pixel-editor/pixie3/" sandbox="allow-scripts allow-modals")

:sass
  html
    overflow: hidden

  body#fullscreen > .content
    padding-top: 40px

  #editor
    width: 100%
    height: 100%

  #feedback
    top: 600px

- content_for :javascript do
  :coffeescript
    ajax = Ajax()
    {Modal, Progress} = UI
    parentId = #{@parent_id.to_json}

    postmaster = Postmaster
      remoteTarget: ->
        document.getElementById('editor').contentWindow

      childLoaded: (params) ->
        params = [
          #{@replay_url.to_json}
          #{@parent_url.to_json}
          #{@source_url.to_json}
        ]

        anyParams = params.some (x) -> x
        if anyParams
          postmaster.invokeRemote "loadReplayFromURL", params...

      save: (data) ->
        # TODO: Title + Description Modal form
        title = prompt "Title"

        return unless title

        formData = new FormData()
        uploadData =
          'sprite[width]': data.width
          'sprite[height]': data.height
          'sprite[parent_id]': parentId
          'sprite[title]': title
          'sprite[image]': data.image
          'sprite[editor]': "pixie2"
          'sprite[replay]': new Blob([data.state], type: "application/json")

        Object.keys(uploadData).forEach (key) ->
          formData.append key, uploadData[key]

        # Progress modal
        progressView = Progress
          value: 0
          max: 1
          message: "Saving..."

        Modal.show progressView.element

        ajax
          url: '/sprites',
          data: formData
          headers:
            Accept: "application/json; charset=utf-8"
          method: 'POST'
          responseType: "json"
        .progress ({lengthComputable, loaded, total}) ->
          if lengthComputable
            progressView.value(loaded / total)
        .then (data) ->
          if data.redirect
            window.location = data.redirect
          else
            # Update parent id
            parentId = data.sprite.id
            # Clear modal
            Modal.alert("Saved!")
            # TODO: Display link to item
            # notify "Saved as <a href='/sprites/" + data.sprite.id + "'>" + (data.sprite.title || ('Sprite ' + data.sprite.id)) + "</a>"

          trackPageview "/event/save_drawing"
        .catch (e) ->
          console.warn e
          if e.message
            Modal.alert "Error: \#{e.message}"
          else
            Modal.alert "Error \#{e.status} - \#{e.statusText}"
