- @title = "Pixel Editor"

- unless sprite.new_record?
  - @meta_desc = "Load #{sprite.meta_desc}"

= stylesheet_link_tag 'pixie/pixie'

- width = @width || 32
- height = @height || 32
- data = @data
- parent_data = sprite.parent_data

.unsupported
  %h3 Pixie requires a modern browser!
  %p
    Sorry to have to break this to you, but it appears that you're using
    IE8 or below... If you're serious about being on the internet,
    please come back with a better browser:
    = link_to "Google Chrome", "http://www.google.com/chrome"

  %iframe(allowFullScreen){ :title => "YouTube video player", :class=> "youtube-player", :type => "text/html", :width => "640", :height => "390",  :src => "http://www.youtube.com/embed/BrXPcaRlBqo", :frameborder => "0" }

%section#pixie

#optionsModal{ :style => 'display: none' }

#newCanvasModal{ :style => 'display: none' }
  %p
    = label_tag :resize_width, "width"
    = text_field_tag :resize_width, width, {:title => 'width'}
  %p
    = label_tag :resize_height, "height"
    = text_field_tag :resize_height, height, {:title => 'height'}

  = button_to_function "New Canvas", "newCanvas()"

- page_hotkeys = [["Pencil", ["p", 1]], ["Brush", ["b", 2]], ["Eye Dropper", ["i", 3]], ["Eraser", ["e", 4]], ["Fill", ["f", 5]]]

= render :partial => "shared/hotkeys", :locals => { :page_hotkeys => page_hotkeys, :section_title => "Pixel Editor" }

:javascript
  function newCanvas() {
    var newWidth = $('#resize_width').val();
    var newHeight = $('#resize_height').val();

    window.location.href = '/sprites/new?width=' + newWidth + '&height=' + newHeight
  }

  function setNewDimensions() {
    $("#newCanvasModal").removeAttr("style").modal({
      containerCss: {
        height: 110,
        width: 180
      },
      onClose: function() {
        $.modal.close();
        $("#newCanvasModal").attr("style", "display: none");
      }
    });
  }

:javascript
  (function($) {
    installedTools = [#{installed_tools.map(&:code).join(',')}];

    function postImage() {
      notify("Saving, please wait...");

      var postData = {
        'format': 'js',
        'sprite[width]': #{width},
        'sprite[height]': #{height},
        'sprite[parent_id]': #{@parent_id.to_json},
        'sprite[file_base64_encoded]': canvas.toBase64(),
        'sprite[replay_data]': JSON.stringify(canvas.getReplayData())
      };

      if(#{facebook?}) {
        postData.format = "json";
      }

      $.post('/sprites', postData, function(data) {
        if(#{facebook?}) {
          FB.ui({
            method: 'feed',
            link: 'http://pixie.strd6.com',
            picture: "http://images.pixie.strd6.com/sprites/" + data.id + "/large.png",
            message: 'Check out my awesome pixel art!'
          }, function(response) {
            if (response && response.post_id) {
              alert('Post was published.');
            } else {
              alert('Post was not published.');
            }
          });

          notify("Saved!");
        } else {
          eval(data);
        }

        trackPageview("/event/save_drawing");
        canvas.dirty(false);
        $(".tool.button[title=Save]").removeAttr("disabled");
      }, "script");
    }

    $('#pixie').pixie({
      width: #{width},
      height: #{height},
      pixelSize: #{facebook?} ? 8 : 16,
      initializer: function(canvas) {
        // HAX: Global ref of canvas
        window.canvas = canvas;

        canvas.addAction({
          name: "replay",
          perform: function(canvas) {
            canvas.replay();
          },
          undoable: false
        });

        if(#{facebook?}) {
          canvas.addAction({
            name: "Post to FB",
            icon: "/images/icons/user_comment.png",
            perform: function(canvas) {
              postImage();
            },
            undoable: false
          });
        } else {
          canvas.addAction({
            name: "new",
            perform: function(canvas) {
              setNewDimensions();
            },
            undoable: false
          });

          canvas.addAction({
            name: "save",
            perform: function(canvas) {
              $(".tool.button[title=Save]").attr("disabled", true);
              window.onbeforeunload = undefined;
              postImage();
            },
            undoable: false
          });

          canvas.addAction({
            name: "Post to Chat",
            icon: "/images/icons/picture_go.png",
            perform: function(canvas) {
              var wrapper = $("<div />");
              var img = $("<img />");
              img.attr('src', canvas.toDataURL());

              img.appendTo(wrapper);

              $.post ('/chat', { body: wrapper.html() }, function() {
                $('body').scrollTo({
                  left: '0%',
                  top: '100%'
                });
              });

              $("#chatZone").fadeIn();
            }
          });
        }

        $.each(installedTools, function(i, tool) {
          canvas.addTool(tool);
        });

        (function(frameData) {
          canvas.setInitialState(frameData);
        }(#{data.to_json}));

        if(#{!!@replay_data}) {
          canvas.replay(#{@replay_data || "null"}, #{parent_data.to_json});
        }

        window.onbeforeunload = function() {
          if (canvas.dirty()) {
            return "Your changes haven't yet been saved, if you leave now you will lose your work.";
          }
        };
      }
    });

  })(jQuery);
