= stylesheet_link_tag 'pixie/pixie'
= javascript_include_tag 'pixie/jqcolor', 'pixie/jquery.hotkeys', 'pixie/pixie'

- width = @width || 32
- height = @height || 32
- data = @data

#pixie

= render :partial => 'shared/register_modal'

:javascript
  (function($) {
    function postImage() {
      notify("Saving, please wait...");

      $.post('/sprites', {
        'format': 'js',
        'sprite[file_base64_encoded]': canvas.toBase64(),
        'sprite[width]': #{width},
        'sprite[height]': #{height}
      }, function(data) {
        eval(data);
        canvas.dirty(false);
      }, "script");
    }

    $('#pixie').pixie({
      width: #{width},
      height: #{height},
      initializer: function(canvas) {
        // HAX: Global ref of canvas
        window.canvas = canvas;
        canvas.addAction({
          name: "Save to Game",
          perform: function(canvas) {
            if(#{!current_user && ab_test("registration_popup")}) {
              requireLogin(postImage);
            } else {
              postImage();
            }
          }
        });

        (function(data) {
          if(data) {
            canvas.eachPixel(function(pixel, x, y) {
              var pos = x + y*canvas.width;
              pixel.color(data[pos], true);
            });
          }
        }(#{data}));

        window.onbeforeunload = function() {
          if (canvas.dirty()) {
            return "Your changes haven't yet been saved, if you leave now you will lose your work.";
          }
        };
      }
    });

  })(jQuery);
