- @title = sprite.title || "sprite#{sprite.id}"
- @meta_desc = sprite.meta_desc

%h2= sprite.title
.sprite
  = link_to image_tag(image_url(sprite)), load_sprite_path(sprite)

%p= sprite.description

.clear
%p
  By
  - if sprite.user
    = link_to sprite.user, sprite.user
  - else
    Anonymous


%p
  - sprite.tag_list.each do |tag|
    = tag_link(tag)

%p
  - sprite.dimension_list.each do |dimension|
    = link_to dimension, sprites_path(:tagged => dimension)

= display_comments sprite
