- @title = "Upload"

= form_for @sprite || Sprite.new, :url => { :action => "import" }, :html => {:multipart => true} do |form|
  = form.error_messages

  = form.label :file, "Choose file"
  = form.file_field :image
  = form.submit "Upload"

= render :partial => 'shared/register_modal'

:javascript
  (function($) {
    $("#new_sprite").submit(function() {
      if(loggedIn) {
        return true;
      } else {
        requireLogin(function() {
          $("#new_sprite").submit();
        });
        return false;
      }
    });
  })(jQuery);
