= form_for user do |form|
  = form.error_messages
  %h2 Sign up for Pixie!

  %p
    = form.label :display_name
    = form.text_field :display_name
  %p
    = form.label :email
    = form.text_field :email
  %p
    = form.label :password
    = form.password_field :password

  %button#sign_up Sign Up

:coffeescript
  $ ->
    $('#user_submit').click ->
      _gaq.push(['_trackEvent', 'action_button', 'register'])

%style
  :sass
    @import partials/base
    @import util

    #sign_up
      +bounds(300px, 40px)

      font-size: 170%
      margin-left: 0
      margin-right: 0
