- form_for @user do |f|
  = f.error_messages
  %p
    = f.label :email
    = f.text_field :email
  %p
    = f.label :password
    = f.password_field :password
  %p
    = f.label :display_name
    = f.text_field :display_name

  .right
    = f.submit "Register"
