= form_for user do |form|
  = form.error_messages
  %h2 Sign up for Pixie!

  %label
    %h3 Display Name
    = form.text_field :display_name
  %label
    %h3 Email Address
    = form.text_field :email
  %label
    %h3 Password
    = form.password_field :password

  %button Sign Up
