- form_for user do |form|
  = form.error_messages
  %h2 Sign Up For Pixie!

  %p
    = form.label :display_name
    = form.text_field :display_name
  %p
    = form.label :email
    = form.text_field :email
  %p
    = form.label :password
    = form.password_field :password

  .actions
    %button.affirmative Sign Up

:coffeescript
  $ ->
    $('#user_submit').click ->
      _gaq.push(['_trackEvent', 'action_button', 'register'])

%style
  :sass
    @import partials/base
    @import util

    #fullscreen > form
      +border-radius

      position: absolute
      left: 0
      right: 0
      top: 100px
      margin: auto
      width: 525px

      background-color: $dark_highlight
      padding: 1em

      h2
        margin-left: 17px

      input[type="text"]
        color: #000
        margin: 0
        max-width: 600px
        padding: 5px
        width: 324px

      .light &
        background-color: $light_highlight

    #simplemodal-container
      a.button
        margin-left: 125px

      form
        .actions
          display: inline

        h2
          display: none

        .actions
          padding: 0

        input[type="text"]
          color: #000
          margin: 0
          max-width: 600px
          padding: 5px
          width: 324px
