%style
  :sass
    h3.check_box
      display: inline-block
      font-size: 120%

    #user_forum_notifications, #user_site_notifications
      margin-right: 5px

= stylesheet_link_tag "branded"

= form_for user, :html => { :class => "module", :multipart => true } do |form|
  = form.error_messages

  %h2 Edit Profile

  %label
    %h3 Display Name
    = form.text_field :display_name

  %label
    %h3 Favorite Color
    = form.text_field :favorite_color, :style => "border:none;"

  %label
    %h3 Profile
    = form.text_area :profile

  %label
    %h3 Avatar
    = form.file_field :avatar

  %label
    = form.check_box :forum_notifications
    %h3.check_box Receive Forum Email Notifications?
  %label
    = form.check_box :site_notifications
    %h3.check_box Receive Notifications About Your Art?

  %button.full Update Information

:coffeescript
  $ ->
    $("#user_favorite_color").colorPicker()
