= form_for user, html: { class: "primary", multipart: true } do |form|
  = form.error_messages

  %h1 Edit Profile

  %label
    %h3 Favorite Color
    = form.color_field :favorite_color

  %label
    %h3 Profile
    = form.text_area :profile

  %label
    %h3 Avatar
    = form.file_field :avatar

  %label
    = form.check_box :site_notifications
    %h3.check_box Receive Notifications About Your Art?

  %button.cta Update Information

- content_for :javascript do
  :coffeescript
    $ ->
      $(".color").colorPicker()
