%style
  :sass
    h3.check_box
      display: inline-block
      font-size: 120%

    #user_forum_notifications, #user_site_notifications, #user_help_tips
      margin-right: 5px

= stylesheet_link_tag "branded"

= form_for user, :html => { :class => "module", :multipart => true } do |form|
  = form.error_messages

  %h2 Edit Profile

  %label
    %h3 Display Name
    = form.text_field :display_name, :title => '. is an invalid character'

  %label
    %h3 Favorite Color
    = form.text_field :favorite_color, :class => "color", :style => "border:none;"

  %label
    %h3 Profile
    = form.text_area :profile

  %label
    %h3 Avatar
    = form.file_field :avatar

  %label
    = form.check_box :forum_notifications
    %h3.check_box Receive Forum Email Notifications?
  %label
    = form.check_box :site_notifications
    %h3.check_box Receive Notifications About Your Art?
  %label
    = form.check_box :help_tips
    %h3.check_box Display Help Tips?

  %button.full Update Information

- content_for :javascript do
  = javascript_include_tag 'user_validations'

  :coffeescript
    $ ->
      $(".color").colorPicker()
