%h2 Edit Profile
- form_for user, :html => { :multipart => true } do |form|
  = form.error_messages

  = form.label :display_name
  = form.text_field :display_name

  = form.label :profile
  = form.text_area :profile

  = form.label :avatar
  = form.file_field :avatar

  .right
    = form.submit "Update Information"
