.filters
  = filter_link "Featured", :featured
  = filter_link "All", :none

%section
  .gallery
    = will_paginate users
    = render :partial => users
    = will_paginate users

%style
  :sass
    @import util
    @import partials/base

    .gallery .user .thumb
      img
        +box-shadow(none)

        .light &
          +box-shadow(none)

      a img
        +border-radius(0)
