= stylesheet_link_tag "branded"

- content_for :javascript do
  :coffeescript
    $ ->
      userEnteredDisplayName = false

      if $('#user_display_name').val().length && $('#user_email').val().length
        $('#user_password').focus()
      else
        $('#user_display_name').focus()

      $('#user_display_name').keyup ->
        if $(this).val().length
          userEnteredDisplayName = true
        else
          userEnteredDisplayName = false

      $('#user_email').keyup ->
        unless userEnteredDisplayName
          emailFragment = $('#user_email').val().split('@').first()

          $('#user_display_name').val(emailFragment)

= form_for user, :html => { :class => "module" } do |form|
  = form.error_messages
  %h2 Sign up for Pixie!

  %label
    %h3 Display Name
    = form.text_field :display_name
  %label
    %h3 Email Address
    = form.text_field :email
  %label
    %h3 Password
    = form.password_field :password

  %button.full Sign Up
