= stylesheet_link_tag "branded"

- content_for :javascript do
  = javascript_include_tag 'user_validations'

= form_for user, :html => { :class => "module" } do |form|
  = form.error_messages
  %h2 Sign up for Pixie!

  %label
    %h3 Display Name
    = form.text_field :display_name, :title => '. is an invalid character'
  %label
    %h3 Email Address
    = form.text_field :email
  %label
    %h3 Password
    = form.password_field :password

  %button.full Sign Up
