- unless user.profile.blank?
  - @meta_desc = user.profile.html_safe

:sass
  body > .content
    padding: 0.5em 2em
    padding-top: 40px

  .sprites_gallery
    .header
      padding-top: 0

.feature.user_profile
  .profile
    - if current_user?
      = render :partial => "tasks", :user => user

    %h1
      = user.display_name
      - if current_user?
        = link_to "Edit Profile", [:edit, user], :class => "button"
        = link_to "Invite Friends", new_invite_path, :class => "button cta"

      - else
        - if following?(user)
          = button_to "Unfollow", follow_path(user.id), :class => "button cta", :method => :delete
        - else
          = button_to "Follow", follows_path(id: user.id), :class => "button cta"

    .info
      = image_tag user.avatar.url(:large), :class => :avatar
      - if user.profile
        %p= user.profile.html_safe

    %h3.inline Favorite Color
    .favorite_color(style="background: #{user.favorite_color};")

  - if current_user?
    .activity
      %h2 Inbox
      - if @activity_updates.size > 0
        = will_paginate(@activity_updates, :param_name => :activity_page)
        .activities
          = render @activity_updates
      - else
        No recent activity

  %h2 Sprites
  = will_paginate @sprites
  %sprites
    = render @sprites

- content_for :javascript do
  :coffeescript
    $("sprites").isotope
      itemSelector : 'sprite'
      layoutMode : 'masonry'
      containerStyle:
        overflow: 'visible'
        position: 'relative'
