- profile = user.profile
%h2 Hi #{profile[:name]}!

%p
  You have connected to your
  = current_user.authenticated_with.collect(&:titleize).join(" and ")
  = 'account'.send(current_user.authenticated_with.length > 1 ? 'pluralize' : 'singularize')

%img.profile{:src => profile[:photo]}
%p
  = link_to "You're on #{profile[:title]}!", profile[:link]

%p
  = link_to "Create something!", new_sprite_path

- if user.sprites.size > 0
  %h3
    = "#{user}'s creations"
  - user.sprites.each do |sprite|
    = render :partial => sprite
