- unless user.profile.blank?
  - @meta_desc = user.profile.html_safe

%style
  :sass
    @import util

    body > .content
      padding: 0.5em 2em

    .static-thumb_up, .static-add
      display: inline-block

    .hover_actions a
      display: block

      & div
        display: inline-block

    .tasks
      float: right
      margin-left: 2em
      padding: 1em
      width: 315px

    .task
      font-size: 1.1em
      margin-bottom: 0.5em
      position: relative
      img
        vertical-align: top
      .value
        left: 200px
        position: absolute
        top: 0

    .profile
      min-height: 284px
      margin-bottom: 1em
      overflow: auto
      padding-top: 1em
      width: 100%

      .favorite_color
        +border-radius
        +inline-block

        border: 1px solid rgba(255, 255, 255, 0.3)
        height: 50px
        width: 50px

      h1
        a
          float: right
          font-size: 12px
          letter-spacing: 0
          margin: 1em 0 0

      label
        margin-bottom: 1em

      p
        margin-bottom: 0.5em

      .avatar
        float: left
        margin: 0 1em 1em 0

    h2
      border-bottom: 1px solid rgba(8, 66, 103, 0.25)

    .projects, .sprites
      margin-bottom: 1em

      .actions
        float: right

    .membership
      left: 3px
      position: absolute
      top: 3px

    .project
      overflow: auto
      position: relative
      width: 100%

      &:nth-child(n + 7)
        display: none

      .show_all &:nth-child(n + 7)
        display: inline-block

      .thumb
        +border-radius
        +inline-block

        float: left
        margin-bottom: 1em
        margin-right: 1em

    .sprite_container
      +border-radius
      +bounds(48px)
      +pop-shadow

      background-color: white
      cursor: pointer
      display: inline-block
      margin-right: 6px
      margin-bottom: 3px

      &:nth-child(n + 71)
        display: none

        .show_all &:nth-child(n + 71)
          display: inline-block

      &:hover
        background-color: $hover

      a
        +bounds(100%)
        +contents-centered

        display: block

    .comment
      overflow: auto
      width: 100%

      .commentable
        float: left

        img
          margin-right: 1em

      .attribution
        float: right
        margin-left: 2em
        text-align: right

        .name
          img
            margin-left: 1em

        .time
          color: gray


.feature
  .profile
    = render :partial => "tasks", :user => user

    %h1
      = user.display_name
      - if current_user?
        = link_to "Edit profile", [:edit, user], :class => "button complement"
    .info
      = image_tag user.avatar.url(:large), :class => :avatar
      - if user.profile
        %p= user.profile.html_safe

    %h3.inline Favorite Color
    .favorite_color(style="background: ##{user.favorite_color};")

  .projects
    .actions
      - if current_user?
        = link_to "New Project", new_project_path, :class => "button complement"
        = link_to "Tutorials", projects_path(:filter => "tutorial"), :class => "button complement"
      - if user.projects.size > 6
        %a#show_projects.button.complement Show all
    %h2
      ="Your" if current_user?
      Projects
    - user.memberships.each do |membership|
      = render :partial => "users/project", :locals => { :project => membership.group, :membership => membership }
    - user.projects.order("updated_at DESC").each do |project|
      = render :partial => "users/project", :locals => { :project => project }

  .sprites
    .actions
      - if current_user?
        = link_to "New Sprite", new_sprite_path, :class => "button complement"
      - if user.sprites.size > 68
        %a#show_sprites.button.complement Show all

    %h2
      ="Your" if current_user?
      Sprites
    - user.sprites.each_with_index do |sprite, i|
      = render :partial => "index_sprites", :locals => { :sprite => sprite, :i => i }

  - if (messages = Comment.for_user(user).order("id DESC").limit(20)).size > 0
    .messages
      %h2 Messages
      = render :partial => 'users/comment', :collection => messages

- content_for :javascript do
  :coffeescript
    $ ->
      $('.membership').tipsy
        gravity: 'e'

      $('#show_projects').click ->
        $(this).toggleClass('active')
        $('.projects').toggleClass('show_all')

      $('#show_sprites').click ->
        $(this).toggleClass('active')
        $('.sprites').toggleClass('show_all')
