%h2= user.display_name

- unless user.profile.blank?
  %h3 Profile
  %p= user.profile

%p
  = link_to "Create something!", new_sprite_path

- if user.sprites.size > 0
  %h3
    = "#{user}'s creations"
  - user.sprites.each do |sprite|
    = render :partial => sprite
