- unless user.profile.blank?
  - @meta_desc = user.profile.html_safe

%style
  :sass
    body > .content
      padding: 0.5em 2em

.feature.user_profile
  .profile
    = render :partial => "tasks", :user => user

    %h1
      = user.display_name
      - if current_user?
        = link_to "Edit profile", [:edit, user], :class => "button complement"
        - if current_user.spreedly_token
          = link_to "Edit Subscription", user.edit_subscription_url, :class => "button complement"

    .info
      = image_tag user.avatar.url(:large), :class => :avatar
      - if user.profile
        %p= user.profile.html_safe

    %h3.inline Favorite Color
    .favorite_color(style="background: #{user.favorite_color};")

  .projects
  .sprites

  - if (messages = Comment.for_user(user).order("id DESC").limit(20)).size > 0
    .comments

- content_for :javascript do

  :coffeescript
    $ ->
      #{ActiveRecord::Base.include_root_in_json = false}

      sprite_gallery = new window.Pixie.Views.Sprites.Gallery
        profile: true

      sprite_gallery.collection.url = ->
        "/#{user.display_name}/sprites"
      sprite_gallery.collection.reset(sprite_gallery.collection.parse(#{@user_sprites_data.to_json}))

      project_gallery = new window.Pixie.Views.Projects.Gallery
      project_gallery.collection.url = ->
        "/#{user.display_name}/projects"
      project_gallery.collection.reset(project_gallery.collection.parse(#{@user_projects_data.to_json}))

      comments_gallery = new window.Pixie.Views.Comments.Gallery
      comments_gallery.collection.url = ->
        "/#{user.display_name}/comments"
      comments_gallery.collection.fetch()

      $('.project .delete').live 'click', (e) ->
        if confirm "Are you sure you want to delete this project?"
          $(this).parent().parent().remove()

          $.ajax
            dataType: "json"
            type: "DELETE"
            data:
              id: $(this).data('id')
            url: "/projects/\#{$(this).data('id')}"

      $('.membership').tipsy
        gravity: 'e'
        live: true

