- profile = user.profile
%h2= user.display_name

- authenticated_accounts = user.authenticated_with
- if authenticated_accounts.length > 0

  %img.profile{:src => profile[:photo]}
  %p
    = link_to "You're on #{profile[:title]}!", profile[:link]

%p
  = link_to "Create something!", new_sprite_path

- if user.sprites.size > 0
  %h3
    = "#{user}'s creations"
  - user.sprites.each do |sprite|
    = render :partial => sprite
