.content
  .profile
    = render :partial => "tasks", :user => user

    %h2
      = user.display_name
      - if current_user?
        = link_to "Edit profile", [:edit, user]
    .info
      = image_tag user.avatar.url(:large), :class => :avatar
      %h3 About Me
      %p= user.profile

    %label
      %h3 Favorite Color
      .favorite_color{:style => "background: ##{user.favorite_color}"}

  - if (messages = Comment.for_user(user).order("id DESC").limit(10)).size > 0
    .messages
      %h3
        Messages

      = render :partial => messages

  - if user.projects.size > 0
    .projects
      %h3
        Projects
        (
        = link_to "View All", projects_path(:filter => :for_user, :user_id => user.id)
        )
      - user.projects.limit(6).each do |project|
        = render :partial => "projects/project", :object => project

  - if user.sprites.size > 0
    .sprites
      %h3
        Sprites
        (
        = link_to "View All", :action => :sprites
        |
        = link_to " View Collections", { :action => :collections }
        )
      - user.sprites.limit(20).each do |sprite|
        .sprite

          %span.title= link_to(sprite.display_name, sprite)

          = image_link sprite

%style
  :sass
    @import util
    #fullscreen
      height: auto

    .content
      +glass

      background-color: $dark_highlight
      margin: auto
      padding: 2em
      width: 1000px

      .light &
        background-color: $light_highlight

    .sprites
      padding-top: 2em

      .sprite
        overflow: hidden
        white-space: nowrap

      h3
        a
          font-size: 0.75em
          letter-spacing: 0

    .tasks
      +border-radius
      +box-shadow(#000F1A, 2px, 2px, 4px, 0, inset)

      background-color: $cookie_cutter_dark
      float: right
      margin: 1em
      margin-right: 0.5em
      overflow: hidden
      padding: 1em
      width: 295px

      .light &
        +box-shadow(#8c8c8c, 1px, 1px, 4px, 0, inset)

        background-color: $cookie_cutter_light

      .task
        font-size: 1.1em
        margin-bottom: 0.5em
        position: relative
        img
          vertical-align: top
        .value
          left: 160px
          position: absolute
          top: 0

    .favorite_color
      +inline-block
      border: 1px solid !light_gray
      height: 50px
      width: 50px

    .profile
      min-height: 284px

      h2
        a
          font-size: 0.75em
          letter-spacing: 0
          margin-left: 0.25em

      label
        margin-bottom: 1em

      p
        margin-bottom: 0.5em
        width: 400px

      .avatar
        float: left
        margin: 0 1em 1em 0


    .projects
      h3
        a
          font-size: 0.75em

    .project
      +border-radius
      +bounds(295px, 160px)
      +box-shadow(#000F1A, 2px, 2px, 4px, 0, inset)
      +inline-block

      background-color: $cookie_cutter_dark
      margin: 0 0.5em 1em 0.5em
      overflow: hidden
      padding: 1em
      position: relative

      .light &
        +box-shadow(#8c8c8c, 1px, 1px, 4px, 0, inset)

        background-color: $cookie_cutter_light

      .gloss
        +gloss

        display: inline-block
        position: absolute
        left: 1em

      .thumb
        float: left
        margin-bottom: 1em
        margin-right: 1em

        img
          +border-radius(17px)
          +box-shadow(#000F1A, 0, 4px, 6px)

          .light &
            +box-shadow(#8c8c8c, 0, 4px, 6px)

      .title
        a
          color: $dark_text
          text-decoration: none
          white-space: nowrap

          .light &
            color: $light_text
