.profile
  %h2= user.display_name

  .avatar.left
    = image_tag user.avatar.url(:large)

  - unless user.profile.blank?
    %h3 Profile
    %p= user.profile
  .clear

- if favorites = user.collections.first
  = link_to "Favorites", favorites

  
- if current_user?
  %p
    = link_to "Edit your profile", edit_user_path(current_user)
  
%p
  = link_to "Now create something!", new_sprite_path

- if user.sprites.size > 0
  %h3
    = "#{user}'s creations"
  - user.sprites.each do |sprite|
    = render :partial => sprite
