- profile = user.profile
%h2 Hi #{user.display_name}!

- authenticated_accounts = current_user.authenticated_with
- if authenticated_accounts.length > 0
  %p
    You have connected to your
    = authenticated_accounts.collect(&:titleize).join(" and ")
    = 'account'.send(authenticated_accounts.length > 1 ? 'pluralize' : 'singularize')

  %img.profile{:src => profile[:photo]}
  %p
    = link_to "You're on #{profile[:title]}!", profile[:link]

%p
  = link_to "Create something!", new_sprite_path

- if user.sprites.size > 0
  %h3
    = "#{user}'s creations"
  - user.sprites.each do |sprite|
    = render :partial => sprite
