.profile
  %h2= user.display_name
  .avatar
    = image_tag user.avatar.url(:large)

  - unless user.profile.blank?
    %p= user.profile

= render :partial => "tasks", :user => user

.extra_info
  .favorite_color
    Favorite Color:
    .color{:style => "background: ##{user.favorite_color}"}

%ul.actions
  %li= link_to "#{image_tag "icons/photos.png"} Collections".html_safe, url_for(:action => :collections), :class => "button"
  - if current_user?
    %li= link_to "#{image_tag "icons/user_edit.png"} Edit your profile".html_safe, [:edit, current_user], :class => "button"

- if user.sprites.size > 0
  .sprites
    %h3
      = "#{user}'s creations"
    - user.sprites.each do |sprite|
      .sprite
        - if current_user
          .favorites{:class => (current_user.favorite?(sprite) ? 'star' : 'no-star'), 'data-id' => sprite.id}

        %span.title= link_to(sprite.display_name, sprite)

        = image_link sprite

  .clear

%style
  :sass
    @import util

    .sprites
      padding-top: 5em

    .tasks
      +glass

      margin: 1em
      overflow: hidden
      padding: 1em

    .profile
      p
        width: 400px
