%h2= user.display_name + "'s Profile"

.profile
  .avatar
    = image_tag user.avatar.url(:large)

  - unless user.profile.blank?
    %p= user.profile

= render :partial => "tasks", :locals => {:user => user}

.extra_info
  .favorite_color
    Favorite Color:
    .color{:style => "background: ##{user.favorite_color}"}

%ul.actions
  %li= link_to "#{image_tag "icons/photos.png"} Collections".html_safe, url_for(:action => :collections), :class => "button"
  - if current_user?
    %li= link_to "#{image_tag "icons/user_edit.png"} Edit your profile".html_safe, edit_user_path(current_user), :class => "button"

- if user.sprites.size > 0
  %h3
    = "#{user}'s creations"
  .sprites
    = render :partial => user.sprites
  .clear
