= form_tag(url_for({:action => "do_unsubscribe"})) do

  - if user = User.find_by_perishable_token(params[:token])
    = hidden_field_tag (:id, user.id)
    %p Really unsubscribe #{user.email} from Pixie newsletter?
  - else
    %p
      = label_tag :email, "Email address to unsubscribe:"
      = text_field_tag :email
  = submit_tag "Unsubscribe"
