#dragZone
  %p.big Drag images here
  %p.small To post them to chat
#chatZone
  %h3 Pixie Chat
  %ul#chats
    - Chat.recent.reverse.each do |chat|
      %li
        - display_name = chat.user ? chat.user.display_name : "Anonymous"
        %span.name= display_name + ":"
        %span.time= chat.created_at.strftime("%I:%M%p") + " "
        %span.message= chat.text.html_safe

  = render :partial => 'shared/active_users'

  = text_field_tag :chat_body
  %button#send.button Send

- #TODO: Use separate url for dev juggernaut script

:plain
  <script src="http://pixie.strd6.com:8080/application.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/coffeescript">
    jug = new Juggernaut
    jug.subscribe "/chats", (data) ->
      li = $("<li />")

      name = $('<span />').addClass("name").text(data.name + ":")
      time = $('<span />').addClass("time").text(" " + data.time + " ")
      message = $('<span />').addClass("message").html(data.message)
      li.append(name).append(time).append(message)
      $('#chats').append(li).scrollTo('max')

    $ ->
      $('#chats').scrollTo('max')
      $('#chat_body').attr('placeholder', 'chat with your friends here')

      window.setInterval ->
        $.get('/active_users', $.noop, "script")
      , 60000

      send = (field) ->
        if (field.val() != "")
          $.post '/chat',
            body: field.val()

          field.val("")

      textBox = $('#send').prev()

      $('#chatZone').bind 'dragenter dragover', (e) ->
        $('#dragZone').show()
        $('#chatZone').hide()

      $('#dragZone').hover ->
        $('#dragZone').delay(1000).fadeOut()
        $('#chatZone').delay(1000).fadeIn()

      $("#dragZone, #chatZone").dropImageReader (file, event) ->

        if event.target.readyState == FileReader.DONE
          wrapper = $("<div />")
          img = $ "<img/>",
            alt: file.name
            src: event.target.result
            title: file.name

          img.appendTo(wrapper)

          $.post '/chat', body: wrapper.html(), ->
            $('#dragZone').hide()
            $('#chatZone').show()

            $('body').scrollTo('max')
            $('#chats').scrollTo('max')

      $('#chatZone #chat_body').keypress (e) ->
        if(e.keyCode == 13)
          send(textBox)

      $('#send').click ->
        send(textBox)
  </script>

%style
  :sass
    #dragZone
      display: none
      height: 350px
      margin-left: -50px
      margin-top: 15em
      width: 700px

      p
        text-align: center

        &.big
          font-size: 150%
          font-weight: bold
          margin-bottom: 3px

        &.small
          font-size: 120%
          margin-top: 3px