#openChat Chat
#chatZone
  %h4.header Pixie Chat
  .left_content
    %ul#chats
      = render :partial => 'shared/recent_chats'
    = text_field_tag :chat_body, nil, :placeholder => 'chat with your friends here'
    %button#send.button Send

  .users_wrapper
    %ul#active_users
      = render :partial => 'shared/active_users'

:coffeescript
  scrollToBottomLeft = (el) ->
    el.scrollTo
      left: '0%'
      top: '100%'

  $ ->
    setTimeout ->
      scrollToBottomLeft $('#chats')
    , 3000

    window.setInterval ->
      $.get('/chats/active_users', $.noop, "script")
      $.get('/chats/recent', $.noop, "script")

      $('#chats').scrollTo
        left: '0%'
        top: '100%'

    , 30000

    send = (field) ->
      if field.val()
        $.post '/chats',
          body: field.val()

        prev_commenter = $('#chats li span.name:last').text().replace(': ', '')
        commenter = "#{ current_user ? current_user.display_name : "Anonymous" }"
        commenter_id = #{ current_user ? current_user.id : -1 }

        li = $("<li />")
        hr = $("<hr />")
        if commenter_id > 0
          a = $("<a href='/people/\#{commenter_id}' target='_blank'>\#{commenter}</a>")

        if a
          name = $ '<span />',
            class: "name"

          name.append(a)
        else
          name = $ '<span />',
            class: "name"
            text: commenter

        time = $ '<span />',
          class: "time"
          text: "#{Time.zone.now.strftime('%I:%M%p')} "

        message = $ '<span />',
          class: "message"
          html: field.val()

        if commenter != prev_commenter
          li.append(hr, name, time)

        li.append(message)

        $('#chats').append(li)
        scrollToBottomLeft($('#chats'))

        field.val("")

    textBox = $('#send').prev()

    $("#chatZone").dropImageReader (file, event) ->

      if event.target.readyState == FileReader.DONE
        wrapper = $("<div />")
        img = $ "<img/>",
          alt: file.name
          src: event.target.result
          title: file.name

        img.appendTo(wrapper)

        $.post '/chats', body: wrapper.html(), ->
          scrollToBottomLeft $('body')
          scrollToBottomLeft $('#chats')

    $('#chatZone #chat_body').keypress (e) ->
      if e.keyCode == 13
        send(textBox)

    $('#send').live
      click: -> send(textBox)

    $('#chats li').hover ->
      $(this).find('.time').css('display', 'inline-block')
    , ->
      $(this).find('.time').css('display', 'none')

    $('#openChat').mousedown ->
      $('#chatZone').toggle()

      $('#chats').scrollTo
        left: '0%'
        top: '100%'
    .click (e) ->
      e.preventDefault()

    $('#chatZone .header').click ->
      $('#openChat').mousedown()

    $('#chats li').live("mouseenter", ->
      $(this).find('.time').css('display', 'inline-block')
    ).live("mouseleave", ->
      $(this).find('.time').css('display', 'none')
    )
