#chatZone
  .left_content
    %h3 Pixie Chat
    %ul#chats
      - Chat.recent.reverse.each do |chat|
        %li
          - display_name = chat.user ? chat.user.display_name : "Anonymous"
          %span.name= display_name + ":"
          %span.time= chat.created_at.strftime("%I:%M%p") + " "
          %span.message= chat.text.html_safe
    = text_field_tag :chat_body, nil, :placeholder => 'chat with your friends here'
    %button#send.button Send

  %ul#active_users
    = render :partial => 'shared/active_users'

- #TODO: Use separate url for dev juggernaut script

= javascript_include_tag "http://pixie.strd6.com:8080/application.js"

:coffeescript
  jug = new Juggernaut
  jug.subscribe "/chats", (data) ->
    li = $("<li />")

    name = $ '<span />',
      class: "name"
      text: data.name + ":"

    time = $ '<span />',
      class: "time"
      text: " \#{data.time} "

    message = $ '<span />',
      class: "message"
      html: data.message

    li.append(name, time, message)

    $('#chats').append(li).scrollTo
      left: '0%'
      top: '100%'

  scrollToBottomLeft = (el) ->
    el.scrollTo
      left: '0%'
      top: '100%'

  $ ->
    $('#chatZone').draggable
      handle: 'h3'
      stop: ->
        localStorage.chatTop = $('#chatZone').offset().top
        localStorage.chatLeft = $('#chatZone').offset().left

    setTimeout ->
      scrollToBottomLeft $('#chats')
    , 3000

    window.setInterval ->
      $.get('/active_users', $.noop, "script")
    , 60000

    send = (field) ->
      if field.val()
        $.post '/chat',
          body: field.val()

        field.val("")

    textBox = $('#send').prev()

    $("#chatZone").dropImageReader (file, event) ->

      if event.target.readyState == FileReader.DONE
        wrapper = $("<div />")
        img = $ "<img/>",
          alt: file.name
          src: event.target.result
          title: file.name

        img.appendTo(wrapper)

        $.post '/chat', body: wrapper.html(), ->
          scrollToBottomLeft $('body')
          scrollToBottomLeft $('#chats')

    $('#chatZone #chat_body').keypress (e) ->
      if(e.keyCode == 13)
        send(textBox)

    $('#send').click ->
      send(textBox)
