= form_for Comment.new(:commentable => commentable) do |form|
  %h3 Comments
  %label
    #comment_button_bar
    = form.hidden_field :commentable_type
    = form.hidden_field :commentable_id
    = form.text_area :body, :placeholder => "type your comment here"
    %input(id="comment_copy_html" type="hidden")
  #comment_preview

  %button.btn.full Post Comment

%script#comment_template.template(type="text/x-jQuery-tmpl")
  .comment
    - if current_user
      = avatar_link current_user
    - else
      = image_tag "avatars/thumb/missing.png"
    %p {{html text}}
    %p.attribution
      - if current_user
        %span.name= link_to current_user.display_name, current_user
      - else
        %span.name You
      %span.time Just moments ago

= stylesheet_link_tag "wmd.css"

- content_for :javascript do
  = javascript_include_tag "wmd.combined.min"

  :coffeescript
    $ ->
      setup_wmd
        input: "comment_body"
        button_bar: "comment_button_bar"
        preview: "comment_preview"
        output: "comment_copy_html"
        helpLink: "http://daringfireball.net/projects/markdown/syntax"

      commentForm = $("#new_comment")

      postComment = ->
        text = commentForm.find("textarea").val()

        if text.length
          commentForm.ajaxSubmit
            type: 'POST'
            dataType: "json"

          newComment = $("#comment_template").tmpl
            text: commentForm.find('#comment_copy_html').val()

          commentForm.siblings(".comments").prepend(newComment)

          commentForm.find("textarea").val("")
          commentForm.find("#comment_preview").html("")
        else
          alert("Please enter a comment first")

      commentForm.submit (e) ->
        e.preventDefault()

        if loggedIn
          postComment()

          return false
        else
          requireLogin ->
            postComment()

          return false
