-if controller.controller_name == 'projects' && controller.action_name == 'info'
  %footer.navbar
-else
  %footer.navbar.navbar-fixed-bottom
    .navbar-inner
      .container
        %ul.nav
          %li= link_to "&copy; 2011 STRd6".html_safe, 'https://github.com/STRd6'
          %li.vertical-divider
          %li= link_to "Contact Us", contact_us_path
          %li= link_to "Products and Services", products_and_services_path
          %li= link_to "Privacy Policy", privacy_policy_path

      - if @has_reg_popup
        = render :partial => 'shared/register_modal'
      = render :partial => "/shared/feedback"
      = render :partial => "/shared/chat"
      = render :partial => "/shared/hotkeys"

    = render :partial => "/shared/javascripts"

    - if @registered || (flash[:notice] == UsersController::REGISTERED_FLASH)
      = render :partial => "/shared/conversion"
      - content_for :javascript do
        :javascript
          $(function() {
            trackPageview("/event/registered");
          });
