#sidebar
  #logo
    #logo_type
      = link_to "pixie", new_sprite_path
  #description
    On Pixie you can create amazing pixel art for free, from anywhere, and share it with the world.
      
#header
  #nav.prepend-1.span-15
    .span-2
      = link_to "Pixel Editor", new_sprite_path
    .span-2
      = link_to "Upload", upload_sprites_path
    .span-2
      = link_to "Browse", sprites_path
    .span-2
      = link_to "Feedback", new_feedback_path
    .span-2
      = link_to "About Pixie", about_path
    
  #login_link.span-5.last
    = render :partial => "/shared/login"
