#header
  #logo.span-4
    #pixie
      pixie
    .description
      Pixie is a really cool pixel editing software online and really really awesome!
  .span-15.prepend-1
    = link_to "Pixel Editor", new_sprite_path, :class => "button span-2"
    = link_to "Upload", upload_sprites_path, :class => "button span-2"
    = link_to "Browse", sprites_path, :class => "button span-2"
    = link_to "Feedback", new_feedback_path, :class => "button span-2"
    = link_to "About Pixie", about_path, :class => "button span-2"
    
  #login_link.span-4.last
    = render :partial => "/shared/login"
