- @top_nav = true

%header
  #flashes
    - flash.each do |key, msg|
      %div{ :class => key }= msg

  .content
    = link_to '', root_path, :class => "logo"

    - if @top_nav
      %nav.top_bar
        %ul
          %li= link_to 'Pixel Editor', new_sprite_path()
          %li= link_to 'Gallery', sprites_path()
          %li= link_to 'Projects', projects_path()
          %li= link_to 'People', users_path()
    - else
      %h2.blurb
        The online game development toolkit

    .bulb

    = render :partial => "/shared/login"
