%header.navbar.navbar-fixed-top(eventCategory="Header")
  #flashes
    - flash.each do |key, msg|
      %div{ :class => key }= msg

  .navbar-inner
    .container
      = link_to '', root_path, :class => 'brand logo', :eventLabel => 'logo'
      :ruby
        nav_links = [
          ['Pixel Editor', new_sprite_path],
          ['Gallery', sprites_path],
        ]
      %ul.nav
        - nav_links.each do |text, url|
          %li
            = link_to_unless_current(text, url) do |link|
              %li.active
                %a(href='#')= link

      = render :partial => "/shared/login"
