%head
  %title
    - if @title
      = @title
    PixieEngine - Create Games
  %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
  %meta{ :name => "description", :content => (@meta_desc || "This free online pixel editor is amazingly simple. Build on the work of others and share your creations, or start fresh and create something new.") }

  -# Always force latest IE rendering engine (even in intranet) & Chrome Frame
  %meta{ :content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }

  <meta name="google-site-verification" content="0FAurYC_rgKeOIIzTKuunYVGbrc9gCI9xPClgJvN5_w" />
  <meta name="msvalidate.01" content="AA62CD2D00BD5CE103C280DD73C569C0" />
  = csrf_meta_tag
  <link rel="shortcut icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9oIAhIxCtwijxEAAAHuSURBVDjLnZHBS5NxGMc/7xKstUrwGGQetkWHDVnYZWeReXCX/gOZh2E7dRAqUNgk4RVsTUIYstg5GYuX8OBBPImC7JRs7BRCddnLm2OB/b4dnJbBGOx7eX4/+H4/D8/zAJBIpRY38nkBfvrLv5HPK5FKLQL4AGYjkdxCu61ysXjWL10uFs8W2m3NRiK5K0Cj1WIuGrUOg0HtVasdgIJVaIYIKURIBavQBNirVjuHwaDmolGr0Wr9pU5nMjr1PLNVq2miVDJLK8sKEzbqKkzYLK0sa6JUMlu1mk49z0xnMroCZNLpVNPz5HY6MuYiN8bYZf7qbYyR2+mo6XnKpNOpa7Mlk8m1mWxWrmQkqfTwg8YZF4/Rx+C2JMmVzEw2q2QyudZzSau5nPy2bSSJYcQ6evX8hfy2rdVcTv/7ff9+diuVs+NYzOQDAcuyrC1sQJDdtc37wAjHsZjZrVSuXcoCSCQS96anplrDk5M8MeZ3LB4fYpRPvGSGL8B3YBvraH///NDnu/Hr4IDPOzsjjuO4PgDHcdyTep1auTwfi8eHgJ+85ohvwE3g6UW39c3N27Vyef6kXsdxHLfXGu4DYLPBM8QbhI0YUD+69V0vg68P4G633hoEYAEPgEfA10EAAu4A55fXGmSEt0ADGO1l+AOeov6O9G41bwAAAABJRU5ErkJggg==" />

  = stylesheet_link_tag 'screen', :media => 'screen, projection'

  - content_for :javascript do
    :javascript
      var loggedIn = #{!!current_user};
      var subscriber = #{(current_user && current_user.paying).to_json};
