%header(eventCategory="Header")
  #flashes
    - flash.each do |key, msg|
      %div{ :class => key }= msg

  .content
    = link_to '', main_app.root_path, :class => "logo", :eventLabel => "logo"

    %nav.top_bar
      :ruby
        nav_links = [
          ['Pixel Editor', new_sprite_path],
          ['Gallery', sprites_path],
          ['Projects', projects_path],
          ['People', people_gallery_path],
        ]
      - nav_links.each do |text, url|
        = link_to_unless_current(text, url) do |link|
          %span.active #{link}

    %h2.blurb
      The online game development toolkit

    = render :partial => "/shared/login"

- if @show_bulb
  .bulb-sprite
