%header
  #flashes
    - flash.each do |key, msg|
      %div{ :class => key }= msg

  .content
    = link_to '', root_path, :class => "logo"

    %nav.top_bar
      :ruby
        nav_links = [
          ['Pixel Editor', main_app.new_sprite_path],
          ['Gallery', main_app.sprites_path],
          ['Projects', main_app.projects_path],
          ['People', main_app.users_path],
          ['Forum', main_app.forem_path],
        ]
      - nav_links.each do |text, url|
        = link_to_unless_current(text, url) do |link|
          %span.active #{link}

    %h2.blurb
      The online game development toolkit

    = render :partial => "/shared/login"

.bulb

:coffeescript
  $ ->
    $(document).bind 'keydown', 'c', (e) ->
      e.preventDefault()
      $('#openChat').mousedown()
