#header
  %p.left
    = link_to "Pixel Editor", new_sprite_path, :class => "button"
    = link_to "Upload", upload_sprites_path, :class => "button"
    = link_to "Browse", sprites_path, :class => "button"
    = link_to "Feedback", new_feedback_path, :class => "button"
    = link_to "About Pixie", about_path, :class => "button"
    
  %p.right
    = render :partial => "/shared/login"
