#sidebar
  #logo
    #logo_type
      = link_to "pixie", new_sprite_path
  #description
    On Pixie you can create amazing pixel art for free, from anywhere, and share it with the world.
      
#header
  #nav
    %span
      = link_to_unless_current "Pixel Editor", new_sprite_path
    %span
      = link_to_unless_current "Upload", upload_sprites_path
    %span
      = link_to_unless_current "Browse", sprites_path
    %span
      = link_to_unless_current "Feedback", new_feedback_path
    %span
      = link_to_unless_current "About Pixie", about_path
    
  #login_link
    = render :partial => "/shared/login"
