- site_hotkeys = [["Toggle chat", "c"], ["Toggle dock", "d"], ["Bring up this help dialog", "?"]]

#hotkeysModal.modalElement
  %h2 Keyboard Shortcuts
  - site_hotkeys.each do |array|
    %dl.keyboard_mappings
      .left_col
        %dt= raw Array(array[1]).join(" <em>or</em> ")
      %dd= array[0]

  - if local_assigns[:section_title]
    .rule
    %h2= section_title

  - if local_assigns[:page_hotkeys]
    - page_hotkeys.each do |array|
      %dl.keyboard_mappings
        .left_col
          %dt= raw Array(array[1]).join(" <em>or</em> ")
        %dd= array[0]

:coffeescript
  hotkeyHandler = (e) ->
    $('#hotkeysModal').modal
      onOpen: (dialog) ->
        dialog.overlay.fadeIn 150, ->
          dialog.data.show()
          dialog.container.show()

  $('.help_hotkeys').mousedown(hotkeyHandler)

  $(document).bind 'keydown', 'shift+/', hotkeyHandler
