
= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"
-# fall back to local jQuery if necessary
:javascript
  if(!window.jQuery) {
    document.write(unescape('%3Cscript src="/javascripts/jquery.min.js"%3E%3C/script%3E'));
  }

= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"
:javascript
  if(!window.jQuery.ui) {
    document.write(unescape('%3Cscript src="/javascripts/jquery.ui.min.js"%3E%3C/script%3E'));
  }

= javascript_include_tag 'rails', 'corelib', 'application', 'site', :cache => "main"

:ruby
  javascripts = %w[
    jquery.animation_editor
    jquery.contextMenu
    jquery.simplemodal-1.3.5.min
    jquery.form.js
    jquery.scrollTo-min
    jquery.hotkeys
    jquery.tmpl.min
    jquery.live_edit
    jquery.dropimagereader
    jquery.pnotify.min
    jquery.property_editor
    jquery.pixie
    jquery.power_canvas
    jquery.serialize_object
    jquery.tagbox
    jquery.take_class
    jquery.tile_editor
    jquery.tipsy
    jquery.vector_picker
    base64
    grid_gen
    uuid
  ]

- javascripts.push({:cache => "jqext"})
= javascript_include_tag *javascripts
= javascript_include_tag 'pixie/jqcolor', 'color', 'matrix-1.2.0.min'
