.login_link
  - if current_user
    = link_to image_tag('/images/icons/layout_add.png', :alt => "New Project", :title => "New Project"), new_project_path(),  :class => 'new_project'
    %span.vertical_rule
    %span.log_out
      - if current_user.avatar == "/avatars/original/missing.png"
        = image_tag('/avatars/tiny/missing.png', :alt => current_user.display_name, :title => current_user.display_name, :class => 'user_info')
      - else
        = image_tag(current_user.avatar.url(:tiny), :alt => current_user.display_name, :title => current_user.display_name, :class => 'user_info')
      %span.user_name
        = current_user.display_name

      %span.login_arrow

    .user_drop_down
      %ul
        %li= link_to "Log out", logout_path()
  - else
    = link_to "Log in or sign up",  login_path,  { :title => "Log in" }

:coffeescript
  $('.new_project img').tipsy
    gravity: 'e'
    opacity: 1

  $('.log_out').mousedown (e) ->
    $('.user_drop_down').toggleClass('active')
    e.stopPropagation()

  $(document).mousedown (e) ->
    target = e.target
    drop_down = $('.user_drop_down').get(0)

    $('.user_drop_down').removeClass('active') unless $.contains(drop_down, target)
