#registerModal.modal(eventCategory="Registration Modal")
  #registration
    = render :partial => 'users/form', :locals => {:user => User.new}
  #logIn{:style => "display: none;"}
    %h2 Please Sign In
    = render :partial => 'user_sessions/form'
  = link_to_function "Create a new account with Pixie", "$('#registration').show(); $('#logIn').hide(); $(this).hide().next().show();", :style => "display: none;"
  = link_to_function "Log in with existing account", "$('#registration').hide(); $('#logIn').show(); $(this).hide().prev().show();"

#subscriptionModal.modal(eventCategory="Subscription Modal")
  %h2.header Only Subscribers Can Access this Feature
  .info
    %p Subscribe now for access to these benefits:
    %ul
      %li Up to 15 active projects
      %li 1500MB of storage
      %li Private projects
      %li Export to Chrome Web Store
      %li Try it free for 30 days!

  %button.btn.full Free Trial

- content_for :javascript do
  :javascript
    var logInCallback;

    function requireLogin(callback) {
      if(!loggedIn) {
        logInCallback = callback;
        $("#registerModal").modal({
          containerCss: {
            height: 440,
            width: 300
          }
        });
        trackPageview("/event/login_screen");
      } else {
        callback();
      }
    }

    $(function() {
      function ajaxifyForm(selector, registration) {
        var form = $(selector);

        form.ajaxForm({
          dataType: 'json',
          success: function(data) {
            if(data.status == "ok") {
              loggedIn = true;
              if(registration) {
                trackPageview("/event/registered");
              }
              logInCallback();
            } else {
              var errorExplanation = form.find(".errorExplanation");
              if(errorExplanation.length == 0) {
                errorExplanation = $("<div class='errorExplanation' />");
              }

              var errorList = $("<ul />");
              $.each(data.errors, function(i, error) {
                errorList.append($("<li />").text(error));
              });

              errorExplanation.html('');
              errorExplanation.append(errorList);

              form.prepend(errorExplanation);
            }
          }
        });
      }

      ajaxifyForm("#new_user", true);
      ajaxifyForm("#new_user_session");
    });

  :coffeescript
    $("#subscriptionModal button").click ->
      window.location = #{register_subscribe_path.to_json}

    window.requireSubscription = (callback) ->
      if subscriber
        callback()
      else
        $('.modal').modal('hide')
        $("#subscriptionModal").modal()
