%style
  :sass
    .chart
      height: 400px
    td, th
      padding: 0.25em 1em
    td:first-child
      font-weight: bold
      text-align: right
    th
      font-weight: bold
      text-align: center

%h2 Cohort Analysis

:ruby
  data = User.cohort_analysis.group_by {|i| i["first_action"] }
  range = (0..12)

%table
  %thead
    %th
    - range.each do |n|
      %th= n
  %tbody
    - data.each do |key, datum|
      %tr
        - start_date = Date.parse(key)
        - entries = {} # Side effects, o0 wut!
        - total = datum.inject(0) {|memo, cell| entries[Date.parse(cell["last_action"])] = cell; memo + cell["count"].to_i}
        - remainder = 0
        %th= start_date
        - range.each do |i|
          - date = start_date >> i
          - cell = entries[date]
          - total_remaining = total - remainder
          - remainder += cell["count"].to_i if cell
          - if i == 0
            %th= total_remaining
          - else
            %td
              - if date.future?
                \-
              - else
                = number_to_percentage(100 * total_remaining / total, :precision => 1)

%h2 Registrations

.chart.registrations

%h2 Sprites

.chart.sprites

%h2 Colors

%canvas.color(width=480 height=480)

- content_for :javascript do
  = javascript_include_tag "highcharts"

  :coffeescript
    makeChart = ({selector, data, title}) ->
      new Highcharts.Chart
        chart:
          renderTo: $(selector).get(0)
        legend:
          enabled: false
        plotOptions:
          series:
            marker:
              enabled: false
        series: [
          data: data
        ]
        title:
          text: title
        xAxis:
          type: 'datetime'
          dateTimeLabelFormats:
            day: '%b %e'
            week: '%b %e'
            month: '%b'
            year: '%Y'
          title:
            text: "Date"
        yAxis:
          title:
            text: "Registrations"

    registrations_per_week = #{User.new_per_week.to_json}

    data = registrations_per_week.map (datum) ->
      [new Date(datum.date).getTime(), parseInt(datum.count)]

    makeChart
      selector: ".chart.registrations"
      data: data
      title: "Registrations Per Week"

    data = #{Sprite.new_per_week.to_json}.map (datum) ->
      [new Date(datum.date).getTime(), parseInt(datum.count)]

    makeChart
      selector: ".chart.sprites"
      data: data
      title: "Sprites Per Week"

    colorCanvas = $("canvas.color").pixieCanvas()

    colorData = #{User.select("favorite_color").where("favorite_color IS NOT NULL").map(&:favorite_color).to_json}

    colorCanvas.fill("white")

    colorCanvas.withTransform Matrix.translation(240, 240), ->
      colorData.each (color) ->
        try
          color = Color(color)

          angle = color.hue() * Math.TAU / 360
          saturation = color.saturation()

          position = Point.fromAngle(angle).scale(235 * saturation)

          colorCanvas.drawCircle
            position: position
            radius: 4
            color: color

        catch error
          console.warn(error)
