%nav.top.actions
  - if demo? || has_access?
    %button#save Save
    .button_group
      %button#new> New
      %button#import> Import
      %button#export(title="Download your project files")> Export

  %button#fork Clone

  .button_group
    %button#run> Run
    %button#test> Test
    %button#console> Console
  - if demo? || has_access?
    .button_group
      %button#build(title="Publish the current version of your game")> Publish
      %button#update_libs(title="Update to the latest version of libraries defined in pixie.json")> Update Libs

  - if current_user
    - if !current_user.help_tips
    - else
      %button#help>
        %span.static-help(alt="Help")
        Help
  - else
    %button#help>
      %span.static-help(alt="Help")
      Help

  .status
    %label.inline
      %h4 What are you working on?
      %input.message(placeholder="message" type="text")

- content_for :javascript do
  :coffeescript
    normalizeFileName = (name) ->
      return name.toLowerCase().replace(/\s/g, '').replace(/[^A-Za-z0-9\s]/g, '')

    addWarnings = (element) ->
      element.tipsy
        gravity: 'w'
        trigger: 'manual'
        title: 'tip'

      element.tipsy 'show'
      element.css
        border: '1px solid red'

    removeWarnings = (element) ->
      element.tipsy 'hide'
      element.css
        border: '1px solid rgb(170, 170, 170)'

    # on keyup check to see if a file with the same name exists
    $('#new_file_modal input[name="name"]').keyup (e) ->
      target = $(e.currentTarget)
      value = target.val()

      directory = $('#new_file_modal button.active').data('params')['directory']

      aliasedDirectory = projectConfig.directories[directory]

      directory = tree.getDirectory(aliasedDirectory).first()

      removeWarnings target
      $('#new_file_modal .create').removeAttr 'disabled'

      if directory
        matchingFiles = directory.collection.select (file) ->
          # make sure the file names are really different, they
          # shouldn't be considered different if they only differ
          # in capitalization, non alphanumeric characters, or whitespace
          return normalizeFileName(file.get('name')) is normalizeFileName(value)
        if matchingFiles.length
          addWarnings target
          $('#new_file_modal .create').attr 'disabled', 'disabled'

    window.newFileModal = ->
      $("#new_file_modal").modal
        onClose: ->
          $('#new_file_modal input[name="name"]').tipsy 'hide'
          $.modal.close()
        onShow: (modal) ->
          $(modal.container).css
            height: 'auto'
            width: '425px'

    window.findDirectory = (directoryName) ->
      tree.files(directoryName)

    buildProjectCode = ->
      clearErrorMessages()

      srcFiles = findDirectory(projectConfig.directories.source)

      compiledCode = srcFiles.map((file) ->
        # Save main for last
        return if file.get('name') is projectConfig.main

        compileFileNode(file)
      ).join(";\n")

      libCode = compileDirectory(projectConfig.directories.lib)

      if projectConfig.library
        #TODO Clean up all these special library cases into a singe solid
        # app config / entities bootstrapper
        entitiesCode = ''
      else
        entitiesCode = "App.entities = \#{JSON.stringify(window.entities)};"

      if mainName = projectConfig.main
        srcDir = projectConfig.directories.source || 'src'

        main = tree.file("\#{srcDir}/\#{mainName}.coffee") || tree.file("\#{srcDir}/\#{mainName}.js")

        mainCode = compileFileNode(main)

        if projectConfig.wrapMain
          mainCode = ";$(function(){ \#{mainCode} });"

      else
        mainCode = ""

      crammedCode = [appConfigCode(), libCode, compiledCode, entitiesCode, mainCode].join(";\n")

    appConfigCode = ->
      if projectConfig.library
        ""
      else
        conf = CoffeeScript.compile "App = \#{JSON.stringify(projectConfig)}", bare: true

        [conf].join("\n")

    environmentVariables = ->
      "BASE_URL = #{project.base_url.to_json.gsub('"', '\\"')}; MTIME = (+ new Date());\n"

    runningAppWindow = null
    runApp = ->
      runningAppWindow = window.open("", "runApp", "width=\#{projectConfig.width},height=\#{projectConfig.height}")

      # Pass IDE functions to the running window
      $.extend runningAppWindow, {
        displayRuntimeError
        saveFile # For in game editor modes
      }

      #TODO Detect and halt on compile time errors
      crammedCode = [environmentVariables(), buildProjectCode()].join(";\n")

      runCodeInWindow(crammedCode, runningAppWindow)

    testApp = ->
      clearErrorMessages()

      srcFiles = findDirectory(projectConfig.directories.source)

      compiledCode = srcFiles.map((file) ->
        # Skip main
        return if file is srcFiles[0] and file.get('name') is projectConfig.main

        compileFileNode(file)
      ).join(";\n")

      libCode = compileDirectory(projectConfig.directories.lib)
      testLibCode = compileDirectory(projectConfig.directories.test_lib)
      testCode = compileDirectory(projectConfig.directories.test)

      crammedCode = [environmentVariables(), appConfigCode(), libCode, testLibCode, compiledCode].join(";\n")
      crammedCode += "; var App; App || (App={}); $(function(){ \#{testCode} });"

      $("#unit_test_frame").remove()

      iframe = $ '<iframe />'
        height: 480
        id: "unit_test_frame"
        width: 640

      $("#unit_test_window").append(iframe).show()

      # Cram compiled code in iframe
      testCodeInWindow(crammedCode, iframe.get(0).contentWindow)

    runCoffeeInGameWindow = (src) ->
      code = compileCode(src, "coffee")

      if code and runningAppWindow
        try
          runningAppWindow.eval(code)
        catch error
          warn? error.message

    window.hotSwap = (src, ext) ->
      return unless projectConfig.hotSwap

      code = compileCode(src, ext)

      if code && runningAppWindow
        try
          runningAppWindow.eval(code)
        catch error
          warn? error.message

        try
          runningAppWindow.eval("engine.reload()")
        catch error
          warn? error.message

    window.saveFile = (data) ->
      requireLogin ->
        message = $(".actions .status .message").val()

        postData = $.extend(
          format: 'json'
          message: message
        , data)

        delete postData.success
        delete postData.error

        {success:successMethod, error:errorMethod} = data

        $.post("/projects/\#{projectId}/save_file", postData)
          .success ->
            successMethod?()
          .error ->
            errorMethod?()

    # Commands
    window.save = ->
      unsavedTabs = $("#tabs ul li.unsaved")

      if unsavedTabs.length
        # Save each unsaved tab
        unsavedTabs.each ->
          $(this).find('a').data('doSave')?()
      else
        # No unsaved tabs...
        # Force Save of active tab
        # This can work around buggy dirty states in editors
        activeTab = $("#tabs ul li.ui-state-active")
        activeTab.find('a').data('doSave')?()

    window.hotKeys =
      esc: ->
        #TODO Close running app window
        $('#test_frame').remove()
      f1: ->
        $('#help').click()
      f5: runApp
      f6: testApp

    ctrlKeys =
      s: save
      h: hotSwap
      n: newFileModal
      w: ->
        $('.ui-tabs-selected .ui-icon-close').click()

    # Merge in control keys with ctrl and meta modifiers for OSX
    $.each ctrlKeys, (key, fn) ->
      hotKeys["ctrl+\#{key} meta+\#{key}"] = fn

    window.bindKeys = (scopeDocument, keys) ->
      $.each keys, (key, fn) ->
        $(scopeDocument).bind "keydown", key, (e) ->
          e.preventDefault()
          fn()

    bindKeys(document, hotKeys)

    $("#console").click ->
      gameConsoleWindow.toggle()

    $("#build").click (event) ->
      notify "Publishing..."
      projectCode = buildProjectCode()

      saveFile
        contents: projectCode
        path: #{Project::COMPILED_FILE_NAME.to_json}
        touch: true
        success: ->
          notify("Published!")

      $.post #{generate_docs_project_path(project).to_json}

    $("#fork").click ->
      requireLogin ->
        notify("Hardcore Forking Action...")

        $.post(
          #{fork_project_path(project).to_json},
          format: 'json',
          (data) ->
            notify("<a href='/projects/\#{data.id}/ide'>Your carriage awaits!</a>")
            window.location = "/projects/\#{data.id}/ide"
        )

    $("#update_libs").click ->
      notify("Scheduling library update...")

      $.post #{update_libs_project_path(project).to_json}, ->
        notify("Library update scheduled", 4000)

    $(".actions .status .message").live "click", ->
      $(this).select()

    $("#test").click testApp
    $("#run").live 'click', runApp
    $("#new").live 'click', newFileModal
    $('#save').live 'click', save


    $ ->
      window.gameConsoleWindow = Pixie.Window
        title: "Game Console"
      .hide()
      .appendTo("body")
      .css
        position: "absolute"
        top: "125px"
        left: "250px"

      console = Pixie.Console(
        evalContext: (code) ->
          runningAppWindow?.eval(code)
      )

      gameConsoleWindow.find(".content").append(console)
