- if files = file_info[:files]
  %li.closed{ :title =>  file_info[:name]}
    %span.folder= file_info[:name]
    %ul
      - files.each do |file|
        = render :partial => "file_tree_node", :locals => {:file_info => file}
- else
  %li{ :title => file_info[:name] }
    - ext = file_info[:ext]
    - lang = file_info[:lang]
    - type = file_info[:type]
    - path = file_info[:path]
    - size = file_info[:size]
    - mtime = file_info[:mtime]
    - path_fragment = path.gsub(/[^A-Za-z0-9_-]/, "_")
    - data_id = "file_#{path_fragment}"

    - if ext == "documentation"
      %span.file{ 'data-id' => "#documentation", :class => ext }= file_info[:name]
      #documentation.tab_data(data-path=path data-type="documentation")
        %iframe.no_border{:src => "/production/projects/#{project.id}/docs/index.html", :width => "100%", :height => "100%"}
    - else
      %span.file{ 'data-id' => "##{data_id}", :class => ext }= file_info[:name]
      .tab_data{:id => data_id, 'data-ext' => ext, 'data-path' => path, 'data-lang' => lang, 'data-type' => type, 'data-mtime' => mtime, 'data-size' => size}
        = form_tag({:action => :save_file, :format => :json}, :method => :post) do
          = hidden_field_tag :path, path, { :id => nil }
          = text_area_tag :contents, file_info[:contents], { :id => nil }
