- @title = project.new_record? ? "Create a New Project" : "Edit your Project"

- form_for project, :html => {:multipart => true} do |form|
  = form.error_messages
  %h1= @title

  %label
    %h3 Title
    = form.text_field :title

  %label
    %h3 Description
    = form.text_area :description

  %label
    %h3 Screenshot
    = form.file_field :image

  %label.advanced_toggle
    = link_to_function "Advanced Options", "$(this).parent().next().toggle()"

  .advanced_options(style="display:none;")
    %label
      %h3 Remote Origin
      = form.text_field :remote_origin

    %label
      %h3 Import .zip
      = form.file_field :import_zip

  %button.full= project.new_record? ? "Create Project" : "Update Project"
