- @title = project.new_record? ? "Create a New Project" : "Edit your Project"

- form_for project, :html => {:multipart => true} do |form|
  = form.error_messages
  %h2= @title

  %p
    = form.label :title
    = form.text_field :title

  %p
    = form.label :description
    = form.text_area :description

  %p
    = form.label :image, "Screenshot"
    = form.file_field :image

  %div.advanced_toggle
    = link_to_function "Advanced Options", "$(this).parent().next().toggle()"

  .advanced_options
    %p
      = form.label :remote_origin
      = form.text_field :remote_origin

    %p
      = form.label :import_zip, "Import .zip"
      = form.file_field :import_zip

  = form.submit

%style
  :sass
    .advanced_toggle
      margin-bottom: 1em

    .advanced_options
      display: none
