- @title = @project.new_record? ? "Create a New Project" : "Edit your Project"

- form_for [@project] do |form|
  = form.error_messages

  %p
    = form.label :title
    = form.text_field :title

  %p
    = form.label :description
    = form.text_area :description

  %p
    = form.label :remote_origin
    = form.text_field :remote_origin

  = form.submit
