%form#new_file_modal.modal
  %h3.header New File

  = label_tag "Choose Type"

  :ruby
    choices = [
      ["Script",
        {:type => "text", :directory => "source", :extension => "coffee", :language => "coffeescript", :template => "script"},
        {}
      ],
      ["Test",
        {:type => "text", :directory => "test", :extension => "coffee", :language => "coffeescript", :template => "test"},
        {}
      ],
      ["Image",
        {:type => "image", :directory => "images", :extension => "png"},
        {:width => 32, :height => 32}
      ],
      ["Sound",
        {:type => "sound", :directory => "sounds", :extension => "sfs"},
        {}
      ],
      ["Entity",
        {:type => "entity", :directory => "entities", :extension => "entity"},
        {}
      ],
      ["Tilemap",
        {:type => "tilemap", :directory => "tilemaps", :extension => "tilemap"},
        {:tilesWide => 15, :tilesTall => 10, :tileWidth => 32, :tileHeight => 32}
      ],
    ]

  - choices.each do |choice, params, fields|
    %button.choice{ 'data-params' => params.to_json, 'data-fields' => fields.to_json }= choice

  .field.template
    %label
      ${name}
      %input(type="text" name="options[${name}]" title="${name}" value="${value}")

  .details{:style => "display: none;"}
    %label
      Name
      = text_field_tag :name, "", {:title => 'Name', :id => nil, :"tip" => 'There is already a file with this name. Files in the same directory must have different names.'}

    .fields

    %button.create(disabled='disabled') Create

= render :partial => "file_template"

- content_for :javascript do
  :coffeescript
    params = null

    window.newFileNode = (inputData) ->
      {extension, forceSave, autoOpen, language, name, options, path, template, type} = inputData

      unless name
        alert "You need to enter a name!"
        return

      inputData.path = "\#{path}/\#{name}.\#{extension}"
      docSelector = "#file_" + inputData.path.replace(/[^A-Za-z0-9_-]/g, "_")

      hideFile = false

      if inputData.type is 'binary' or inputData.extension is 'mp3' or inputData.contents?.substr(0, 8) is 'var App;'
        hideFile = true

      data = $.extend({
        docSelector: docSelector
        hidden: hideFile
      }, inputData)

      if template
        data.className = name.capitalize().camelize()
        data.contents ||= $("#file_templates .\#{template}").tmpl(data).text()

      fullName = "\#{path}/\#{name}.\#{extension}"

      # TODO remove global file tree reference. Pass it to the function instead
      file = tree.file fullName, data

      # TODO Get a JS test for this
      if forceSave
        window.saveFile
          contents: data.contents
          path: fullName

      return file

    $("#new_file_modal button.choice").live 'click', (event) ->
      event.preventDefault()

      $(this).takeClass("active")

      $("#new_file_modal .details").show()

      params = $(this).data('params')
      params.path = projectConfig.directories[params.directory]

      fields = $("#new_file_modal .fields").empty()

      for name, value of $(this).data('fields')
        $("#new_file_modal .field.template").tmpl(
          name: name
          value: value
        ).appendTo(fields)

      $("#new_file_modal .details input[name='name']").focus()

      # Trigger a fake window resize event to re-center the modal
      $(window).resize()

    $("#new_file_modal button.create").live 'click', (event) ->
      event.preventDefault()

      formData = $("#new_file_modal").serializeObject()

      # Special case to make entities use UUIDs
      if params.type is "entity"
        formData.uuid = Math.uuid(32, 16)

      file = newFileNode($.extend(formData, params))

      # Don't close the modal unless we've created a file.
      # Fixes bug where the modal closes with a blank name.
      if file
        $.modal.close()

    $("#new_file_modal input").live 'keydown', (event) ->
      if event.which is 13
        $("#new_file_modal button.create").click()
