%form#new_file_modal.modal
  %h3 New File

  %p
    = label_tag :name
    = text_field_tag :name, "", {:title => 'Name', :id => nil}

  = label_tag "Choose Type"
  %button{ 'data-params' => {:type => "text", :directory => "source", :ext => "coffee", :lang => "coffeescript"}.to_json } Script
  %button{ 'data-params' => {:type => "text", :directory => "test", :ext => "coffee", :lang => "coffeescript"}.to_json } Test
  %button{ 'data-params' => {:type => "image", :directory => "images", :ext => "png"}.to_json } Image
  %button{ 'data-params' => {:type => "sound", :directory => "sounds", :ext => "sfs"}.to_json } Sound
  %button{ 'data-params' => {:type => "tilemap", :directory => "data", :ext => "tilemap"}.to_json } Tilemap

= render :partial => "file_template"

:coffeescript
  window.findDirectory = (directoryPath) ->
    folderPaths = directoryPath.split("/")

    dirNode = $("ul.filetree")

    folderPaths.each (dirName) ->
      dirNode = dirNode.children("[title=\#{dirName}]").children("ul")

    dirNode

  window.newFileNode = (inputData) ->
    unless inputData.name
      alert "You need to enter a name!"
      return

    # Create/traverse directories
    path = inputData.path
    folderPaths = path.split("/")
    addedTreeRoot = null

    dirNode = $("ul.filetree")
    folderPaths.each (dirName) ->
      dirNode = (if (dir = dirNode.children("[title=\#{dirName}]")).length
        dir.eq(0)
      else
        newDir = $("#directory_template").tmpl(name: dirName).appendTo(dirNode)
        addedTreeRoot ||= newDir

        newDir
      ).children('ul')

    inputData.name = "\#{inputData.name}.\#{inputData.ext}"
    inputData.path = "/\#{inputData.path}/\#{inputData.name}"
    data_id = "file_" + inputData.path.replace(/[^A-Za-z0-9_-]/g, "_")

    data = $.extend({
      data_id: data_id
    }, inputData)

    treeNode = $("#file_template").tmpl(data).appendTo(dirNode)

    treeNode.find(".file").click()

    return treeNode

  $("#new_file_modal button").live 'click', (event) ->
    event.preventDefault()

    params = $(this).data('params')

    params.path = projectConfig.directories[params.directory]

    params = $.extend $("#new_file_modal").serializeObject(), params

    newNode = newFileNode(params)

    if newNode
      $.modal.close()

%style
  :sass
    #new_file_modal
      h3
        display: inline-block
        margin-right: 1em
