- content_for :javascript do
  :coffeescript
    window.createSoundEditor = (options) ->
      dataUrl = options.dataUrl
      path = options.path
      soundData = options.soundData
      tab = null

      # Assume that the path ends in .sfs, and chop to just the file name
      basePath = path.substring(0, path.length - 4)

      soundEditor = $("<div />")

      soundEditor.append $("<embed width='640' height='480' src='/flash/sfxr.swf' flashvars='embeddedMode=1&soundData=\#{encodeURIComponent(soundData)}&baseFilePath=\#{encodeURIComponent(basePath)}&authenticity_token=#{u form_authenticity_token}&#{session_key_name}=#{u cookies[session_key_name]}' quality='high' pluginspage='http://www.adobe.com/go/getflashplayer' align='top' play='true' loop='true' scale='showall' wmode='opaque' devicefont='false' bgcolor='#ffffff' name='as3sfxr' menu='true' allowfullscreen='false' allowscriptaccess='sameDomain' salign='' type='application/x-shockwave-flash' />")

      soundEditor.bind 'doSave', ->
        data = JSON.parse(soundEditor.find('embed').get(0).getSaveData())

        sfsFileData = data.files[0].contents_base64

        parent = soundEditor.parent()

        parent.find('[name=contents]').val(sfsFileData)

        # Save .sfs
        soundEditor.trigger 'save',
          contents_base64: sfsFileData
          path: data.files[0].path

        # Save .wav
        soundEditor.trigger 'save',
          contents_base64: data.files[1].contents_base64
          path: data.files[1].path

      return soundEditor
