%form#tag_version_modal.modal
  %h2 Tag Version
  %p
    = label_tag :tag
    = text_field_tag :tag, "", {:title => 'Tag', :id => nil}
  %p
    = label_tag :message
    = text_field_tag :message, "", {:title => 'Message', :id => nil}

  %button Tag Version

- content_for :javascript do
  :coffeescript
    $("#tag").live 'click', ->
      $("#tag_version_modal").modal()

    $("#tag_version_modal button").live 'click', (event) ->
      event.preventDefault()

      data = $(this).parent().serializeObject()

      if data.tag
        $.modal.close()

        notify("Saving tag...")

        $.post #{tag_version_project_path(project).to_json}, data, ->
          notify("Tagged version \#{data.tag}", 3000)
      else
        alert "You need to enter a tag for the version!"
