:ruby
  condor = User.find 4
  jump = Project.find Project::JUMP_DEMO_ID
  shoot = Project.find Project::SHOOT_DEMO_ID

  tips = {}

  tips[Project::ASTEROIDS_DEMO_ID] = [{
      :text => "Welcome to out Asteroids tutorial! Click the 'next' arrow to the right to get familiar with the tools."
    }, {
      :file => "file_src_wrappable_coffee",
      :text => "Here is the <i>wrappable</i> module. Modules make it easy to define behavior concisely."
    }, {
      :file => "file_src_base_coffee",
      :text => "Define a base class if you notice repeated behavior across many classes."
    }, {
      :file => "file_sounds_pew_sfs",
      :text => "We use sfxr to make our sound effects. Tweak the inputs to change the way the shot sounds."
    }, {
      :highlight => ".filetree > li[title='images']",
      :highlight_duration => 3000,
      :target => ".filetree > li[title='images']",
      :text => "The sprite assets in your game are stored here in images. Click <i>New -> Image</i> to make your own or <i>Import</i> to drag one from your computer."
    }]

  tips[Project::DEMO_ID] = [{
      :text => "Welcome to #{user_link(condor)}'s three part platforming demo. Part one is going to cover keyboard input."
    }, {
      :action => "run",
      :target => "#run",
      :text => "Click on the 'Run' button. You'll see a red square moving slowly to the right."
    }, {
      :args => ["backgroundColor: Color.random()", "# color", "file_src_main_coffee"],
      :highlight => '# color',
      :text => <<-eos
        That was fun but black is a really boring background color. Replace the highlighted line with
        <pre>backgroundColor: Color.random()</pre>to spice things up and then run the game again.
      eos
    }, {
      :text => "Here's where we define how that red square behaves.",
      :file => "file_src_square_coffee"
    }, {
      :args => ["I.velocity = Point(-2, 0) if keydown.left", "# key handling", "file_src_square_coffee"],
      :file => "file_src_square_coffee",
      :highlight => "# key handling",
      :text => <<-eos
        Okay, we're going to make you the boss now. Replace the highlighted line with
        <pre>I.velocity = Point(-2, 0) if keydown.left</pre>Now you can press left to change the square's direction.
      eos
    }, {
      :file => "file_src_square_coffee",
      :text => "Try to make him move to the right and stop too."
    }, {
      :file => "file_src_square_coffee",
      :text => "When you are done here check out lesson two: #{link_to 'Jumping', ide_project_path(jump)}"
    }]

  tips[Project::JUMP_DEMO_ID] = [{
      :text => "Hello fellow jumping enthusiasts. Today we're going to give our little guy hops like Jordan."
    }, {
      :file => "file_src_square_coffee",
      :text => "At the top of the file we have some constants: <pre>SPEED = 7<br/>GRAVITY = 3<br/>JUMP_POWER = 17<br/>FLOAT_FACTOR = 0.4</pre>Take a minute and play around with those values. See if you can find the 'Space Jam' setting."
    }, {
      :file => "file_src_square_coffee",
      :text => "This looks a bit complicated but bear with me. Getting the Mario-striving-for-the-top-of-his-jump effect is a bit trickier than you might think. Look below <pre>self.bind 'step', -></pre>"
    }, {
      :file => "file_src_square_coffee",
      :text => "We're reducing the effect of gravity when jumping, <pre>if jumping<br/>  I.velocity.y += float_acc</pre> applying it normally when falling, <pre>else if falling<br/>  I.velocity.y += acc</pre> and if you are neither jumping nor falling and pressing the jump key, we're telling the game that you are now jumping.<pre>else if keydown.z<br/>  jumping = true<br/>  I.velocity.y = -JUMP_POWER</pre>"
    }, {
      :file => "file_src_square_coffee",
      :text => "Each step we also set jumping to false if the jump key isn't held.<pre>jumping = false unless keydown.z</pre>"
    }, {
      :file => "file_src_square_coffee",
      :text => "Finally, we do a simple check to make sure the player lands on the ground and we tell the game he isn't falling anymore.<pre>if I.y > FLOOR_HEIGHT - 25<br/>  I.y = FLOOR_HEIGHT - 25<br/>  falling = false<br/>else<br/>  falling = true</pre>"
    }, {
      :file => "file_src_square_coffee",
      :text => "We're going to teach the square to shoot in the eagerly anticipated lesson three: #{link_to "Pew", ide_project_path(shoot)}"
    }]

  tips[Project::SHOOT_DEMO_ID] = [{
      :text => "At the NRA's request I've written this demo to show off how to make our square shoot."
    }, {
      :file => "file_src_bullet_coffee",
      :text => "Here's our bullet. The most important thing is that in <pre>self.bind 'step', -></pre>we check to make sure the bullet isn't below the floor.<pre>self.destroy() if I.y > FLOOR_HEIGHT + 5</pre>"
    }, {
      :file => "file_src_square_coffee",
      :text => "Take a look at the changes we made to this square."
    }, {
      :file => "file_src_square_coffee",
      :highlight => "# facing",
      :text => "Look below the highlighted line. We've added a facing variable to keep track of where our hero is looking. We will use it to determine the direction to fire bullets.<pre>facing = Point(1, 0)</pre>"
    }, {
      :text => "Pressing the shoot key tells the engine that it should add an instance of our bullet class. <pre>if justPressed.x<br/>  engine.add<br/>    class: 'Bullet'<br/>    x: I.x + I.width<br/>    y: I.y<br/>    width: 5<br/>    height: 5<br/>    velocity: facing.scale(BULLET_SPEED)</pre>"
    }, {
      :file => "file_src_enemy_coffee",
      :text => "Shooting bullets wouldn't be any fun without something to shoot at. We've created a very basic target and named it Enemy."
    }, {
      :text => "Now in main we need to make sure that we detect when bullets hit enemies and respond accordingly."
    }, {
      :text => "We iterate through all the enemies and bullets, and check whether their bounds overlap. If they do then we destroy both the bullet and the enemy.<pre>for enemy in enemies<br/>  for bullet in bullets<br/>    if overlap(enemy, bullet)<br/>      enemy.destroy()<br/>      bullet.destroy()</pre>"
    }, {
      :text => "That's the end of this epic trilogy. Look back at all we accomplished. At the start all we had was a randomly generated background color and now we've given birth to this square who can jump and annihilate his foes. Take a moment to be the proud papa."
    }]

  tips["default"] = [{
      :target => "nav.left",
      :text => "This is the code editor where you can edit your applications in the CoffeeScript language."
    }, {
      :highlight => "ul.filetree",
      :highlight_duration => 3000,
      :target => "ul.filetree",
      :text => "The files needed to create your game are here."
    }, {
      :target => "#run",
      :text => "Click 'Run' to play through your game."
    }, {
      :action => "run",
      :target => "#test_frame",
      :text => "See the results, then make changes to your code as you wish."
    }, {
      :highlight => "li[title='Documentation']",
      :highlight_duration => 3000,
      :target => "li[title='Documentation']",
      :text => "Here you can read up on the provided classes."
    }, {
      :target => "#export",
      :text => "Pixie is an open platform. Click 'Export' to download the last saved version of your project."
    }, {
      :action => "import",
      :target => "#import",
      :text => "Click 'Import' to add your own images, javascript, and coffeescript files."
    }, {
      :target => "#import_drag_zone",
      :text => "Drag files from your desktop to the file importer to make them available in your game."
    }, {
      :target => "#test",
      :text => "Click the 'Test' button to run unit-tests. These can come in handy if you're working with heavily algorithmic stuff or library code."
    }, {
      :target => "#save",
      :text => "Click 'Save' to save changes to a file."
    }, {
      :target => ".actions .status h4",
      :text => "All your changes are backed by version control. Your current status is saved as a commit message."
    }, {
      :text => "That's it for the tips. The IDE is a work in progress, so ask or leave #{link_to "feedback", "/survey", :target => "_blank"} if you have any questions!"
    }]

#tips{:style => "display: none;"}
  - if current_user
    - if current_user.help_tips
      -tooltips = tips[project.id] || tips["default"]

      -tooltips.each do |tip|
        .tip{ "data-args" => tip[:args], "data-file" => tip[:file] || "file_src_main_coffee", "data-highlight" => tip[:highlight], "data-highlight_duration" => tip[:highlight_duration], "data-action" => tip[:action] || "open", "data-target" => tip[:target] || ".ui-tabs-selected" }
          .text= tip[:text].html_safe
  - else
    -tooltips = tips[project.id] || tips["default"]

    -tooltips.each do |tip|
      .tip{ "data-args" => tip[:args], "data-file" => tip[:file] || "file_src_main_coffee", "data-highlight" => tip[:highlight], "data-highlight_duration" => tip[:highlight_duration], "data-action" => tip[:action] || "open", "data-target" => tip[:target] || ".ui-tabs-selected" }
        .text= tip[:text].html_safe
  .close
    .close_tip.x(title="close" alt="close")

- content_for :javascript do
  :coffeescript
    $ ->
      showTooltip = (element, html) ->
        position = element.offset() || {top: 50, left: 50}

        $('#tooltip .content').html(html)

        position.left += element.width() + 30
        position.top -= $('#tooltip').height() / 2

        if position.top < 5
          position.top = 5

        $('#tooltip').show().offset(position)

      hideTooltip = ->
        $("#tooltip").hide()

      $("#tooltip").draggable()

      $("#tooltip .next_tip, #help").live "click", ->
        nextTip()

      $("#tooltip .close_tip").live "click", ->
        hideTooltip()

      findHighlightText = (text, fileName) ->
        $("#\#{fileName} iframe").contents().find('span.comment').filter ->
          return $(this).text() == text

      doItNow = (text, tutorialComment, fileName) ->
        letters = text.split("")
        lettersUsed = []

        $("[data-id='#\#{fileName}']").click()

        replacedSnippet = $(findHighlightText(tutorialComment, fileName)).html("<span class='comment'></span>")
        intervalId = setInterval ->
          nextLetter = letters.shift()
          lettersUsed.push nextLetter
          $(replacedSnippet).html(lettersUsed.join(""))

          if letters.length == 0
            $("#\#{fileName} iframe").contents().keyup()
            clearInterval(intervalId)
        , 75

      tipIndex = -1
      nextTip = ->
        tipIndex += 1
        tips = $("#tips .tip")
        moreTips = tipIndex < tips.length - 1

        tip = tips.eq(tipIndex)

        action = tip.attr('data-action')
        args = tip.data('args')
        target = tip.attr('data-target')
        fileName = tip.attr('data-file')
        highlight = tip.attr('data-highlight')

        targetElement = $(target)

        $("[data-id='#\#{fileName}']").click()

        if action == 'run'
          $('#run').click()
        else if action == 'import'
          $('#import').mousedown()

        if highlight
          comment = if (text = findHighlightText(highlight, fileName)).length then text else $(highlight)

        $(comment).effect('highlight', {}, tip.data('highlight_duration') || Infinity)

        hideTooltip()

        if tip.length
          tipMessage = tip.html()

          tipMessage += $("#tips .close").html()

          if moreTips
            $(".next_tip").show()
          else
            $(".next_tip").hide()

          if tip.data('args')?.length
            $(".show_me").show()

            [text, tutorialComment, fileName] = args

            $(".show_me").click ->
              doItNow(text, tutorialComment, fileName)
          else
            $(".show_me").hide()
            $(".show_me").unbind 'click'

          showTooltip($(tip.attr('data-target')), tipMessage)

          if $(tip.data('target')).length == 0
            nextTip()

        else
          tipIndex = -1

          if tips.length
            nextTip()

      nextTip()
