- config = project.config

= stylesheet_link_tag('app.css')

<canvas width='#{config[:width]}' height='#{config[:height]}'></canvas>

= javascript_include_tag("/production/projects/#{project.id}/#{config[:name]}")
