- @title = "Project Gallery"

.filters
  = button_link "Create Project", "application_add", new_project_path

  = link_to "Arcade", "arcade", :class => "button"
  = filter_link "Featured", :featured
  - if current_user
    = filter_link "My Projects", :own
  = filter_link "All", :none

%section
  .gallery
    = will_paginate projects
    = render :partial => projects
    = will_paginate projects
