- @title = "Project Gallery"

.filters
  = button_link "Create Project", "application_add", new_project_path

  = link_to "Arcade", "arcade", :class => "button"
  = filter_link "Featured", :featured
  = filter_link "My Projects", :own
  = filter_link "All", :none

%section
  .gallery
    = will_paginate projects
    = render :partial => projects
    = will_paginate projects

%style
  :sass
    @import partials/base
    @import util

    .pagination
      margin-left: 0.5em

    .gallery
      +glass

      background-color: $dark_highlight
      margin: auto
      padding: 2em
      width: 1000px

      .light &
        background-color = $light_highlight

    .project
      +border-radius
      +bounds(295px, 160px)
      +box-shadow(#000F1A, 2px, 2px, 4px, 0, inset)
      +inline-block

      background-color: $cookie_cutter_dark
      margin-bottom: 1em
      margin-left: 0.5em
      margin-right: 0.5em
      overflow: hidden
      padding: 1em
      position: relative

      .light &
        +box-shadow(#8c8c8c, 1px, 1px, 4px, 0, inset)

        background-color: $cookie_cutter_light

      .gloss
        +gloss

        display: inline-block
        position: absolute
        left: 1em

      .thumb
        float: left
        margin-bottom: 1em
        margin-right: 1em

        img
          +border-radius(17px)
          +box-shadow(#000F1A, 0, 4px, 6px)

          .light &
            +box-shadow(#8c8c8c, 0, 4px, 6px)

      .title
        a
          color: $dark_text
          text-decoration: none
          white-space: nowrap

          .light &
            color: $light_text
