- @title = "Project Gallery"

.filters
  = button_link "Create Project", "application_add", new_project_path

  = filter_link "Featured", :featured
  = filter_link "My Projects", :own
  = filter_link "All", :none

%section
  = will_paginate projects
  .gallery
    = render :partial => projects
  = will_paginate projects

%style
  :sass
    @import partials/base
    @import util

    .project
      +bounds(240px, 160px)
      +inline-block
      +glass

      margin: 0 1em 1em 0
      overflow: hidden
      padding: 1em
      position: relative

      .gloss
        +gloss

        display: inline-block
        position: absolute
        left: 1em

      .thumb
        float: left
        margin-bottom: 1em
        margin-right: 1em

        img
          +border-radius(17px)

      .title
        a
          white-space: nowrap
