- @title = "Pixie"

.centered_form
  .blurb
    %h1 Why Pixie?
    %p
      Pixie enables rapid game development by decreasing the amount of time from a thought entering your brain to the time you see it on screen. Avoid waiting for your game to recompile. With live coding and hot swapping, the second you think of a new feature, it is in your game.

    %p
      Pixie is a full game design stack, tightly integrating a wide range of tools such as animations, tilemaps, and pixel art with your game code.

  .features
    %h3 Features
    %ul
      %li Live coding
      %li Live art editing
      %li Fully integrated tilemap, animation, pixel editors
      %li Entirely web based
      %li No installation of anything, ever
      %li Games are live on the internet as soon as you finish coding them
      %li Wide audience. Pixie games are playable by anyone with a modern web browser

  #twitter_div
    %h2.sidebar-title Developer Updates
    <script src="http://widgets.twimg.com/j/2/widget.js"></script>
    :javascript
      new TWTR.Widget({
        version: 2,
        type: 'profile',
        rpp: 5,
        interval: 60000,
        width: 350,
        height: 350,
        theme: {
          shell: {
            background: 'transparent',
            color: '#000000'
          },
          tweets: {
            background: 'transparent',
            color: '#000000',
            links: '#000000'
          }
        },
        features: {
          scrollbar: true,
          loop: false,
          live: true,
          hashtags: true,
          timestamp: true,
          avatars: false,
          behavior: 'all'
        }
      }).render().setUser('strd6').start();

  %button=link_to "Get Started!", github_integration_projects_path

  .block.get_started
    %ol
      %li
        Click the big button to get up and running with your first project
      %li
        Get to work on your game. If you don't know where to start, take a look at some tutorials
        %div
          - fave1 = App.find(44)
          %span.tutorial= link_to image_tag(fave1.image.url(:thumb), :alt => fave1.display_name, :title => fave1.display_name), fullscreen_developer_app_path(fave1)
          - fave2 = App.find(69)
          %span.tutorial= link_to image_tag(fave2.image.url(:thumb), :alt => fave2.display_name, :title => fave2.display_name), fullscreen_developer_app_path(fave2)
          - fave3 = App.find(15)
          %span.tutorial= link_to image_tag(fave3.image.url(:thumb), :alt => fave3.display_name, :title => fave3.display_name), fullscreen_developer_app_path(fave3)
          - fave4 = App.find(14)
          %span.tutorial= link_to image_tag(fave4.image.url(:thumb), :alt => fave4.display_name, :title => fave4.display_name), fullscreen_developer_app_path(fave4)

      %li
        That is it! On Pixie your games are already published on the internet as soon as they are finished. Tell all your friends about them and become the next
        =link_to "Notch", "http://minecraft.net"

  .block
    %h2 Current Favorites
    - fave1 = App.find(44)
    %span.thumb= link_to image_tag(fave1.image.url(:thumb), :alt => fave1.display_name, :title => fave1.display_name), fullscreen_developer_app_path(fave1)
    - fave2 = App.find(69)
    %span.thumb= link_to image_tag(fave2.image.url(:thumb), :alt => fave2.display_name, :title => fave2.display_name), fullscreen_developer_app_path(fave2)
    - fave3 = App.find(15)
    %span.thumb= link_to image_tag(fave3.image.url(:thumb), :alt => fave3.display_name, :title => fave3.display_name), fullscreen_developer_app_path(fave3)
    - fave4 = App.find(14)
    %span.thumb= link_to image_tag(fave4.image.url(:thumb), :alt => fave4.display_name, :title => fave4.display_name), fullscreen_developer_app_path(fave4)

  .block
    %h2 Want to do it in Flash?
    %p Although we prefer the HTML / JavaScript approach, there are some awesome Flash game engines out there.
    .engine= link_to image_tag("http://flashpunk.net/images/logo.gif", :alt => "FlashPunk", :title => "FlashPunk"), "http://flashpunk.net/"
    .engine= link_to image_tag("http://flixel.org/gfx/flixel.gif", :alt => "Flixel", :title => "Flixel"), "http://flixel.org/"

%style
  :sass
    @import partials/base
    @import util

    #fullscreen.light .centered_form button
      +bounds(424px, 50px)

      margin-top: -312px

      a
        color: $pixie_primary
        font-size: 200%

        &:hover
          text-decoration: none

    .features
      margin-left: 450px
      width: 375px

    h3
      margin-bottom: 0

    ul
      list-style-type: disc
      list-style-position: inside

      li
        margin-left: 1em

    .blurb
      padding-left: 7em
      padding-right: 7em

    #twitter_div
      +border-radius
      +box-shadow(#8c8c8c, 1px, 1px, 4px, 0, inset)

      background-color: $light_background
      float: right
      margin-left: 1em
      margin-top: 1em
      padding-bottom: 0
      padding-left: 1em
      padding-right: 1em
      padding-top: 1em

    .thumb
      margin-left: 0
      margin-right: 0

      img
        +border-radius
        +bounds(96px)

    .engine
      +bounds(100px)

      display: inline-block
      margin-left: 63px
      margin-right: 0.5em
      position: relative

      a
        +border-radius
        +bounds(100px)

        background-color: #000
        display: inline-block

        img
          position: absolute
          bottom: 0
          left: 0
          right: 0
          top: 0
          margin: auto

    .tutorial
      img
        +border-radius
        +bounds(50px)

        margin-left: 15px
        margin-right: 15px

    .block
      +border-radius
      +box-shadow(#8c8c8c, 1px, 1px, 4px, 0, inset)

      background-color: $light_background
      margin-bottom: 1em
      margin-top: 1em
      padding: 1em
      width: 400px

    .get_started
      margin-top: -136px

    .centered_form
      +border-radius
      +bounds(825px, 900px)
      +glass

      padding-bottom: 1em
      padding-left: 6em
      padding-right: 6em
      padding-top: 3em
      position: absolute
      left: 0
      right: 0
      top: 50px
      margin: auto

      h1
        text-align: center

      h2
        margin-left: 17px
        text-align: center

      input[type="text"]
        color: #000
        margin: 0
        max-width: 600px
        padding: 5px
        width: 324px

    .light
      .centered_form
        background-color: $light_highlight
