%style
  :sass
    @import util
    @import branded

    .thumb
      float: left
      margin-bottom: 1em
      margin-right: 2em

      &.fancy
        img
          +border-radius(17px)
          +box-shadow(#000F1A, 0, 4px, 6px)

          .light &
            +box-shadow(#8c8c8c, 0, 4px, 6px)

    .content
      margin: auto
      width: 960px

      p
        font-size: 1.2em

      q, .source
        font-style: italic
        letter-spacing: 0.1em

      .source
        +opacity(0.75)

      .feature
        margin: 2em 0 1em
        overflow: auto
        padding-bottom: 1em
        width: 100%

        .info
          +inline-block
          float: left
          width: 315px

        .video
          +box-shadow($light_box_shadow, 0px, 10px, 10px, -10px)

          background-color: white
          border: 1px solid #AAA
          float: right
          padding: 6px 6px 3px

      button.full
        +bounds(100%, 70px)

        display: block
        font-size: 190%
        margin: 0
        margin-top: 28px

      .testimonial
        margin-bottom: 2em
        padding: 1em 2em

      .details
        margin-bottom: 2em
        overflow: auto
        width: 100%

        .detail
          +inline-block

          margin-right: 15px

          vertical-align: top
          width: 225px

          &.last
            margin-right: 0

          button.full
            font-size: 160%
            height: 40px
            margin: 0

      .featured_projects
        margin: 2em 0
        padding: 1em 2em

    .project
      +bounds(430px, 172px)
      +box-sizing(border-box)
      +inline-block

      margin-bottom: 0
      margin-right: 2em
      overflow: hidden
      padding: 1em
      position: relative

      &:nth-child(2n)
        margin-right: 0

      .gloss
        +gloss

        display: inline-block
        position: absolute
        left: 1em

      .thumb
        float: left
        margin-bottom: 1em
        margin-right: 1em

        &.fancy
          img
            +border-radius(17px)
            +box-shadow(#000F1A, 0, 4px, 6px)

            .light &
              +box-shadow(#8c8c8c, 0, 4px, 6px)

      .title
        a
          color: $dark_text
          font-size: 20px
          font-weight: 600
          text-decoration: none
          white-space: nowrap

          .light &
            color: $light_text

.content
  .feature
    .info
      %h1
        Achieve your dreams

      %p
        Pixie enables you to quickly and easily create your own games online.
        There is nothing to install and no obligations. Pixie delivers a
        collection of simple and beautiful tools that help you to create games
        without hassles. It is so simple that anyone can get started within
        minutes.

      %p
        With Pixie there is no limit to what you can do. See for yourself with
        one of our demo applications.

      %button.full.clickable.complement
        Try Now for Free
        = link_to "", ide_project_path("demo"), :style => "display: none;"

    .video
      <iframe width="560" height="345" src="http://www.youtube.com/embed/lCbXhNg8cUU" frameborder="0" allowfullscreen></iframe>

  .testimonial.module
    %p
      %q
        Pixie is the most wonderful web-based IDE I've ever seen!
      %span.source
        &mdash; Paul Hubans, Game Development Expert

  .details
    .detail
      %h2 Creativity
      %p
        There is no limit to what you can create with Pixie.
        Create pixel art, sound effects, game levels, maps and more!

    .detail
      %h2 Freedom
      %p
        Import and export your files and projects at any time.

    .detail
      %h2 Fame
      %p
        Your published games are playable on all modern desktop and mobile devices.

    .detail.last
      %h2 Fortune
      %p
        Deploy to online marketplaces with ease. Follow our walkthrough and deploy to Google Chrome Webstore in under four minutes!

  .testimonial.module
    .thumb.fancy
      = image_tag "daniel_128.jpg"

    %h2 A message from the creator of Pixie

    %p
      Hi! I'm Daniel X. Moore, the creator of Pixie. Pixie was born out of a
      frustration with existing game creation tools, tools that had too much to install, didn't run
      on Linux, Mac and Windows, and couldn't export to the web.
    %p
      I want a simple and
      powerful toolkit that I can use to create games instantly, and have them be
      available for all to experience just as fast as I can create them.
    %p
      Pixie is still a work in progress, but that's why I need your help. Try out the
      game creation tools and let me know what you think. The Pixie team and I are
      working hard to make Pixie the best game development platform in the world. It
      is our dream and I hope you can share it with us.
    %p
      I'm glad you stopped by, please
      = link_to "let me know if you have any questions or comments", "/survey", :target => "_blank"
      regarding anything at all.
      I'll try to get back to you as soon as I can.
    %p
      Have fun, and I hope you enjoy Pixie!
    %p.source &mdash; Daniel X. Moore

  .details
    .detail
      %h2 Simple
      %p
        Only the tools and features you need. No arduous installation or setup
        process.

    .detail
      %h2 Intuitive
      %p
        Seamlessly transition from running the game to editing it. Edit sprites,
        sounds, animations, and objects with ease.

    .detail
      %h2 Powerful
      %p
        A robust set of core game libraries gives you all the functionality you
        need to get started fast. The built-in scripting language enables you to
        accomplish anything.

    .detail.last
      %h2 Free
      %p
        The free plan allows you to create and maintain a single project. Pixie
        Premium is free for 30 days if you need more.

      %button.full.clickable.complement
        30 Day Free Trial
        = link_to "", register_subscribe_path, :style => "display: none;"

  .featured_projects.module
    %h2 Amazing Games Created with Pixie
    .games
      - Project.featured.limit(4).each do |project|
        = render :partial => project

/[if IE]
  :coffeescript
    $(".feature a").attr("href", #{register_subscribe_path.to_json})
