- @title = "PixieEngine - Create Games"

%style
  :sass
    @import partials/base
    @import util

    body#fullscreen
      height: auto

    #get_started
      +bounds(100%, 75px)
      +box-sizing(border-box)

      margin: 0
      margin-bottom: 1em

      a
        color: $pixie_primary
        font-size: 250%

        &:hover
          text-decoration: none
    p
      margin: 1em 0

    .column
      +inline-block
      font-size: 14px
      width: 430px

    .column_group
      overflow: auto
      width: 100%

    .logo
      margin: auto
      width: 110px

    .blurb
      padding-left: 7em
      padding-right: 7em
      font-size: 14px

    .thumb
      margin-left: 0
      margin-right: 0

      img
        +border-radius
        +bounds(96px)

    .engine
      +bounds(100px)

      display: inline-block
      margin-left: 63px
      margin-right: 0.5em
      position: relative

      a
        +border-radius
        +bounds(100px)

        background-color: #000
        display: inline-block

        img
          position: absolute
          bottom: 0
          left: 0
          right: 0
          top: 0
          margin: auto

    .tutorial
      img
        +border-radius
        +bounds(50px)

        margin-left: 15px
        margin-right: 15px

    .block
      +border-radius
      +box-shadow(#8c8c8c, 1px, 1px, 4px, 0, inset)

      background-color: $light_background
      margin-bottom: 1em
      padding: 1em

    .centered_form
      +border-radius
      +box-sizing(border-box)
      +glass

      padding: 2em 3em
      margin: auto
      width: 960px

      h2
        margin-left: 17px
        text-align: center

      input[type="text"]
        color: #000
        margin: 0
        max-width: 600px
        padding: 5px
        width: 324px

    .light
      .centered_form
        background-color: $light_highlight

    .links
      li
        display: inline

        &:not(:first-of-type):before
          content: " | "

    /* Spacing hacks
    .features
      h2
        margin-bottom: 19px

.centered_form
  .blurb
    .logo
      = image_tag('/images/logo_large.png')
    %p
      Pixie enables rapid game development by decreasing the amount of time from a thought entering your brain to the time you see it on screen. Avoid waiting for your game to recompile. With live coding and hot swapping, the second you think of a new feature, it is in your game.

    %p
      Pixie is a full game design stack, tightly integrating a wide range of tools such as animations, tilemaps, and pixel art with your game code.

  .column_group
    .column.left
      %button#get_started.clickable=link_to "Get Started!", ide_project_path("demo")

      .block
        %ol.numbered
          %li
            Click the big button to get up and running with your first project
          %li
            Get to work on your game. If you don't know where to start, take a look at some tutorials
            %div
              - @tutorials.each do |tutorial|
                %span.tutorial= link_to image_tag(tutorial.image.url(:thumb), :alt => tutorial.display_name, :title => tutorial.display_name), ide_project_path(tutorial)

          %li
            That is it! On Pixie your games are already published on the internet as soon as they are finished. Tell all your friends about them and become the next
            =link_to "Notch", "http://minecraft.net"

    .column.right
      .features.block
        %h2 Features
        %ul.disc
          %li Entirely web based. Nothing to install!
          %li Live code and art editing
          %li Robust, well-tested game libraries to take the pain out of scripting
          %li
            Fully integrated 
            = link_to "tilemap", new_tilemap_path(:tileset_id=>355)
            ,
            = link_to "animation", new_animation_path
            , and
            = link_to "pixel editors", new_sprite_path
          %li
            = link_to "Box2D integration", ide_project_path(69)
            \. You don't need to roll your own physics
          %li Games are live on the internet as soon as you finish coding them
          %li 
            = link_to "Github integration", github_integration_projects_path
            to seamlessly handle versioning
          %li Wide audience. Playable by anyone with a modern web browser

  .column_group
    .column.left
      .block
        %h2 Current Favorites
        - @favorites.each do |favorite|
          %span.thumb= link_to image_tag(favorite.image.url(:thumb), :alt => favorite.display_name, :title => favorite.display_name), fullscreen_project_path(favorite)

      .block
        %h2 Pixie Dust Make You Sneeze?
        %p Although we prefer the web based approach, there are some awesome Flash game engines out there.
        .engine= link_to image_tag("http://flashpunk.net/images/logo.gif", :alt => "FlashPunk", :title => "FlashPunk"), "http://flashpunk.net/"
        .engine= link_to image_tag("http://flixel.org/gfx/flixel.gif", :alt => "Flixel", :title => "Flixel"), "http://flixel.org/"

    .column.right
      #twitter_div.block
        %h2.sidebar-title Developer Updates
        <script src="http://widgets.twimg.com/j/2/widget.js"></script>
        :javascript
          new TWTR.Widget({
            version: 2,
            type: 'profile',
            rpp: 5,
            interval: 60000,
            width: 350,
            height: 310,
            theme: {
              shell: {
                background: 'transparent',
                color: '#000000'
              },
              tweets: {
                background: 'transparent',
                color: '#000000',
                links: '#000000'
              }
            },
            features: {
              scrollbar: true,
              loop: false,
              live: true,
              hashtags: true,
              timestamp: true,
              avatars: false,
              behavior: 'all'
            }
          }).render().setUser('PixiePlatform').start();

  %center
    %ul.links
      %li= link_to "Blog", "http://blog.pixieengine.com"
      %li= link_to "Forums", "http://forums.pixieengine.com"
