%style
  :sass
    #fullscreen
      height: auto

    .content
      margin: auto
      width: 1000px

      .project
        img
          margin: 0 1em 1em 0
          float: left

        .image_and_text
          overflow: auto
          width: 100%

.content
  .project
    %h2= project.title

    .image_and_text
      = image_tag project.image.url(:thumb)

      %p= project.description

    %p= project.remote_origin

    .creator
      Created by
      = link_to project.user.display_name, project.user

    .actions
      = button_link "IDE", "application_edit", ide_project_path(project)
      - if has_access?
        = button_link "Edit Info", "pencil", edit_project_path(project)
      - if owner_or_admin?
        = button_link "Delete", "application_delete", project_path(project), :method => "delete", :confirm => "Are you sure you want to delete this project?"
      - if admin?
        - featured = project.featured? ? "active" : ""
        = button_link "Feature", "star", feature_project_path(project), :class => "button #{featured}", :id => "feature"
        - arcade = project.arcade? ? "active"  : ""
        = button_link "Arcade", "sport_shuttlecock", add_to_arcade_project_path(project), :class => "button #{arcade}", :id => "arcade"

:coffeescript
  $("#feature, #arcade").click (event) ->
    event.preventDefault()

    if $(this).is(".active")
      #TODO: Unfeature
    else
      $(this).addClass("active")

      $.post $(this).attr("href"),
        format: "json"
