= stylesheet_link_tag "branded"

%style
  :sass
    .project
      img
        margin: 0 1em 1em 0
        float: left

      .image_and_text
        overflow: auto
        width: 100%

    .static-application_edit, .static-pencil, .static-application_delete, .static-star, .static-sport_shuttlecock, .static-book
      display: inline-block
      vertical-align: bottom

.project
  %h2= project.title

  .image_and_text
    = image_tag project.image.url(:thumb)

    %p= project.description

  %p= project.remote_origin

  .creator
    Created by
    = link_to project.user.display_name, project.user

  .actions
    %a.button(href="#{ide_project_path(project)}")
      .static-application_edit
      IDE
    - if has_access?
      %a.button(href="#{edit_project_path(project)}")
        .static-pencil
        Edit Info
    - if owner_or_admin?
      %a.button(href="#{project_path(project)}" data-method="delete" data-confirm="Are you sure you want to delete this project?")
        .static-application_delete
        Delete
    - if admin?
      - featured = project.featured? ? "active" : ""
      %a(href="#{feature_project_path(project)}" class="button #{featured}" id="feature")
        .static-star
        Feature
      - arcade = project.arcade? ? "active"  : ""
      %a(href="#{add_to_arcade_project_path(project)}" class="button #{arcade}" id="arcade")
        .static-sport_shuttlecock
        Arcade
      - tutorial = project.tutorial? ? "active" : ""
      %a(href="#{add_to_tutorial_project_path(project)}" class="button #{tutorial}" id="tutorial")
        .static-book
        Tutorial

:coffeescript
  $("#feature, #arcade, #tutorial").click (event) ->
    event.preventDefault()

    if $(this).is(".active")
      #TODO: Unfeature
    else
      $(this).addClass("active")

      $.post $(this).attr("href"),
        format: "json"
