- config = project.config

- content_for :javascript do
  :javascript
    var sandbox = document;

    sandbox.open();

    sandbox.write(#{stylesheet_link_tag('project').to_json});
    sandbox.write(#{javascript_include_tag("http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js").to_json.gsub('/', '\\/')});

    sandbox.write("<script>BASE_URL = #{project.base_url.to_json.gsub('"', '\\"')};MTIME=#{project.updated_at.to_i};<\/script>");

    sandbox.write("<canvas width='#{config[:width]}' height='#{config[:height]}'></canvas>");
    sandbox.write('<script src=#{"/production/projects/#{project.id}/#{config[:name]}.js?#{project.updated_at.to_i}".to_json}><\/script>');

    sandbox.close();
