:ruby
  @title = project.title
  @meta_desc = project.description
  config = project.config
  canvas_width = config[:width]
  canvas_height = config[:height]

%canvas(width=canvas_width height=canvas_height)

- content_for :javascript do
  :javascript
    BASE_URL = #{project.base_url.to_json};
    MTIME = #{project.updated_at.to_i};

  = javascript_include_tag("http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
  %script(src="/production/projects/#{project.id}/#{Project::COMPILED_FILE_NAME}?#{project.updated_at.to_i}")
