// TODO: Make usable on multiple pages...

#error

:plain
  <script type="text/coffeescript">
    compiled_js = ''

    compile_source = if '#{lang}' == 'coffeescript'
      (source) ->
        console.log "Compiling Coffee"
        compiled_js = ''
        try
          compiled_js = CoffeeScript.compile source, noWrap: true
          $('##{code_id}').val compiled_js
          $('#error').hide()
        catch error
          $('#error').text(error.message).show()
    else
      (source) ->
        compiled_js = source
        $('##{code_id}').val compiled_js

    codeTextArea = $('##{src_id}').get(0)
    editor = new CodeMirror.fromTextArea codeTextArea,
      autoMatchParens: true
      content: codeTextArea.value
      height: "350px"
      parserfile: ["tokenize_#{lang}.js", "parse_#{lang}.js"]
      path: "/javascripts/codemirror/"
      stylesheet: "/stylesheets/codemirror/#{lang}_colors.css"
      tabMode: "shift"

    # Listen for keypresses and recompile.
    $(editor.win.document).keyup -> compile_source(editor.getCode())

    # Eval the compiled js.
    $('button.run').click (event) ->
      event.preventDefault()

      compile_source(editor.getCode()) if compiled_js == ''

      try
        eval compiled_js
      catch error then alert error

  </script>
