= javascript_include_tag 'codemirror/codemirror', 'codemirror/mirrorframe'

%h2 New Script
- form_for [:developer, @script] do |form|
  = form.error_messages

  = form.hidden_field :parent_id

  %p
    = form.label :title
    = form.text_field :title

  %p
    = form.label :description
    = form.text_field :description

  = form.label :code
  .border
    = form.text_area :code

  .left
    = button_to_function "Run", "eval(codeEditor.getCode())"
  .right= form.submit
  .clear

:javascript
  var codeTextArea = $('#script_code').get(0);
  var codeEditor = new CodeMirror.fromTextArea(codeTextArea, {
    height: "350px",
    content: codeTextArea.value,
    parserfile: ["tokenizejavascript.js", "parsejavascript.js"],
    stylesheet: "/stylesheets/codemirror/jscolors.css",
    path: "/javascripts/codemirror/",
    autoMatchParens: true
  });

  var testTextArea = $('#script_test').get(0);
  var testEditor = new CodeMirror.fromTextArea(testTextArea, {
    height: "350px",
    content: testTextArea.value,
    parserfile: ["tokenizejavascript.js", "parsejavascript.js"],
    stylesheet: "/stylesheets/codemirror/jscolors.css",
    path: "/javascripts/codemirror/",
    autoMatchParens: true
  });
