= javascript_include_tag 'codemirror/codemirror', 'codemirror/mirrorframe'

%h2 New Script
- form_for [:developer, script] do |form|
  = form.error_messages

  = form.hidden_field :parent_id

  %p
    = form.label :title
    = form.text_field :title

  %p
    = form.label :description
    = form.text_field :description

  %p
    = form.hidden_field :code
    = form.label :src, "Source (#{script.lang})"
    .border
      = form.text_area :src, :class => "code"

  .left
    %button.run Run
  .right= form.submit
  .clear

#error

- if script.lang == "coffeescript"
  - lang = 'dummy'
  :plain
    <script type="text/coffeescript">
      # Set up the compilation function, to run when you stop typing.
      window.compile_source = ->
        source = window.editor.getCode()
        window.compiled_js = ''
        try
          window.compiled_js = CoffeeScript.compile source, noWrap: true
          $('#script_code').val window.compiled_js
          $('#error').hide()
        catch error
          $('#error').text(error.message).show()
    </script>
- else
  - lang = 'javascript'
  :javascript
    // TODO: Add JSLint or Closure Compiler to identify errors and warnings
    window.compile_source = function() {
      compiled_js = editor.getCode();
    }

:plain
  <script type="text/coffeescript">

    codeTextArea = $('#script_src').get(0)
    window.editor = new CodeMirror.fromTextArea codeTextArea,
      autoMatchParens: true
      content: codeTextArea.value
      height: "350px"
      parserfile: ["tokenize_#{lang}.js", "parse_#{lang}.js"]
      path: "/javascripts/codemirror/"
      stylesheet: "/stylesheets/codemirror/#{script.lang}_colors.css"
      tabMode: "shift"

    # Listen for keypresses and recompile.
    $(window.editor.win.document).keyup -> window.compile_source()

    # Eval the compiled js.
    $('button.run').click (event) ->
      event.preventDefault()

      compile_source() if window.compiled_source == ''

      try
        eval window.compiled_js
      catch error then alert error

  </script>


= javascript_include_tag "coffee_script"
