= javascript_include_tag 'qunit'
= stylesheet_link_tag 'qunit'

%h1#qunit-header Testing #{script.title}
%h2#qunit-banner
%h2#qunit-userAgent
%ol#qunit-tests
#qunit-fixture

:javascript
  #{script.code}
  ;

  $(function() {
    #{script.test}
  });
