= javascript_include_tag 'qunit'
= stylesheet_link_tag 'qunit'

%h1#qunit-header Testing #{script.title}
%h2#qunit-banner
%h2#qunit-userAgent
%ol#qunit-tests
#qunit-fixture

= javascript_include_tag 'codemirror/codemirror', 'codemirror/mirrorframe'

%h2 Test Script
- form_for [:developer, script] do |form|
  = form.error_messages

  %p
    = form.hidden_field :test
    = form.label :test_src, "Test (#{script.lang})"
    .border
      = form.text_area :test_src

  .left
    = button_to_function "Test", "runTest()"
  .right= form.submit
  .clear

= render :partial => "editor", :locals => {:lang => script.lang, :src_id => "script_test_src", :code_id => "script_test"}

:javascript
  #{script.code}
  ;

  $(function() {
    #{script.test}
  });

  function runTest() {
    QUnit.init();
    eval($("#script_test").val());
    QUnit.start();
  }
