- @title = "Feedback"

- form_for @feedback do |form|
  = form.error_messages

  %p
    = form.label :body, "How can we make your experience more magical?"
    = form.text_area :body

  - unless current_user
    %p
      = form.label :email_address
      = form.text_field :email_address

  = form.submit "Send Feedback"
