- @title = "Feedback"

- form_for @feedback do |form|
  = form.error_messages

  = form.label :body, "Feedback"
  = form.text_area :body

  - unless current_user
    = form.label :email_address
    = form.text_field :email_address

  = form.submit "Send Feedback"
