%h3 New Library
- form_for [:developer, @library || Library.new] do |form|
  = hidden_field_tag :script_id
  = hidden_field_tag :app_id
  %p
    = form.label :title
    = form.text_field :title

  %p
    = form.label :description
    = form.text_area :description

  = form.submit
