= render :partial => "tile_editor"

- tile_width = params[:tile_width].blank? ? 32 : params[:tile_width].to_i
- tile_height = params[:tile_height].blank? ? 32 : params[:tile_height].to_i

- tiles_wide = params[:tiles_wide].blank? ? 15 : params[:tiles_wide].to_i
- tiles_tall = params[:tiles_tall].blank? ? 10 : params[:tiles_tall].to_i

:coffeescript
  $ ->
    editor = $("<div />").appendTo("body").tileEditor
      tileWidth: #{tile_width}
      tileHeight: #{tile_height}
      tilesWide: #{tiles_wide}
      tilesTall: #{tiles_tall}
      save: (mapData) ->
        notify("Saving...")

        postData =
          format: 'json'
          tilemap:
            title: mapData.title
            width: mapData.width
            height: mapData.height
            data_string: JSON.stringify(editor.mapData())

        callback = (data) ->
          id = data.tilemap.id
          notify("Saved as <a href='/tilemaps/"+id+"'>Tilemap "+id+"</a>!")

        $.post('/tilemaps', postData, callback, "json")
