- link_path ||= tune_path(tune)
- class_variation = defined?(variation) ? "grid": ""

%card(class="#{class_variation}")
  .outline
    .details
      .title= link_to tune.display_title, link_path
      .description= markdown tune.description
      .actions
        %a(href="#{link_path}")
          = pluralize(tune.comments_count, "Comment")
          💬
  = card_attribution tune
