- @fullscreen = true

%iframe#editor(src="https://danielx.net/composer/pixie/" sandbox="allow-scripts  allow-forms")><

- content_for :javascript do
  :coffeescript
    ajax = Ajax()
    {Modal, Progress} = UI
    parentId = #{@parent_id.to_json}

    postmaster = Postmaster
      remoteTarget: ->
        document.getElementById('editor').contentWindow

      ready: ->
        editor.focus()

        unless #{tune.new_record?.to_json}
          console.log #{tune.content_url.to_json}
          postmaster.invokeRemote "loadFromURL", #{tune.content_url.to_json}

      save: (data) ->
        {title, description, content} = data

        formData = new FormData()
        uploadData =
          'tune[parent_id]': parentId
          'tune[title]': title
          'tune[description]': description
          'tune[editor]': "composer"
          'tune[content]': content

        Object.keys(uploadData).forEach (key) ->
          formData.append key, uploadData[key]

        ajax
          url: #{tunes_path.to_json},
          data: formData
          headers:
            Accept: "application/json; charset=utf-8"
          method: 'POST'
          responseType: "json"
        .then (data) ->
          trackPageview "/event/save_tune"

          if data.redirect
            window.location = data.redirect
          else
            parentId = data.tune.id

          return
        .catch (e) ->
          console.warn e
          if e.message
            Modal.alert "Error: \#{e.message}"
          else
            Modal.alert "Error \#{e.status} - \#{e.statusText}"

          return
