
= render partial: "shared/navigation", locals: {collection: @tunes}

%tags
  - @tag_counts.each do |tag|
    = tag_link tag.name

%tunes
  - if @tunes.size > 0
    = render @tunes, variation: "grid"
  - else
    %h2 No results
    %a(href="#{tunes_path}") Back to Tunes

= render partial: "shared/navigation", locals: {collection: @tunes}

- content_for :javascript do
  :coffeescript
    $(window).load ->
      $("tunes").isotope
        itemSelector : 'card'
        layoutMode : 'masonry'
        containerStyle:
          overflow: 'visible'
          position: 'relative'
