- @title = "Paint Composer"

%tunes.show
  %tune
    = link_to action: :editor do
      %span.title= tune.display_title
      %span.attribution= tune.creator_name
      %img(src="#{tune.creator_thumb_url}")
  - if tune.parent
    = render tune.parent

%actions><
  - if current_user
    - if current_user.favorite?(tune)
      %a.button(rel="removeFavorite")><
        ðŸ’” Remove Favorite

    - else
      %a.button(rel="addFavorite")><
        ðŸ’ Add Favorite

  - if owner_or_admin?
    %a.button(href="#{editor_tune_path(tune)}")><
      .static-picture_edit
      Load in Editor
    %a.button(href="#{edit_tune_path(tune)}")><
      Edit Details
    %a.button(href="#{tune_path(tune)}" data-method="delete")><
      Delete

= markdown tune.description

- if tune.children.any?
  %h2
    Remixes

  %tunes
    = render :partial => tune.children.limit(20)

= display_comments tune

- content_for :javascript do
  :coffeescript
    $ ->
      $("a[rel=addFavorite]").on "click", (event) ->
        event.preventDefault()

        if url = #{add_favorite_tune_path(tune).to_json}
          notify "Adding favorite..."
          $.post url, (data) ->
            notify "Added to favorites."

      $("a[rel=removeFavorite]").on "click", (event) ->
        event.preventDefault()

        if url = #{remove_favorite_tune_path(tune).to_json}
          notify "Removing..."
          $.post url, (data) ->
            notify "Removed from favorites."
