%h1
  = link_to t('forem.forum.forums'), forums_path
  &raquo;
  = link_to topic.forum.title, topic.forum
  &raquo;
  = topic.subject

%menu
  - if @topic.can_be_replied_to?
    = link_to t(".reply"), new_topic_post_path(@topic), :class => :button

  - if @topic.user == current_user || forem_admin?
    = link_to t(".delete"), forum_topic_path(@forum, @topic), :class => :button, :method => :delete, :confirm => 'Are you sure?'

  - if forem_admin?
    = link_to t('forem.topic.links.edit'), edit_admin_topic_path(topic), :class => :button
    = link_to t("forem.topics.show.hide.#{@topic.hidden}"), toggle_hide_admin_topic_path(@topic), :class => :button, :method => :put
    = link_to t("forem.topics.show.lock.#{!!@topic.locked}"), toggle_lock_admin_topic_path(@topic), :class => :button, :method => :put
    = link_to t("forem.topics.show.pin.#{@topic.pinned}"), toggle_pin_admin_topic_path(@topic), :class => :button, :method => :put
