%tr{ :class => (topic_listing.locked? ? 'locked' : 'unlocked') }
  %td.icon
    - if topic_listing.locked?
      %span.lock.icon
    - if topic_listing.pinned?
      %span.pin.icon

    - if current_user && view = topic_listing.view_for(current_user)
      - if topic_listing.posts.where("created_at > ?", view.updated_at).any?
        %span.new_posts.icon new

  %td.topic
    .subject= link_to topic_listing.subject, forum_topic_path(@forum, topic_listing)
    .started-by Started by #{topic_listing.posts.first.user}

  %td.latest-post
    = link_to_latest_post(topic_listing.posts.last)

  %td.posts-count= topic_listing.posts.count
  %td.views-count= topic_listing.views.sum(:count)
