= stylesheet_link_tag "branded"

- @title = "Edit #{sound.display_name}"

- form_for sound, :html => {:class => "module"} do |form|
  = form.error_messages

  %h2= "Edit Sound"

  %p
    = form.label :title
    = form.text_field :title

  %p
    = form.label :description
    = form.text_area :description

  = form.submit
