= stylesheet_link_tag "branded"

- @title = sound.display_name

= link_to image_tag("wav.png", :alt => sound.display_name), sound.wav.url

%p= sound.description

.clear
%p
  By
  - if sound.user
    = link_to sound.user, sound.user
  - else
    Anonymous

%ul.actions
  %li= button_link "Load in Editor", "sound", load_sound_path(sound)
  - if owner_or_admin?
    %li= button_link "Edit Details", "table_edit", edit_sound_path(sound)
  - if owner_or_admin?
    %li= button_link "Delete", "cross", sound_path(sound), :method => :delete
