-#TODO Should make activity dependent destroy to avoid this
- if comment = activity.trackable
  .comment
    = avatar_link comment.commenter

    - if commentable = comment.commentable
      - if commentable.is_a? Sprite
        = render commentable

    .left
      = markdown(comment.body)

      %p.attribution
        %span.name= link_to comment.commenter.display_name, comment.commenter
        %span.time= link_to "#{time_ago_in_words(comment.created_at)} ago", comment.commentable
