-#TODO Should make activity dependent destroy to avoid this
- if (comment = activity.trackable) && (commentee = comment.commentee) && (commenter = comment.commenter)
  %comment
    %header
      - if commentable = comment.commentable
        - if commentable.is_a? Sprite
          = render partial: "sprites/activity_sprite", object: commentable
        - elsif commentable.is_a? Tune
          %tunes.inline
            = render commentable
      = avatar_link commentee
      = avatar_link commenter
    %section
      %header
        = link_to commenter.display_name, commenter, rel: "author"
        mentioned you in their comment on
        - if commenter == commentee
          their own #{comment.commentable_type}
        - else
          = link_to commentee.display_name, commentee, rel: "receiver"
          &#39;s #{comment.commentable_type}
        = link_to "#{time_ago_in_words(comment.created_at)} ago", comment.commentable, class: "time"

        = markdown(comment.body)
