%iframe#testFrame.no_border{ :width => app.width, :height => app.height}

:javascript
  function runApp() {
    var sandbox = $("#testFrame")[0].contentWindow.document;

    sandbox.open();

    sandbox.write(#{stylesheet_link_tag('app.css').to_json});
    sandbox.write(#{stylesheet_link_tag('screen.css').to_json});
    sandbox.write(#{javascript_include_tag("http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js").to_json.gsub('/', '\\/')});

    sandbox.write(#{app.template.to_json});
    sandbox.write('<script src=#{rewrite_asset_path("/production/apps/#{app.id}/published.js").to_json}><\/script>');

    sandbox.close();

    // Set focus
    $("#testFrame")[0].contentWindow.focus();
  }

  runApp();
