= javascript_include_tag 'codemirror/codemirror', 'codemirror/mirrorframe'

%h2 New App
- form_for [:developer, @app] do |form|
  = form.error_messages

  = form.hidden_field :parent_id

  %p
    = form.label :title
    = form.text_field :title

  %p
    = form.label :description
    = form.text_field :description

  = form.label :html
  = form.text_area :html

  = form.label :code
  .border
    = form.text_area :code

  .left= button_to_function "Run", "runApp()"
  .right= form.submit
  .clear

%iframe#testFrame{:src => "/blank.html"}

:javascript
  var codeTextArea = $('#app_code').get(0);
  var editor = new CodeMirror.fromTextArea(codeTextArea, {
    height: "350px",
    content: codeTextArea.value,
    parserfile: ["tokenizejavascript.js", "parsejavascript.js"],
    stylesheet: "/stylesheets/codemirror/jscolors.css",
    path: "/javascripts/codemirror/",
    autoMatchParens: true
  });

  function runApp() {
    var sandbox = $("#testFrame")[0].contentWindow.document;
    sandbox.open();

    var html = $("#app_html").val();
    sandbox.write(html);

    setTimeout(function() {
      sandbox.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" type="text/javascript"><\/script>');
      sandbox.write("<script>"+ editor.getCode() +"<\/script>");
      sandbox.close();
    }, 1);
  }
