- @title = @app.new_record? ? "Create a New App" : "Edit your App"

= javascript_include_tag 'codemirror/codemirror', 'codemirror/mirrorframe'

- form_for [:developer, @app] do |form|
  = form.error_messages

  = form.hidden_field :parent_id

  %p
    = form.label :title
    = form.text_field :title

  %p
    = form.label :description
    = form.text_area :description

  = form.submit
