- @title = @app.new_record? ? "Create a New App" : "Edit your App"

= javascript_include_tag 'codemirror/codemirror', 'codemirror/mirrorframe'

- form_for [:developer, @app] do |form|
  = form.error_messages

  = form.hidden_field :parent_id

  %p
    = form.label :title
    = form.text_field :title

  %p
    = form.label :width
    = form.text_field :width

  %p
    = form.label :height
    = form.text_field :height

  %p
    = form.label :description
    = form.text_area :description

  %p
    = form.label :lang_javascript, "JavaScript"
    = form.radio_button :lang, "javascript"
    = form.label :lang_coffeescript, "CoffeeScript"
    = form.radio_button :lang, "coffeescript", :checked => true

  = form.submit
