= stylesheet_link_tag 'pixie/pixie'
= javascript_include_tag 'pixie/jqcolor', 'pixie/jquery.hotkeys', 'pixie/pixie'

#titleModal
  %p
    = label_tag :title
    = text_field_tag :title, "", {:title => 'title'}

  %button Save

%style
  :sass
    #titleModal
      display: none

    .pixie
      padding-left: 1em
      .actions
        margin-left: 0

      .toolbar
        width: 350px

        .tool
          display: inline-block

      .color_picker_holder
        display: inline-block
        margin-right: 1em
      .swatches
        display: inline-block
        width: 200px
        vertical-align: top


:plain
  <script type="text/coffeescript">
    $ ->
      window.createPixelEditor = (options) ->
        width = options.width
        height = options.height
        dataUrl = options.dataUrl
        title = options.title
        appSpriteId = options.appSpriteId
        tab = null

        $('<div />').pixie
          width: width
          height: height
          frames: 1
          initializer: (canvas) ->
            if dataUrl
              canvas.fromDataURL(dataUrl)

            promptForTitle = ->
              $('#titleModal button').unbind()

              $("#titleModal button").one 'click', ->
                title = $("#titleModal input").val()

                tab.find("a").text title

                $.modal.close()
                postImage()

              $("#titleModal").modal
                containerCss:
                  height: 200
                  width: 400

                onClose: () ->
                  $('#titleModal button').unbind()
                  $.modal.close()

            postImage = ->
              notify "Saving, please wait..."

              postData =
                'format': 'json',
                'app_sprite_id': appSpriteId
                'app_sprite[app_id]': #{app.id}
                'app_sprite[name]': title
                'app_sprite[sprite][title]': title
                'app_sprite[sprite][width]': width
                'app_sprite[sprite][height]': height
                'app_sprite[sprite][file_base64_encoded]': canvas.toBase64()
                'app_sprite[sprite][replay_data]': JSON.stringify(canvas.getReplayData())

              $.post '/developer/apps/#{app.id}/create_app_sprite', postData, (data) ->
                sprite = data.app_sprite
                sprite.cssImageUrl = canvas.toCSSImageURL()
                sprite.width = width
                sprite.height = height

                notify("Saved!")

                # Close tab
                tab.find('span').first().click()

                updateSpriteNode sprite

                trackPageview("/event/save_drawing")
                canvas.dirty(false)
                $(".tool.button").last().removeAttr("disabled")
              , "json"

            canvas.addAction
              name: "Save"
              icon: "/images/icons/database_save.png"
              perform: (canvas) ->
                $(".tool.button").last().attr("disabled", true)

                tab = $("#tabs ul li").eq($("#tabs").tabs('option', 'selected'));

                if title
                  postImage()
                else
                  promptForTitle()

              undoable: false

  </script>
