- @title = "Edit #{app.title}"

= javascript_include_tag 'codemirror/codemirror', 'codemirror/mirrorframe'

- form_for [:developer, app] do |form|
  = form.error_messages

  = form.label :code
  .border
    = form.text_area :code

  .left= button_to_function "Run", "runApp()"
  .right= form.submit "Save"
  .clear

%iframe#testFrame.no_border{:src => "/blank.html"}

%style
  :sass
    #testFrame
      height: 480px
      width: 640px

:javascript
  $("form.edit_app").ajaxForm({
    beforeSerialize: function($form) {
      var code = editor.getCode();
      console.log(code);
      console.log($form.find("#app_code").get(0));
      $form.find("#app_code").val(code);
    },
    beforeSubmit: function() {
      notify("Saving...");
    },
    success: function() {
      notify("App Saved!");
    }
  });

  var codeTextArea = $('#app_code').get(0);
  var editor = new CodeMirror.fromTextArea(codeTextArea, {
    height: "350px",
    content: codeTextArea.value,
    parserfile: ["tokenizejavascript.js", "parsejavascript.js"],
    stylesheet: "/stylesheets/codemirror/jscolors.css",
    path: "/javascripts/codemirror/",
    autoMatchParens: true
  });

  function runApp() {
    var sandbox = $("#testFrame")[0].contentWindow.document;

    sandbox.open();

    sandbox.write(#{stylesheet_link_tag('screen.css').to_json});
    sandbox.write(#{javascript_include_tag("http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js").to_json.gsub('/', '\\/')});
    sandbox.write('<script src="/developer/apps/#{app.id}/lib.js"><\/script>');
    sandbox.write(#{app.template.to_json});
    sandbox.write("<script>$(function(){"+ editor.getCode() +"});<\/script>");

    sandbox.close();

    // Set focus
    $("#testFrame")[0].contentWindow.focus();
  }
