= stylesheet_link_tag "http://dev.jquery.com/view/trunk/plugins/treeview/jquery.treeview.css"
= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css"
= javascript_include_tag "http://dev.jquery.com/view/trunk/plugins/treeview/jquery.treeview.js"
= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"
= javascript_include_tag 'codemirror/codemirror', 'codemirror/mirrorframe'

= render :partial => "pixie"

#error

%style
  :sass
    ul.filetree
      display: inline-block
      height: 650px
      margin: 1em
      overflow-x: hidden
      width: 120px
      vertical-align: top

      .tab_data
        display: none

      span
        cursor: pointer
        &.folder
          &.resources
            background-image: url(/images/icons/images.png)
          &.sprites
            background-image: url(/images/icons/pictures.png)
          &.sounds
            background-image: url(/images/icons/sound.png)

        &.load_sprite
          background-image: url(/images/icons/picture_go.png)

        &.new_sprite
          background-image: url(/images/icons/picture_add.png)

        &.file
          white-space: nowrap
          &.coffeescript
            background-image: url(/images/icons/cup.png)
          &.javascript
            background-image: url(/images/icons/script.png)
          &.sprite
            background-image: url(/images/icons/picture.png)

    .ui-tabs
      .ui-tabs-hide
        display: none

      .ui-tabs-panel
        padding: 0

    #tabs
      display: inline-block
      margin: 1em
      margin-right: 0
      width: 552px
      vertical-align: top

      li
        .ui-icon-close
          float: right
          margin: 0.4em 0.2em 0 0
          cursor: pointer

        .ui-icon
          &.lang
            float: left
            margin: 0.4em 0 0 0.2em

            &.coffeescript
              background-image: url(/images/icons/cup.png)
            &.javascript
              background-image: url(/images/icons/script.png)
            &.sound
              background-image: url(/images/icons/sound.png)
            &.sprite
              background-image: url(/images/icons/photo.png)
        a
          font-weight: normal
          padding: 0.5em 0.6em

%ul.filetree
  %li
    %span.file{ 'data-id' => 'main', :class => app.lang } Main
  - app.libraries.each do |library|
    %li.closed{ :title => library.title }
      %span.folder= library.title
      %ul
        - library.scripts.each do |script|
          %li{ :title => script.title }
            %span.file.script{ 'data-id' => script.id, :class => script.lang }= script.title
            .tab_data{ :id => "script#{script.id}", 'data-lang' => script.lang }
              - form_for [:developer, script] do |form|
                = form.hidden_field :code, { :id => "script_code#{script.id}" }
                = form.text_area :src, { :id => "script_src#{script.id}" }

  %li.closed{ :title => "Resources" }
    %span.folder.resources Resources
    %ul
      %li.closed{ :title => "Sounds" }
        %span.folder.sounds Sounds
        %ul
      %li.closed{ :title => "Sprites" }
        %span.folder.sprites Sprites
        %ul
          %li{ :title => "Load Sprite" }
            %span.file.load_sprite Load Sprite
          %li{ :title => "Load Sprite" }
            %span.file.new_sprite New Sprite
          / TODO: Have all existing sprites added to app here
          - app.sprites.each do |sprite|
            %li{ :title => sprite.title }
              %span.file.sprite= sprite.title


#tabs
  %ul
    %li
      %span.ui-icon.lang{ :class => app.lang }
      %a{ :href => '#scriptmain' }
        Main
  #scriptmain{ 'data-lang' => app.lang }
    - form_for [:developer, app] do |form|
      = form.hidden_field :code
      = form.text_area :src

%button#save Save
%button#run Run

%iframe#testFrame.no_border{:src => "/blank.html", :width => app.width, :height => app.height}

%style
  :sass
    #testFrame
      display: block

:plain
  <script type="text/coffeescript">
    shouldCreateEditor = false
    pixieEditorIds = 0
    langClass = null

    window.createEditor = (panel) ->
      lang = $(panel).attr('data-lang')
      code_id = "#" + $(panel).find('input').eq(2).attr('id')
      src_id = "#" + $(panel).find('textarea').attr('id')

      compiled_js = ''

      compile_source = if lang == 'coffeescript'
        (source) ->
          compiled_js = ''
          try
            compiled_js = CoffeeScript.compile source, noWrap: true
            $(code_id).val compiled_js
            $('#error').hide()
          catch error
            $('#error').text(error.message).show()
      else
        (source) ->
          compiled_js = source
          $(code_id).val compiled_js

      codeTextArea = $(src_id).get(0)
      editor = new CodeMirror.fromTextArea codeTextArea,
        autoMatchParens: true
        content: codeTextArea.value
        height: "600px"
        parserfile: ["tokenize_" + lang + ".js", "parse_" + lang + ".js"]
        path: "/javascripts/codemirror/"
        stylesheet: "/stylesheets/codemirror/" + lang + "_colors.css"
        tabMode: "shift"

      # Listen for keypresses and recompile.
      $(editor.win.document).keyup ->
        compile_source(editor.getCode())
        $(src_id).val(editor.getCode())

      lang: lang

    createEditor $("#scriptmain")

    runApp = (code) ->
      sandbox = $("#testFrame")[0].contentWindow.document

      sandbox.open();

      sandbox.write(#{stylesheet_link_tag('screen.css').to_json})
      sandbox.write(#{javascript_include_tag("http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js").to_json.gsub('/', '\\/')})
      sandbox.write('<script src="/developer/apps/#{app.id}/lib.js"><\/script>')
      sandbox.write(#{app.template.to_json})
      sandbox.write("<script>$(function(){"+ code +"});<\/script>")

      sandbox.close()

      # Set focus
      $("#testFrame")[0].contentWindow.focus()

    $('#run').click ->
      runApp $('#app_code').val()

    $ ->
      $('ul.filetree').treeview()

      $('.filetree .file.script').click ->
        shouldCreateEditor = true
        scriptSelector = "#script" + $(this).attr('data-id')

        if $(scriptSelector).parents('#tabs').length
          $('#tabs ul li a[href="' + scriptSelector + '"]').click()
        else
          $tabs.tabs('add', scriptSelector, $(this).text(), 0)

      $('.filetree .file.new_sprite').click ->
        pixieEditor = createPixelEditor 32, 32
        pixieEditorId = "pixie_editor" + (pixieEditorIds++)

        pixieEditor.attr('id', pixieEditorId).addClass('tab_data').appendTo(this)

        shouldCreateEditor = false
        langClass = "sprite"

        $tabs.tabs 'add', "#" + pixieEditorId, "Sprite" + pixieEditorIds, 0

      currentPanel = $("#scriptmain")

      $tabs = $('#tabs').tabs
        add: (event, ui) ->
          $tabs.tabs('select', '#' + ui.panel.id)

          if shouldCreateEditor
            fileData = createEditor(ui.panel)

            $(ui.tab).parent().find('span.lang').addClass(fileData.lang)
          else
            if langClass
              $(ui.tab).parent().find('span.lang').addClass(langClass)

          langClass = null

        remove: (event, ui) ->
          $(ui.panel).find(".CodeMirror-wrapping").remove()
          $('.filetree').append(ui.panel)

        select: (event, ui) ->
          currentPanel = ui.panel

        tabTemplate: '<li><span class="ui-icon ui-icon-close"></span><span class="ui-icon lang"></span><a href="#' + '{href}">#' + '{label}</a></li>'


      $('#save').click ->
        $(currentPanel).find('form').ajaxSubmit({ type: 'POST' });

      $('#tabs span.ui-icon-close').live 'click', ->
        # TODO Prompt if changed
        index = $('li',$tabs).index($(this).parent())
        $tabs.tabs('remove', index)

  </script>
