= stylesheet_link_tag "http://dev.jquery.com/view/trunk/plugins/treeview/jquery.treeview.css"
= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css"
= javascript_include_tag "http://dev.jquery.com/view/trunk/plugins/treeview/jquery.treeview.js"
= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"
= javascript_include_tag 'codemirror/codemirror', 'codemirror/mirrorframe'

#error

%style
  :sass
    ul.filetree
      display: inline-block
      height: 650px
      margin: 1em
      overflow-x: hidden
      width: 120px
      vertical-align: top

      .script
        display: none

    .ui-tabs
      .ui-tabs-hide
        display: none

    #tabs
      display: inline-block
      margin: 1em
      margin-right: 0
      width: 552px
      vertical-align: top

      li
        .ui-icon-close
          float: right
          margin: 0.4em 0.2em 0 0
          cursor: pointer

        .ui-icon
          &.coffeescript
            background-image: url(/images/icons/cup.png)
            float: left
            margin: 0.4em 0 0 0.2em

        a
          padding: 0.5em 0.6em

    .folder, .file
      cursor: pointer

%ul.filetree
  %li
    %span.file{ 'data-id' => 'main' } Main
  - app.libraries.each do |library|
    %li.closed
      %span.folder= library.title
      %ul
        - library.scripts.each do |script|
          %li
            %span.file{ 'data-id' => script.id }= script.title
            .script{ 'id' => "script#{script.id}" }
              - form_for [:developer, script] do |form|
                = form.hidden_field :code, { :id => "script_code#{script.id}"}
                = form.text_area :src, { :id => "script_src#{script.id}"}

#tabs
  %ul
    %li
      %span.ui-icon.coffeescript
      %a{ :href => '#scriptmain' }
        Main
  #scriptmain
    - form_for [:developer, app] do |form|
      = form.hidden_field :code
      = form.text_area :src

#save{ :style => 'float: left; width: 100px'}
  %input{ :type => 'submit', :value => 'save' }

:plain
  <script type="text/coffeescript">
    window.createEditor = (lang, panel) ->
      code_id = "#" + $(panel).find('input').eq(2).attr('id')
      src_id = "#" + $(panel).find('textarea').attr('id')

      compiled_js = ''

      compile_source = if lang == 'coffeescript'
        (source) ->
          compiled_js = ''
          try
            compiled_js = CoffeeScript.compile source, noWrap: true
            $(code_id).val compiled_js
            $('#error').hide()
          catch error
            $('#error').text(error.message).show()
      else
        (source) ->
          compiled_js = source
          $(code_id).val compiled_js

      codeTextArea = $(src_id).get(0)
      editor = new CodeMirror.fromTextArea codeTextArea,
        autoMatchParens: true
        content: codeTextArea.value
        height: "350px"
        parserfile: ["tokenize_" + lang + ".js", "parse_" + lang + ".js"]
        path: "/javascripts/codemirror/"
        stylesheet: "/stylesheets/codemirror/" + lang + "_colors.css"
        tabMode: "shift"

      # Listen for keypresses and recompile.
      $(editor.win.document).keyup ->
        compile_source(editor.getCode())
        $(src_id).val(editor.getCode())

    createEditor "#{app.lang}", $("#scriptmain")
  </script>

:javascript
  $(function() {
    $('ul.filetree').treeview();

    $('.file').click(function() {
      var scriptSelector = "#script" + $(this).attr('data-id');
      if ($(scriptSelector).parents('#tabs').length == 0) {
        $tabs.tabs('add', scriptSelector, $(this).text(), 0);
      } else {
        $('#tabs ul li a[href="' + scriptSelector + '"]').click();
        // TODO: go to the index of that tab
      }
    });

    var currentPanel;
    var $tabs = $('#tabs').tabs({
      add: function(event, ui) {
        $tabs.tabs('select', '#' + ui.panel.id);
        createEditor("coffeescript", ui.panel);
      },
      remove: function(event, ui) {
        $('.filetree').append(ui.panel);
      },
      select: function(event, ui) {
        currentPanel = ui.panel;
      },
      tabTemplate: '<li><span class="ui-icon ui-icon-close"></span><span class="ui-icon coffeescript"></span><a href="#' + '{href}">#' + '{label}</a></li>'
    });

    $('#save').click(function() {
      $(currentPanel).find('form').ajaxSubmit({ type: 'POST' });
    });

    $('#tabs span.ui-icon-close').live('click', function() {
      var index = $('li',$tabs).index($(this).parent());
      $tabs.tabs('remove', index);
    });
  });
