= stylesheet_link_tag "http://dev.jquery.com/view/trunk/plugins/treeview/jquery.treeview.css"
= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css"
= javascript_include_tag "http://dev.jquery.com/view/trunk/plugins/treeview/jquery.treeview.js"
= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"

%style
  :sass
    ul.filetree
      display: inline-block
      height: 650px
      margin: 1em
      overflow-x: hidden
      width: 120px
      vertical-align: top

    .ui-tabs
      .ui-tabs-hide
        display: none

    #tabs
      display: inline-block
      margin: 1em
      margin-right: 0
      width: 552px
      vertical-align: top

      li
        .ui-icon-close
          float: right
          margin: 0.4em 0.2em 0 0
          cursor: pointer

    .folder, .file
      cursor: pointer

%ul.filetree
  %li
    %span.file Main
  - app.libraries.each do |library|
    %li.closed
      %span.folder= library.title
      %ul
        - library.scripts.each do |script|
          %li
            %span.file= script.title

#tabs
  %ul
    %li
      %span.ui-icon.ui-icon-close
      %a{ :href => '#fragment-1' }
        One
    %li
      %span.ui-icon.ui-icon-close
      %a{ :href => '#fragment-2' }
        Two
    %li
      %span.ui-icon.ui-icon-close
      %a{ :href => '#fragment-3' }
        Three
  %textarea#fragment-1{ :cols => '70', :rows => '30' } Tab 1
  %textarea#fragment-2{ :cols => '70', :rows => '30' } Tab 2
  %textarea#fragment-3{ :cols => '70', :rows => '30' } Tab 3

#button{ :style => 'float: left; width: 100px'}
  %input{ :type => 'submit', :value => 'save' }

:javascript
  $(function() {
    var tab_counter = 1;

    $('ul.filetree').treeview();

    $('.file').click(function() {
      alert($(this).text());
    });

    var $tabs = $('#tabs').tabs({
      tabTemplate: '<li><a href="#tabs-" + tab_counter>#label</a> <span class="ui-icon ui-icon-close">Remove Tab</span></li>',
      add: function(event, ui) {
        var tab_content = $tab_content_input.val() || 'Tab '+tab_counter+' content.';
        $(ui.panel).append('<p>'+tab_content+'</p>');
      }
    });

    $('#tabs span.ui-icon-close').live('click', function() {
      var index = $('li',$tabs).index($(this).parent());
      alert(index);
      $tabs.tabs('remove', index);
    });
  });
