%h2 Current members

%ul
  %li (Owner) #{app.user.display_name}
  - app.members.each do |member|
    %li= member.display_name

%h2 Add members
- form_tag add_user_developer_app_path do
  = label_tag :user_id, "User Id"
  = text_field_tag :user_id
  = submit_tag "Add User"
