%iframe#testFrame{:src => "/blank.html"}

%style
  :sass
    #testFrame
      border: 0px
      height: 480px
      width: 640px

:javascript
  function runApp() {
    var sandbox = $("#testFrame")[0].contentWindow.document;

    sandbox.open();

    sandbox.write(#{stylesheet_link_tag('screen.css').to_json});
    sandbox.write(#{javascript_include_tag("http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js").to_json.gsub('/', '\\/')});
    sandbox.write('<script src="/developer/apps/#{app.id}/lib.js"><\/script>');
    sandbox.write(#{app.template.to_json});
    sandbox.write("<script>$(function(){"+ #{app.code.to_json} +"});<\/script>");

    sandbox.close();
  }

  runApp();
