- num_layers = 3

- tile_width = 32
- tile_height = 32

- tiles_wide = 64
- tiles_tall = 64

.tile_editor
  .main
    .screen
      .layers
        - num_layers.times do
          .layer
            .placed

        .selection

  .bottom_bar
    .component
      %h3 Tiles:
      .tiles
        - Collection.find(params[:tileset_id]).sprites.each do |sprite|
          = image_tag(sprite.image.url, :alt => sprite.display_name)

  .sidebar
    .component
      %h3 Layer:
      .layer_select
        .choice.active Background
        .choice Midground
        .choice Foreground


:coffeescript
  debugMode = false

  tileWidth = #{tile_width}
  tileHeight = #{tile_height}

  gridResolutionX = tileWidth
  gridResolutionY = tileHeight

  currentLayer = 0

  modeDown = null

  prevTile = (mode) ->
    tileCount = $(".tiles img").length

    cur = $(".tiles ." + mode).removeClass(mode).index()

    $(".tiles img").eq((cur - 1).mod(tileCount)).addClass(mode)

  nextTile = (mode) ->
    tileCount = $(".tiles img").length

    cur = $(".tiles ." + mode).removeClass(mode).index()

    $(".tiles img").eq((cur + 1).mod(tileCount)).addClass(mode)

  entered = (x, y) ->
    if mode = modeDown
      posString = x + "x" + y

      element = $(".tiles").find("." + mode).clone().removeClass("primary secondary").css(
        position: "absolute"
        top: y
        left: x
      ).attr("data-pos", posString)

      targetLayer = $(".screen .layer").eq(currentLayer).find(".placed")

      targetLayer.find("[data-pos='" + posString + "']").remove()

      targetLayer.append(element)

  clickMode = (event) ->
    if event.which == 1
      "primary"
    else if event.which == 3
      "secondary"

  $(".tile_editor").bind "contextmenu", (event) ->
    unless debugMode
      event.preventDefault()

  $(".tiles img").live 'mousedown', (event) ->
    event.preventDefault()

    if mode = clickMode event
      $(this).addClass(mode).siblings().removeClass(mode)

  $(".layer_select .choice").live 'mousedown', (event) ->
    $(this).addClass("active").siblings().removeClass("active")

    currentLayer = $(this).index()

  $(".screen .layers").bind "mousemove", (event) ->
    offset = $(this).offset()

    localY = (event.pageY - offset.top).snap(gridResolutionY)
    localX = (event.pageX - offset.left).snap(gridResolutionX)

    oldPos = $(".screen .selection").position()

    unless oldPos.left == localX && oldPos.top == localY
      entered(localX, localY)

      $(".screen .selection").css
        left: localX
        top: localY

  $(".screen .layers").bind "mousedown", (event) ->
    if modeDown = clickMode event
      offset = $(this).offset()

      localY = (event.pageY - offset.top).snap(gridResolutionY)
      localX = (event.pageX - offset.left).snap(gridResolutionX)

      entered(localX, localY)

  $(document).bind "mouseup", (event) ->
    modeDown = null

  hotkeys =
    a: (event) ->
      prevTile("primary")
    z: (event) ->
      nextTile("primary")
    s: (event) ->
      prevTile("secondary")
    x: (event) ->
      nextTile("secondary")

  $.each hotkeys, (key, fn) ->
    $(document).bind "keydown", key, fn

  $("body").attr("id", "fullscreen")

  $(".tile_editor").noSelect()

%style
  :sass
    @import util

    $sidebar_width = 140px
    $bottom_bar_height = 140px

    .tile_editor
      +user-select(none)

      cursor: default
      height: 100%

      &>.sidebar
        left: 0
        position: fixed
        top: 0
        width: 120px

      &>.main
        +box-sizing(border-box)

        height: 100%
        padding-bottom: $bottom_bar_height
        padding-left: $sidebar_width
        padding-right: $sidebar_width
        width: 100%

      .bottom_bar
        +box-sizing(border-box)

        background-color: #00010D
        bottom: 0
        height: $bottom_bar_height
        left: 0
        padding-left: $sidebar_width
        padding-right: $sidebar_width
        position: fixed
        width: 100%

      .layer_select
        +inline-block

        .choice
          cursor: pointer

          &.active
            font-weight: bold

      .component
        +box-sizing(border-box)
        background-color: #00010D
        color: #BFE2FF
        padding: 0.5em
        width: 100%

        h3
          +text-shadow(#0A131A)
          color: #BFE2FF
          font-weight: bold

      .screen
        +box-sizing(border-box)

        height: 100%
        margin: auto
        overflow: auto
        position: relative
        width: 100%

        .layers
          background-image: url('/images/tile-editor-grid.png')
          border-bottom: 1px solid black
          border-right: 1px solid black

          height: #{tiles_tall * tile_height}px
          width: #{tiles_wide * tile_width}px

        .layer
          height: #{tiles_tall * tile_height}px
          left: 0
          position: absolute
          top: 0
          width: #{tiles_wide * tile_width}px

        .selection
          border: 2px solid green
          height: 29px
          position: absolute
          width: 29px

      img
        +inline-block

        margin-bottom: 2px
        padding: 1px

        &.primary, &.secondary
          border: 1px solid
          padding: 0px

        &.primary
          border-color: green
        &.secondary
          border-color: blue