= javascript_include_tag "/developer/apps/#{app.id}/lib"

= app.template.html_safe

<script>$(function(){#{app.code.html_safe}});</script>

%style
  :sass
    body
      overflow: hidden
      width: #{app.width}px
      height: #{app.height}px
