%style
  :sass
    .pages
      display: inline-block

- @title = @forum.title
- @meta_desc = @forum.description

= render :partial => 'forem/forums/head', :locals => { :forum => @forum }

- if @topics.num_pages > 1
  .pages
    = forem_paginate @topics

%table.topics.subdued(cellspacing=0)
  %thead
    %tr
      %th(colspan=2)= t('forem.topic.headings.topic')
      %th= t('forem.topic.headings.latest')
      %th= t('forem.topic.headings.posts')
      %th= t('forem.topic.headings.views')

  %tbody
    - if @topics.empty?
      %tr
        %td(colspan=5 align="center")= t('forem.topic.none')

    = render :partial => 'forem/topics/topic_listing', :collection => @topics
