= form_for @user_session || UserSession.new, :url => authenticate_path do |form|

  = form.error_messages

  = form.hidden_field :login, :value => "yes"
  %label
    %h3 Email Address
    = form.text_field :email

  %label
    %h3 Password
    .relative
      = form.password_field :password
      = link_to image_tag('/assets/icons/help.png', :alt => "Forgot your password?", :title => "Forgot your password?", :id => "forgot_password_link"), new_password_reset_path

  %button.full Log In

%style
  :sass
    @import partials/base
    @import util

    #new_user_session
      .relative
        position: relative

        a
          img
            bottom: 0
            margin: auto
            position: absolute
            right: 7px
            top: 0
