- form_for @user_session || UserSession.new, :url => authenticate_path do |form|

  = form.error_messages

  = form.hidden_field :login, :value => "yes"
  .span-18.last
    = form.label :email
    = form.text_field :email
  
  .span-18.last
    = form.label :password
    = form.password_field :password

  .span-18.last.prepend-3
    = form.submit "Log In"

= link_to "Forgot your password?", new_password_reset_path
.clear
