- form_for @user_session || UserSession.new, :url => authenticate_path do |form|
  = form.error_messages

  %h2 What is your email address?
  %p
    = form.label :email
    = form.text_field :email, :value => session[:email]

  %h2 Do you have a Pixie password?

  %p
    = form.label :login_no, "No, I am new"
    = form.radio_button :login, "no"

  %p
    = form.label :login_yes, "Yes, I have a password"
    = form.radio_button :login, "yes"
    = form.password_field :password
    = link_to "Forgot your password?", new_password_reset_path, :id => "forgot_password_link"

  = form.submit "Log In"

:javascript
  $(function() {
    function loginMode(login) {
      if(login) {
        $("#user_session_password").removeAttr("disabled");
        $("#user_session_submit").val("Log In");
      } else {
        $("#user_session_password").attr("disabled", true);
        $("#user_session_submit").val("Sign Up");
      }
    }

    $("#user_session_login_yes, #user_session_login_no").change(function() {
      loginMode($(this).val() == "yes");
    });

    setTimeout(function() {
      if($("#user_session_email").val()) {
        $("#user_session_login_yes").click();
        loginMode(true);
      } else {
        $("#user_session_login_no").click();
        loginMode(false);
      }
    }, 10);

    $('#user_session_submit').click(function() {
      _gaq.push(['_trackEvent', 'action_button', 'register']);
    });

    trackPageview("/event/login_screen");
  });
