- form_for @user_session || UserSession.new, :html => { :class => 'login' }, :url => authenticate_path do |form|
  = form.error_messages
  %h1 Log in or register

  %label(for="user_session_email")
    %h3 What is your email address?
    = form.text_field :email

  %h3 Do you have a Pixie password?

  %label(for="user_session_login_no")
    = form.radio_button :login, "no"
    No, I am new

  %label(for="user_session_login_yes")
    = form.radio_button :login, "yes"
    Yes, I have a password
  = form.password_field :password

  = link_to "Forgot your password?", new_password_reset_path, :id => "forgot_password_link"

  .actions
    %button#user_session_submit Log In

:coffeescript
  $ ->
    loginMode = (login) ->
      if login
        $('#user_session_password').removeAttr('disabled');
        $('#user_session_submit').text('Log In')
      else
        $('#user_session_password').attr('disabled', true)
        $('#user_session_submit').text('Sign Up')

    $('#user_session_login_yes, #user_session_login_no').change ->
      loginMode($(this).val() == 'yes')

    setTimeout ->
      if $('#user_session_email').val()
        $('#user_session_login_yes').click()
        loginMode(true)
      else
        $('#user_session_login_no').click()
        loginMode(false)
    , 10

    trackPageview("/event/login_screen")

%style
  :sass
    @import partials/base
    @import util

    #new_user_session
      width: 450px
    #user_session_submit
      +bounds(300px, 40px)

      font-size: 170%
      margin-bottom: 0
      margin-top: 0
