- form_for @user_session, :url => authenticate_path, :html => { :method => :post, :class => "authentication_form" } do |form|
  -#
    = oauth_login_hidden_input
    %h3 Use one of your accounts from an existing site for authentication
    .oauth_providers
      %ul
        - %w(twitter facebook).each do |name|
          %li.oauth_provider
            = image_tag "/images/oauth/#{name}.png"
            = radio_button_tag :oauth_provider, name
        .clearfix

%h3 Log In or Sign Up
/= render :partial => 'users/form', :locals => {:user => User.new}
= render :partial => 'form'
-#
  = link_to_function "Create a new account with Pixie", "$('#create').show(); $('#logIn').hide()", :class => "button"
  = link_to_function "Log in with your Pixie account", "$('#create').hide(); $('#logIn').show()", :class => "button"

#create{:style => "display: none;"}
  = render :partial => 'users/form', :locals => {:user => User.new}
#logIn{:style => "display: none;"}
  = render :partial => "form"

:javascript
  $(function() {
    $form = $(".authentication_form");

    // progressively enhance buttons
    $("li.oauth_provider").each(function(index, element) {
      var li = $(element);
      var input = $("input", li);
      input.css("display", "none");
      li.css("cursor", "pointer");
      li.data("oauth", input);
      li.click(function(event) {
        event.preventDefault();
        li.data("oauth").attr("checked", "checked");
        $form.submit();
        $form.find('input[name=submit]').click();
        return false;
      });
    });

    trackPageview("/event/login_screen");
  });
