= form_for @user_session || UserSession.new, :html => { :class => 'module' }, :url => authenticate_path do |form|
  = form.error_messages
  %h1 Log in or register

  %label
    %h3 What is your email address?
    = form.text_field :email

  %h3 Do you have a Pixie password?

  %label
    = form.radio_button :login, "no"
    No, I am new

  %label
    = form.radio_button :login, "yes"
    Yes, I have a password

  %label.relative
    = form.password_field :password
    %a.static-help.tipsy.hint#forgot_password_link(href="#{new_password_reset_path}" alt="Forgot your password?" title="Forgot your password?")

  %button.btn.full#user_session_submit Log In

- content_for :javascript do
  :coffeescript
    $ ->
      loginMode = (login) ->
        if login
          $('#user_session_password').removeAttr('disabled').focus()
          $('#user_session_submit').text('Log In')
        else
          $('#user_session_password').attr('disabled', true)
          $('#user_session_submit').text('Sign Up')

      $('#user_session_login_yes, #user_session_login_no').change ->
        loginMode($(this).val() == 'yes')

      setTimeout ->
        if $('#user_session_email').val()
          $('#user_session_login_yes').click()
          loginMode(true)
        else
          $('#user_session_login_no').click()
          loginMode(false)
      , 10

      trackPageview("/event/login_screen")
