<!DOCTYPE html>
%html{ 'xmlns' => "http://www.w3.org/1999/xhtml",  'xmlns:fb' => "http://www.facebook.com/2008/fbml" }
  = render :partial => "/shared/head"

  %body#fullscreen.ide
    -# IDE Specific
    = stylesheet_link_tag 'pixie/pixie'
    = stylesheet_link_tag "jquery.treeview"
    = stylesheet_link_tag 'ide'

    = javascript_include_tag "jquery.treeview.js"
    = javascript_include_tag 'codemirror/codemirror', 'codemirror/mirrorframe'

    #flashes
      - flash.each do |key, msg|
        %div{ :class => key }
          = msg
          .close

    =link_to image_tag('/images/pixie.png', :alt => "About", :title => "About Pixie", :id => "logo"), root_path
    #bulb

    - if @title
      %h1= @title

    = yield

    - if @has_reg_popup
      = render :partial => 'shared/register_modal'
    = render :partial => "/shared/feedback"
    = render :partial => "/shared/chat"
    = render :partial => "/shared/nav_dock"
    = render :partial => "/shared/hotkeys"

    #tooltip
      .icon
      .content

    #login_link
      = render :partial => "/shared/login"

    = javascript_include_tag "coffee-script"

    = render :partial => "/shared/analytics"

    - if @registered || (flash[:notice] == UsersController::REGISTERED_FLASH)
      = render :partial => "/shared/conversion"
      :javascript
        $(function() {
          trackPageview("/event/registered");
        });
