<!DOCTYPE html>
%html{ 'xmlns' => "http://www.w3.org/1999/xhtml",  'xmlns:fb' => "http://www.facebook.com/2008/fbml" }
  = render :partial => "/shared/head"

  %body#fullscreen
    -# IDE Specific
    = stylesheet_link_tag 'pixie/pixie'
    = stylesheet_link_tag "jquery.treeview"
    = stylesheet_link_tag 'ide'

    = javascript_include_tag "jquery.treeview.js"
    = javascript_include_tag 'codemirror/codemirror', 'codemirror/mirrorframe'
    = javascript_include_tag 'pixie/jqcolor', 'pixie/pixie'

    .container
      #content
        #flashes
          - flash.each do |key, msg|
            %div{ :class => key }= msg

        #logo

        - if @title
          %h1= @title

        = yield

      - if @has_reg_popup
        = render :partial => 'shared/register_modal'

    #tooltip
      .icon
      .content

    = javascript_include_tag "coffee-script"

    = render :partial => "/shared/analytics"

    - if @registered || (flash[:notice] == UsersController::REGISTERED_FLASH)
      = render :partial => "/shared/conversion"
      :javascript
        $(function() {
          trackPageview("/event/registered");
        });
