<!DOCTYPE html>
%html
  = render :partial => "/shared/head"

  %body#fullscreen.ide(eventCategory="IDE")
    -# IDE Specific
    = stylesheet_link_tag 'pixie'
    = stylesheet_link_tag 'ide'

    - content_for :javascript do
      = javascript_include_tag "treeview/jquery.treeview.js"
      = javascript_include_tag 'codemirror/codemirror', 'codemirror/mirrorframe'

    = render :partial => "/shared/header"

    -# Force chrome frame
    = render :partial => "/shared/chrome_frame"

    = yield

    #tooltip
      .content
      %a.button.next_tip
        %span.static-arrow_right
        Next
      %a.button.show_me
        %span.static-joystick
        Show me how!
      .close
        .close_tip.x(title="close" alt="close")

    = render :partial => "/shared/footer"
