<!DOCTYPE html>
%html
  = render :partial => "/shared/head"

  %body#fullscreen.ide(eventCategory="IDE")
    -# IDE Specific
    = stylesheet_link_tag 'pixie'
    = stylesheet_link_tag "jquery.treeview"
    = stylesheet_link_tag 'ide'

    = javascript_include_tag "jquery.treeview.js"
    = javascript_include_tag 'codemirror/codemirror', 'codemirror/mirrorframe'

    = render :partial => "/shared/header"

    = yield

    - if @has_reg_popup
      = render :partial => 'shared/register_modal'
    = render :partial => "/shared/feedback"
    = render :partial => "/shared/chat"
    = render :partial => "/shared/hotkeys"

    #tooltip
      .icon
      .content

    = render :partial => "/shared/analytics"

    - if @registered || (flash[:notice] == UsersController::REGISTERED_FLASH)
      = render :partial => "/shared/conversion"
      :javascript
        $(function() {
          trackPageview("/event/registered");
        });
