<!DOCTYPE html>
%html
  = render :partial => "/shared/head"

  %body#fullscreen.ide(eventCategory="IDE")
    -# IDE Specific
    = stylesheet_link_tag 'pixie'
    = stylesheet_link_tag "jquery.treeview.css"
    = stylesheet_link_tag 'ide'

    - content_for :javascript do
      = javascript_include_tag "treeview/jquery.treeview.js"
      = javascript_include_tag 'codemirror/codemirror', 'codemirror/mirrorframe'

    = render :partial => "/shared/header"

    -# Force chrome frame
    = render :partial => "/shared/chrome_frame"

    = yield

    #tooltip
      .icon
      .content

    = render :partial => "/shared/footer"
