<!DOCTYPE html>
%html
  %head
    %title
      - if @title
        = @title
      - else
        Widget
      PixieEngine - Create Games
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %meta{ :name => "description", :content => (@meta_desc || "Just another Pixie Application.") }
    <meta name="google-site-verification" content="0FAurYC_rgKeOIIzTKuunYVGbrc9gCI9xPClgJvN5_w" />
    <meta name="msvalidate.01" content="AA62CD2D00BD5CE103C280DD73C569C0" />

    = csrf_meta_tag

    = stylesheet_link_tag 'project', :media => 'screen, projection'

    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"
    :javascript
      var loggedIn = #{!!current_user};

  %body.contents_centered
    = yield

    = content_for :javascript

    = render :partial => "/shared/analytics"

    - if @registered || (flash[:notice] == UsersController::REGISTERED_FLASH)
      = render :partial => "/shared/conversion"
      :javascript
        $(function() {
          trackPageview("/event/registered");
        });
